



@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

.over-view {
    position: relative;
    text-align: center;
}
.col-md-8.no-padding-right.col-sm-12 {
    margin-bottom: 16px;
        margin-top: 14px;

}
div#update-bg-image {
    right: 5%;
    }
.pay{
    padding: 92px 4px 84px 24px;

}
.life-style:after{
        border-left: 121px solid transparent;

}
nav.navbar.res .nav>li>a {
    padding: 0px 6px;
}
nav.navbar.res .navbar-brand>img {
    max-width: 151px;
}
nav.navbar.res ul.nav.navbar-nav.navbar-right {
    margin-top: 13px;
}
}
@media screen and (max-width: 480px) {
.edit-new {
    margin-right: 56px;

}
.background-image h2 {
    font-size: 105px;
}
.New-describe-section p{
        margin: 0 9px;

}
.portfolio {
    margin-top: 0;
}
.portfolio .sub-heading {
    display: inline-block;
    margin-bottom: 46px;}
    
    .camera-img {
    float: right;
    margin-bottom: 27px;
}
.portfolio .new-file ul{
    text-align: right;

}
.over-view {
    position: relative;
    margin-bottom: 14px;
}
.new-file-service{
        margin-bottom: 17px;

}
.pay{
        padding: 90px 15px 84px 12px;

} 
.life-style:after {
    border-left: 167px solid transparent;
    border-right: 188px solid transparent;
    border-top: 26px solid #f6f6f6;
}
.payments {
    padding-bottom: 41px;

}
.creative-photo-img select.form-control{
        margin-bottom: 14px;

}
.profile_pic:after{
        width: 34%;

}
div#update-bg-image {
    right: 17%;
    bottom: 41%;
}
.background-image h2 {
    font-size: 55px;
}
.col-md-4.no-padding-right, .col-md-8.no-padding-right {
    padding-right: 15px;
}
}
@media screen and (max-width: 414px){
.edit-new {
    margin-right: 86px;
}
}