
@font-face {
  font-family: 'Poppins', sans-serif;
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*login css*/

.Logn-logo img {
    width: 76px;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: unset;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
body
{
    font-family: 'Poppins', sans-serif;

}

header.login_HEADER
{
    box-shadow: 3px 2px 18px 0px rgba(203, 210, 215, 0.4);
    padding: 10px 0px;
}

section.login_FORM {
    background-image: url(../images/login-new.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
     padding: 52px 0px 41px;

    height: auto;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    margin-top: 70px;

}

section.login_FORM h2 {
  font-size: 50px;
  background: -webkit-linear-gradient(#610f41, #c1206c);
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

section.login_FORM input.form-control, section.login_FORM select.form-control {
    border-bottom: 1px solid #b6bfc5;
    height: 55px;
    box-shadow: none;
    border-top: 0px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 37px;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    color: #636c71;
    border-right: 0px;
}
section.login_FORM textarea.form-control {
    border-bottom: 1px solid #b6bfc5;
     height: 162px;
    resize: none;
    box-shadow: none;
    border-top: 0px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 37px;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    color: #636c71;
    border-right: 0px;
}

section.login_FORM form {
    width: 410px;
    margin: 22px auto 30px;
    max-width: 100%;

}

section.login_FORM form .form-group input.form-control::placeholder {
    color: #99a5ad;    
    font-weight: 300;
    font-size: 18px;
}

section.login_FORM .btn-primary {
    color: #fff;
    background-color: #00b3a7;
    border-color: #00b3a7;
    height: 55px;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
}

section.login_FORM form i.fa {
    font-size: 22px;
    color: #b1bbc1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 0px solid;
    height: 20px;
    line-height: 17px;
}
section.login_FORM form .form-group
{
    position: relative; 
    margin-bottom: 9px;
    float: left;
    width: 100%;
}

section.login_FORM form i.fa.fa-lock {
    font-size: 27px;
}
section.login_FORM form .form-group.trouble_text {
    font-size: 16px;
    color: #51a2d5;
    text-align: center;
    margin-bottom: 60px;
    display: block;
}

section.login_FORM .form-group p {
    font-size: 22px;
    color: #72848f;
    font-weight: 300;
}

section.login_FORM .form-group p a {
    color: #8a0e49;
    font-weight: 600;
}

section.login_FORM .form-group.signup_a {
    text-align: center;
        margin-bottom: 60px;
}
footer.login_FOOTER {
    height: 14px;
    float: left;
    width: 100%;
    background-color: #8a0e49;
}

section.login_FORM.singup
{
    background-image: url(../images/sign-up-bg.png);
}
.sub-title
{
    font-size: 24px;
    color: #84939b;     
    font-weight: 400;
    margin-top: 14px;
}

section.login_FORM.singup form {
    width: 871px;
    max-width: 100%;
    }

    .upload_pic input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100px;
    cursor: pointer;
    opacity: 0;
    z-index: 9;
}
.upload_pic {
    position: relative;
    margin: auto;
    width: 109px;
    height: 109px;
    cursor: pointer;
}
.profile_pic.text-center {
    color: #9fa6aa;
    font-size: 18px;
    font-weight: 400;
}
.profile_pic
{
    position: relative;
}

.profile_pic:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 41%;
    background-color: #e4e7e9;
    left: 0px;
    top: 56px;
    margin: auto;
}

.profile_pic:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 41%;
    background-color: #e4e7e9;
    right: 0px;
    top: 56px;
    margin: auto;
}
.navbar-nav li.last {
    padding-right: 0;
}
input.btn.btn-primary.width-415
{
    width: 415px; margin: auto;
    margin-top: 28px;
    max-width: 100%;

}

section.login_FORM.verify-mail {
    height: 670px;
        background-image: url(../images/vetify-bg.png);
}

.verify-mail p.h3 {
    font-size: 36px;
    color: #3a4145;
    font-weight: 500;
    text-align: center;
    margin: 30px 0px 55px;
}
.login_HEADER.new .toggle {
    float: left;
        margin-top: 8px;

}

.login_HEADER.new .logo-out {
    float: right;
}
.login_HEADER.new .logout {
    display: flex;
    align-items: center;
}
.login_HEADER.new .logo-out {
    display: flex;
}
.login_HEADER.new .Logn-logo{
    position: absolute;
    right: 0;
    left: 0;
    top: 5px;
}
.logo-out p a {
    color: #84939b;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
        margin-bottom: 0;

}
.logo-out p{
    margin-bottom: 0;
}
.login_HEADER.new .logout figure {
    margin-right: 20px;
}
.edit-new {
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-new i{
    color: #84939b;
    font-size: 18px;
    font-weight: 400;
        margin-bottom: 0;
        margin-right: 8px;

}
.edit-new {
    margin-right: 31px;
}
header.login_HEADER.new{
    padding: 21px 0px;
}
.background-image h2 {
    font-size:180px;
    text-align: center;
    text-transform: capitalize;

    font-weight: 400;
    font-family: 'Damion', cursive;
     background: -webkit-linear-gradient(#780c4f, #ad0e5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      margin: 0;
          position: relative;
          display: inline-block;
              margin-bottom: 31px;



}
/*.background-image{
    background-image: url(../images/backcolor.png);
    padding: 98px 0 144px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 77px;

}*/
.New-describe-section h1 {
    font-size: 32px;
    color: #27373f;
    font-weight: 400;
}
.New-describe-section h2 {
    font-size: 22px;
    color: #84939b;
        margin-top: 0;
            position: relative;


}
.New-describe-section {
   text-align: center;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 2px 30px 0px rgba(0, 45, 83, 0.1);
    border-radius: 10px;
    margin-top: -32px;
    z-index: 9999;
    position: relative;
    background-color: #fff;
        margin-top: -73px;

        padding-bottom: 33px;


}
.New-describe-section figure img {
    margin-top: -108px;
}
.New-describe-section p {
    font-size: 16px;
    color: #84939b;
    margin: 0 63px;
    line-height: 27px;
        margin-top: 41px;

}
.New-describe-section h2:before {
    content: '';
    background: -webkit-linear-gradient(#780c4f, #ad0e5a);
    height: 5px;
    max-width: 50px;
    width: 100%;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.sub-heading h4 {
    font-size: 24px;
    color: #84939b;
    font-weight: 400;
        position: relative;

}
.sub-heading p {
    background: -webkit-linear-gradient(#780c4f, #ad0e5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-size: 50px;
        line-height: 59px;

}
.portfolio {
    margin-top: 20px;
        margin-bottom: 81px;
/*            background-color: #f6f9fa;
*/

}
.sub-heading h4:before{
content: '';
    background: -webkit-linear-gradient(#780c4f, #ad0e5a);
    height: 5px;
    max-width: 50px;
    width: 100%;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
}
.portfolio .new-file ul li {
    display: inline-block;
}
.portfolio .new-file {
    float: right;
    vertical-align: top;
}
.portfolio .sub-heading {
    display: inline-block;
    margin-bottom: 30px;

}
.portfolio .new-file ul li {
    display: inline-block;
    font-size: 18px;
    color: #b2bcc6;
    font-weight: 400;
        padding-left: 29px;

}
.new-file ul li.active {
    background-color: #fff0f7;
    padding: 5px 21px;
    border-radius: 30px;
    color: #8a0e49;
}
/*.gallary img {
     width: 100%; 
}*/
.gallary .row {
    margin-bottom: 16px;
}
.col-md-4.no-padding-right,.col-md-8.no-padding-right {
    padding-right: 0;
}
img.new-gallewr {
    max-width: 100%;
}
.gallary img{
        max-width: 100%;



}
img.nine {
    position: absolute;
    bottom: -15px;
    /* left: 0; */
    right: -10px;
    z-index: -1;
}
/*.gallary {
        margin-top: 55px;
            padding-bottom: 104px;
               background-image: url(../images/black-dot.png);
                padding: 144px;
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;



}*/
.gallary {
      
               background-image: url(../images/back-dot.png);
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
        padding: 120px 0;
            padding: 12px 0 84px 0px;




}
.wrapper {
    margin-top: -40px;
}
/*.dot-contaoner {
    text-align: center;
    padding-top: 76px;
    position: absolute;
    left: 0;
    right: 0;
}*/
span.begin {
    font-size: 24px;
    color: #8a0e49;
    font-weight: 700;

}
.new-file-service h3 {
    font-size: 24px;
    color: #27373f;
        line-height: 23px;
            margin-bottom: 16px;


}
.new-file-service p {
    font-size: 16px;
    color: #75858e;
    font-weight: 300;
        padding-right: 4px;

}
.new-file-service {
    box-shadow: 0px 2px 30px 0px rgba(0, 45, 83, 0.1);
    padding: 39px 12px 39px 27px;
        /*border-radius: 12px;*/

}
.service{

    background-image: url(../images/service.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 0 62px 0px;
     background-color: #fff;
}
.service .sub-heading {
    display: inline-block;
    margin-bottom: 58px;
}
.circle {
    width: 135px;
    height: 135px;
    background-color: #dbdbdb;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 30px 0px rgba(0, 45, 83, 0.1);

    border-radius: 100%;
position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
        z-index: 999;

}
.circle p {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    margin-top: 24px;
    line-height: 20px;
    margin-top: 32px;

}
.circle h2 {
   /* font-size: 44px;*/
  font-size: 36px;
    color: #fff;
    font-weight: 800;
        margin-top: 0;

}
.life-style h2 {
    font-size: 30px;
    color: #27373f;
    font-weight: 700;
    line-height: 10px;
    margin-top: 30px;
    margin-bottom: 18px;

}
.life-style p{
    font-size: 21px;
    color: #27373f;
    font-weight: 300;
}
.payments {
    background-color: #fff;
box-shadow: 0px 19px 30px 0px rgba(0, 29, 61, 0.09);
    text-align: center;
        border-radius: 6px;
                padding-bottom: 41px;


}
.text-color ul li {
    text-align: left;
}
/*.life-style{
      background-image: url(../images/polygon.png);
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
        }*/
        .life-style {
       background-color: #f6f6f6;
    padding-top: 77px;
    padding-bottom: 29px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
        padding-bottom: 3px;

}
.text-color ul li {
    color: #75858e;
    font-size: 15px;
    font-weight: 300;
        position: relative;
            margin-bottom: 9px;


}
.text-color ul li:before{
   content: '';
    background-image: url(../images/trick.png);
    position: absolute;
    padding: 12px;
    background-repeat: no-repeat;
    left: -25px;
    top: 5px;
}
.text-color {
    position: relative;
        margin-top: 42px;

}
.text-color ul {
    list-style-type: none;
    margin-left: 43px;
}
.text-color {
    padding-right: 14px;
}
.new-button {
    width: 174px;
    height: 53px;
    background-color: #00b3a7;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 52px;
    color: #fff;
    border-radius: 7px;
        margin-top: 22px;


}
.pay{
        background-image: url(../images/bottom.png);
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
        padding: 46px 0 84px 0px;
        background-color: #fff;
}
.pay .col-md-3 {
    margin-top: 67px;
}
.life-style {
      
      position: relative;
    }
        
   .life-style:after {
         content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 136px solid transparent;
    border-right: 125px solid transparent;
    border-top: 25px solid #f6f6f6;
    margin: 0 auto;
    }
    .img-contaoner {
    text-align: center;
    margin-top: 48px;
}
.portfolio .sub-heading {
    display: inline-block;
    margin-bottom: 73px;
}
.img-goood  {
    position: relative;
    text-align: center;

}
img.dots {
    position: absolute;
}
.background-image-new{
        background-image: url(../images/camera-bg.png);
    padding: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        padding-top: 42px;
                padding-bottom: 98px;



}
.portfolio.new {
    margin-bottom: 0;
}
.camera-img {
    float: right;
}
.camera-img img {
    margin-left: 30px;
}
.edit-new img {
    margin-right: 16px;
}
.edit-new {
    margin-right: 31px;
    border-right: 1px solid #e9eef1;
    padding-right: 27px;
}
/*creative*/
header.login_HEADER.new.creative .toggle img {
    width: 76px;
    /* height: 85px; */
}
header.login_HEADER.new.creative  .new-button {
    width: 136px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
        margin-left: 16px;
            margin-top: 20px;


}
header.login_HEADER.new.creative .new-button.first {
    background-color: #e8eff3;
    color: #63727a;
}
header.login_HEADER.new.creative {
    padding: 0px 0px 11px;
}
.new-creative{
    background-image: url(../images/banner-background.png);
      background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
    padding: 90px 0 84px 0px;
        background-color: #fff;

}
.new-creative h2 {
    font-size: 77px;
    color: #27373f;
        position: relative;

}
.new-creative h2 span{
color:#8a0e49;
    font-family: 'Damion', cursive;
    font-size: 115px;

}
.new-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        border-radius: 3px;
        border: 1px solid #fff;
        width: 110px;
        height:110px;
            text-align: center;
                padding-top: 26px;



}
.new-top span{
    font-size: 16px;
    color: #fff;
    display: block;
}
.over-view {
    position: relative;
}
.col-md-4.no-padding-right.col-sm-4.current:last-child .overlay {
  position: absolute;
  bottom: 100%;
    background-color: rgba(0, 0, 0 ,0.8);
  overflow: hidden;
  width: 100%;
  height:100%;
      top: 0;

  transition: .5s ease;
}
.overlay-container:last-child {
    /*//background-color: red !important;*/
}
.new-top {
    display: none;
}
.col-md-4.no-padding-right.col-sm-4.current:last-child .new-top{
    display:block;
}
/*.over-view:hover .overlay {
  bottom: 0;
  height: 100%;
}*/
.creative-photo-img select.form-control {
    color: #84939b;
    font-size: 18px;
    /* padding: 12px 0; */
    height: 46px;
    font-weight: 400;
    border: 1px solid #ccd5d8;
        -webkit-appearance: none;
             background-image: url(../images/drop-down-icon.png); 
    background-repeat: no-repeat;
    background-position: 94% center;

}
.creative-photo-img {
    padding: 61px 0;   
    border-bottom: 0;
        background-image: url(../images/background2.png);
           background-repeat: no-repeat;
    background-position: center;
        background-size: cover;

}
.creative-photo-img .sub-heading {
margin-bottom: 32px;
    margin-left: 13px;}
.gallery-new {
    box-shadow: 0px 2px 30px 0px rgba(0, 45, 83, 0.1);
    border-radius: 12px;
padding-bottom: 26px;
    margin-bottom: 34px;
        min-height: 500px;

}
.new-wrappwe {
    position: relative;
}
img.new-photo {
    position: absolute;
    bottom: -68px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
 .new-wrappwe img{  
  max-width: 100%;
}
.new-wrappwe h3 {
    font-size: 22px;
    color: #27373f;
    font-weight: 400;
}
.text-gallery {
    margin-top: 83px;
    text-align: center;
        padding: 0 28px;

}
img.origin {
margin-right: 24px;
    position: relative;
    top: -1px;
}
.text-gallery h2 {
   font-size: 26px;
    color: #27373f;
    font-weight: 700;
    border-bottom: 1px solid #e5ebef;
    padding-bottom: 21px;
}

.new-button.creative {
    font-weight: 700;
        margin-top: 17px;

}
.new-photo-gallerys {
    margin-top: 47px;
}
.pagination li.active span {
    width: 45px;
    height: 45px;
    background-color: #8a0e49;
    border-radius: 100%;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    line-height: 41px;
    color: #fff;
    margin-top: 2px;
}
.pagination ul li {
    display: inline-block;
    padding: 0 13px;
    cursor: pointer;
}
.pagination li span {
    font-size: 26px;
    text-align: center;
    line-height: 42px;
    color: #9ca8ae;
}
.pagination li span a {
    color: #9ca8ae;

}
.pagination li.first {
    /* margin-top: -2px; */
    position: relative;
    top: -3px;
}
.pagination{
    margin-top: 44px;
}
.new-creative img.dots {
    position: absolute;
    top: -22px;
    right: 0;
}

nav.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-image: -webkit-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);
    position: fixed;

}
/*************** section start **************/
.sec_banner {
    background-image: url(../images/hire-me.png);
    background-repeat: no-repeat;
    /*height: 100vh;*/
    background-size: cover;
    margin-top: 7px;
    padding: 110px 0px 0px;
    margin-top: 90px;
}
.hire_me_bg {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 55%;
    margin: auto;
    -webkit-box-shadow: 1px 0px 8px rgb(203,210,215);
       -moz-box-shadow: 1px 0px 8px rgb(203,210,215);
         -o-box-shadow: 1px 0px 8px rgb(203,210,215);
            box-shadow: 1px 0px 8px rgb(203,210,215);
}
.hire_me_heading {
    background-color: #8a0e49;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 25px;
}
.hire_me_heading h3 {
       color: #fff;
    font-family: 'Poppins Regular';
    font-size: 28px;
    font-weight: 500;
}
.hire_form_fields {
    position: relative;
}
.hire_form_fields label,
.hire_form_fields .to,
.hire_form_fields .subject {
    position: absolute;
    top: 14px;
    color: #99a5ad;
    left: 25px;
    font-size: 17px;
}
.hire_form_fields .to {
    top: 64px;
}
.hire_form_fields .subject {
    top: 116px;
}
.hire_form_fields input,
.hire_form_fields .to_input,
.hire_form_fields .sub_input {
    padding: 25px 78px;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #b6bfc5;
}
.hire_form_fields .to_input {
    padding: 25px 56px;
}
.hire_form_fields .sub_input {
    padding: 25px 98px;
}
.hire_form_fields input:focus {
    box-shadow: none;
    border-bottom: 1px solid #b6bfc5;
}
.hire_form_fields textarea {
    padding: 12px 27px;
    width: 100%;
    font-family: 'Poppins Light';
    resize: none;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #f5f5f5;
}
.hire_form_fields textarea:focus {
    box-shadow: none;
    border-bottom: 1px solid #b6bfc5;
}
.hire_form_fields textarea::-webkit-input-placeholder {
    color: #99a5ad;
}
.send_info {
    padding: 20px 30px;
}
.send_info button {
    background-color: #00b3a7;
    letter-spacing: 2px;
    font-family: 'Poppins SemiBold';
    border-color: #00b3a7;
    padding: 7px 30px;
    -webkit-box-shadow: 1px 0px 3px rgb(0,179,167);
       -moz-box-shadow: 1px 0px 3px rgb(0,179,167);
         -o-box-shadow: 1px 0px 3px rgb(0,179,167);
            box-shadow: 1px 0px 3px rgb(0,179,167);
}
.send_info button:hover {
    background-color: #028c83;
    border-color: #028c83;
}
.send_info button.btn-success:focus,
.send_info button.btn-success:not(:disabled):not(.disabled):active:focus {
    background-color: #00b3a7;
    border-color: #00b3a7;
    box-shadow: none;
}
.send_info img {
    margin: 0 16px;
    cursor: pointer;
}
.send_info img:not(:nth-child(10n)) {
    margin-right: 0;
}
.send_info img:hover {
    filter: invert(100%)
}
/*************** section end **************/

@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
/*************** Media Quires **************/
@media (max-width: 767px) {
    .send_info {
        flex-wrap: wrap;
    }
    .hire_me_bg {
        width: 93%;
    }
}
@media (max-width: 575px) {
    .send_info button {
        margin-bottom: 12px;
    }
}