.datepicker-wrapper{
    width: 309px;
    height: 43px;
    input{
        max-width: 100%;
        height: 100%;
        margin: 0;
        background: #FFFFFF;
        border: 1px solid #E4E4E7;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.09px;
        color: #111827;
        background-image: url("C:/Users/Sukesh/Documents/APPARRANT/twiva-admin/images/icons/calender-icon.svg");
        background-position: top 50% right 10px;
        background-repeat: no-repeat;
        cursor: pointer;
        text-align: left;
    }
}