.product-main{
    display: flex;
    padding: 13px 16px 0 24px;

    .product-detail-cont {
        max-width: 48%;
        flex: 0 0 45%;
        margin-right: 37px;

        .browse-box {
            .slick-slider{
                max-width:555px;
            }
            img {
            width: 555px;
            height: 436px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .browse-items {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 555px;
        width: 100%;
        margin: 15px 0 0 0;
        position: relative;
        
        .slick-prev, .slick-next{
            color: transparent;
            min-width: 48px;
            min-height: 48px;
            border-radius: 50%;
            border: 0;
            background: #E5E7EB;
            cursor: pointer;
        }

        .slick-prev{
            background-image: url("../images/icons/left-arr.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        .slick-next{
            background-image: url("../images/icons/right-arr.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
        
        .browse-ss {
            width: 100px;
            height: 90px;
            margin-right: 10px;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
            }
            a{
                width: 100px;
                height: 90px;
            }
            img{
                width: 100px;
                height: 90px;
                object-fit: cover;
                border-radius: 8px;
                overflow: hidden;
                
            }
    
            @media screen and (max-width: 767px){
                margin: 0 4px;
            }
        }
    
        a{
            width: 48px;
            height: 48px;
            text-align: center;
            background: #e1e1e1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            margin: 0 5px 0 0;
            top:20px;
            img{
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
    
            @media screen and (max-width: 767px){
                height: auto;
            }
        }
    }
    }

    .product-specification{
        max-width: 48%;
        flex: 0 0 48%;

        h2 {
            font-weight: 700;
            font-size: 29px;
            margin: 0 0 15px 0;
            line-height: 38px;
        }

        h3{
            font-size: 20px;
            font-weight: 700;
            margin: 0;

            label{
                font-size: 24px;
            font-weight: 600; 
            width: 100px;
            }

            b{
                font-size: 30px;
            }
        }
        .spec-row{
            display: flex;
            align-items: flex-start;
            margin: 25px 0 0 0;
            .color-lists{
                div{
                    width: 40px;
                    height: 40px;
                    margin: 0 13px 0 0;
                }
            }

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
            div{
                display: flex;
                align-items: flex-start;
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    margin: 0;
                }

                button{
                    margin: 0 0 0 10px;
                    background: #E0FFE5;
                    border: 0.5px solid #219653;
                    border-radius: 1px;
                    color: #27AE60;
                    font-size: 14px;
                    padding: 2px 9px;
                }

                span{
                    font-weight: normal;
                    font-size: 18px;
                    margin: 0 10px 0 0;
                }


                // .color-box{
                //     width: 40px;
                //     height: 40px;
                //     margin: 0 13px 0 0;
                // }

                // .pink-volor {
                //     width: 40px;
                //     height: 40px;
                //     background: #FECACA;
                //     margin: 0 13px 0 0;
                // }
                // .orange-volor {
                //     width: 40px;
                //     height: 40px;
                //     background: #FDBA74;
                //     margin: 0 13px 0 0;
                // }
                // .blue-volor {
                //     width: 40px;
                //     height: 40px;
                //     background: #CCFBF1;
                //     margin: 0 13px 0 0;
                // }
            }
        }

        .prod-desc {
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
        }

        .prod-spec{
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100%;
                font-weight: 600;
            }

            ul{
                margin: 10px 0 0 0;
                li{
                    display: block;
                    width: 100%;
                    margin: 0 0 10px 0;
                    padding: 0 0 0 15px;
                    position: relative;

                    &:before{
                        position: absolute;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        background: #6A6A6A;
                        border-radius: 50%;
                        content: "";
                        top: 8px;
                    }
                }
            }

            .review-author {
                margin: 0 0 6px 0;

                span{
                    display: inline-block;
                    vertical-align: top;
                    width: 16px;
                    height: 16px;
                    margin: -1px 0 0 0;
                }
            }

            .date {
                margin: 0 0 10px 0;
                font-size: 14px;
            
                img {
                margin: 0 10px 0 0;
            }
         }
      }

      .common-button {
        margin: 38px 0 0 0;
        .white-bttn{
            background: #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #7A0D41;
        }
        .purple-btn{
            background: #7A0D41;
            border-radius: 4px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }

    }

   }
}


.switch-check-box-wrapper {
    display: flex;
    margin-top: 41px;
  }
  .switch-check-box-wrapper span {
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
  .switch-check-box-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch-check-box-wrapper .label-switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  .switch-check-box-wrapper .label-switch:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  .switch-check-box-wrapper input:checked + .label-switch {
    background: #2F80ED;
  }
  .switch-check-box-wrapper input:checked + .label-switch:after {
    left: calc(100% - 5px);
    transform: translateX(-250%);
  }