
//******   Scroll Bar Styling Start ******//

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 32px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E4E4E4;
}

//******   Scroll Bar Styling End ******//

#business-dashboard{
    .right_col{
        overflow-x: scroll;

        &::-webkit-scrollbar {
            height:2px;
            visibility: hidden;
        }
          
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
            visibility: hidden;
        }
           
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.1); 
            border-radius: 32px;
            visibility: hidden;
        }
          
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #E4E4E4;
        }

        .catalog-page{
            padding: 32px 40px 41px 24px;
            .select-top{
                .search-wrap{
                    display: flex;
                    justify-content: space-between;
                    width:100%;
                    .search-panel{
                        margin-top: 0px;
                        margin-right: 8px;
                        max-width: 405px !important;
                        height: 43px;
                        background-color: #fff !important;
                        padding: 0 !important;
                        input::placeholder{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 150%;
                            color: #3F3F46;
                        }
                    }
                }
                .button-catalog{
                    .white-bttn{
                        background: #FFFFFF;
                        border: 1px solid #7A0D41;
                        box-sizing: border-box;
                        border-radius: 4px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: #7A0D41;
                    }
                    .purple-btn{
                        background: #7A0D41;
                        border-radius: 4px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
            }


            .table-responsive{
                #admin-table, #dtOrderExample{
                    margin-bottom: 0 !important;
                    thead{
                        background: #EDEFF5;
                        height: 40px;
                        tr{
                            
                            th{
                                padding:16px;
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 15px;
                                text-transform: uppercase;
                                color: rgba(19,50,86,0.7);
                                border-top: 1px solid rgba(29,59,168,0.1);
                                border-bottom: 1px solid rgba(19,50,86,0.5);
                                border-right: 1px solid rgba(19,50,86,0.1);
                                white-space: nowrap;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                
                                vertical-align: middle;
                                padding:16px;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                color: #4B5563;
                                border-bottom: 1px solid rgba(0,0,0,0.1);
                                white-space: nowrap;
                                &.title{
                                    font-weight: 400;
                                }
                                &.eshop-active{
                                    color: #27AE60;
                                    p{  
                                        width:fit-content;
                                        background: rgba(39, 174, 96, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #27AE60;
                                        padding: 4px 8px;
                                    }
                                }
                                &.eshop-failed{
                                    p{
                                        width:fit-content;
                                        background: rgba(255, 76, 97, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #EB5757;
                                        padding: 4px 8px;  
                                    }
                                }
                                &.eshop-upcoming{
                                    p{
                                        width:fit-content;
                                        background: rgba(74, 179, 251, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        color: #4AB3FB;
                                        padding: 4px 8px; 
                                    }
                                }
                                &.in-stock{
                                    p{  
                                        width:fit-content;
                                        background: #E0FFE5;
                                        border: 0.5px solid #219653;
                                        border-radius: 1px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #27AE60;
                                        padding: 2px 8px;
                                    }
                                }
                                &.in-process{
                                    p{  
                                        width: fit-content;
                                        background: rgba(255, 184, 0, 0.2);
                                        border-radius: 2px;
                                        padding: 4px 8px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        color: #F2994A;
                                    }
                                }

                                &.ongoing{
                                    p{  
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: rgba(255, 195, 0, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #FFC300;
                                    }
                                }
                                &.completed{
                                    p{  
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: #E0FFE5;
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #27AE60;
                                    }
                                }

                                &.declined{
                                    p{
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: rgba(235, 87, 87, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #EB5757;
                                    }
                                }

                                &.blue-box{
                                    p{  
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: rgba(74, 179, 251, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #4AB3FB;
                                    }
                                }
                            }
                            .eshop-link{
                                a{
                                    color: #478ae9;
                                }
                            }
                            .product-view{
                                a{
                                    color: #478ae9;
                                }
                            }
                            .t-rating{
                               img{
                                   vertical-align: text-top;
                                    width: 14px;
                                    height: 14px;
                                    margin-left: 10px;
                               }
                            }
                            .t-action{
                                img{
                                    margin-right: 24px;
                                }
                            }
                            .status-disable{
                                p{
                                    width:fit-content;
                                    background: #E0E0E0;
                                    border-radius: 2px;
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 10px;
                                    line-height: 13px;
                                    display: flex;
                                    align-items: center;
                                    color: #828282;
                                    padding: 4px 8px;
                                }
                            }

                        }
                    }
                }
            }

            .pagination{
                padding: 8px 0;
                background-color: #ffffff;
                .dataTables_paginate {
                    float: unset;
                    a{
                        background: transparent !important;
                    }
                    ul{
                        li{
                            border-radius: 4px;
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;
                            display: none;

                            a, span{  
                                width: 32px;
                                height: 32px;
                                display: inline-block;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                            }
                            .page-link{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                                border: 0;
                                border-radius: 4px;

                                &:focus{
                                    box-shadow: none;
                                }
                            }
                            &.active{
                                background: #FBBF24 !important;
                                .page-link{
                                    background: #FBBF24 !important;
                                }
                            } 
                        }

                        li:first-child{
                            // background-image: url(../../assets/images/icons/left-gray-arr.svg);
                            // background-repeat: no-repeat;
                            // background-size: 32px 32px;
                            // flex: 0 0 32px;
                            width: 80px !important;
                            height: 40px !important;
                            padding: 0;
                            display: block;
                            margin: 0 16px 0 8px !important;
                            span, a{  
                                padding: 0;
                                width: 100% !important;    
                                height: 100% !important;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px !important;
                                line-height: 150%;
                                color: #7A0D41;
                            }
                        }

                        li:last-child{
                            // background-image: url(../../assets/images/icons/right-gray-arr.svg);
                            // background-repeat: no-repeat;
                            // background-size: 32px 32px;
                            // flex: 0 0 32px;
                            width: 80px !important;
                            height: 40px !important;
                            padding: 0;
                            display: block;
                            margin: 0 !important;
                            span, a{  
                                padding: 0;
                                width: 100% !important;    
                                height: 100% !important;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px !important;
                                line-height: 150%;
                                color: #fff;
                                background: #7A0D41;
                            }
                        }

                        #example_next{
                            // background: #E4E4E7;
                            // padding: 5px 10px !important;
                            a{
                                padding: 0px !important;
                                width: 32px;
                                height: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

                
            }
        }
    }
}



// Slide Button Start //
.switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 13px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  #a1b8f1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -7px;
    top:-1px;
    background-color: #1A73E9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #fff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

// Slide Button End //



#business-dashboard{
    .right_col{
        .catalog-page{
            .eshop-product{
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 16px;
                margin-bottom: 32px;
                p{
                    margin-left:32px;
                    margin-right: 32px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;                    
                    color: #4B5563;
                }
            }
        }
    }
}



//admin-pay-later-request.html
#business-dashboard{
    .right_col{
        .catalog-page{
            .paylater-heading{
                display: flex;
                background-color: #fff;
                margin-bottom: 32px;
                a{
                    padding: 16px 32px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #8A0E49;
                    &.pay-active{
                        border-bottom: 3px solid #FFC300;
                    }
                    &.pay-non-active{
                        color: #828282;
                    }
                }
            }
            #dtOrderExample, #admin-table{
                tbody{
                    tr{
                        td{
                            &.payment-status{
                                display: flex;
                                
                                a{
                                    &.pay-approve{
                                        width:fit-content;
                                        background: rgba(39, 174, 96, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #27AE60;
                                        padding: 4px 8px;
                                        margin-right: 16px;
                                    }
                                    &.pay-cancel{
                                        width:fit-content;
                                        background: rgba(255, 76, 97, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #EB5757;
                                        padding: 4px 8px; 
                                    }
                                }
                            }
                        }
                        
                        .doc-link{
                            a{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                text-decoration-line: underline;
                                text-transform: uppercase;
                                color: #2F80ED;
                            }
                        }
                    }
                }
            }
        }
    }
}


.show-more{
    float: left;
    margin: 8px 0px 16px 54px;
}



@media screen and (max-width: 768px){
    .right_col{
        .catalog-page{
            padding: 16px !important;
        }
    }
}

