#approved-page{
    .influencer-ratings{
        margin: 32px 24px 25px 25px;
        height: 395px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #27272A;
            margin: 8px 0px;
        }

        textarea{
            width: 461px;
            height: 107px;
            border: 1px solid rgba(51,51,51,0.45);
            box-sizing: border-box;
            border-radius: 4px;
            resize: none;
        }
    }
}


// Star Rating Style Start //
.starrating{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    
    > input{
        display: none;  /* Remove radio buttons */

        &:hover ~ label{
            color: #ffc107; 
            cursor: pointer; 
            transition: 0.2s;
            background-image: url('../../assets/images/icons/star-color.svg');
            background-size: 50px 50px;
            background-repeat: no-repeat;
            background-position: top 3px center;
        }
        &:checked ~ label{
            color: #ffc107;  /* Set yellow color when star checked */
            background-image: url('../../assets/images/icons/star-color.svg');
            background-size: 50px 50px;
            background-repeat: no-repeat;
            background-position: top 3px center;
        }
    }
    
   
    > label{
        color: #ebebeb;  /* Start color when not clicked */
        margin-bottom: 0;

        &:before{
            // content: "\f005"; /* Star */
            // margin: 2px;
            // font-size: 57px;
            // font-family: FontAwesome;
            display: inline-block; 
            content: url('../../assets/images/icons/star-border.svg');
            background-size: 57px 57px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
// Star Rating Style End //


@media screen and (max-width: 768px){
    #approved-page{
        .view-post{
            margin: 16px;
        }

        .influencer-ratings{
            margin: 16px;
            justify-content: flex-start;
            padding: 8px;
            height: auto;
            textarea{
                width: 100%;
                height: 69px;
                margin-bottom: 17px;
            }
        }

        .post-details{
            margin: 16px;
            padding: 16px;
            .img-lists{
                .img-list-item{
                    width: 100px;
                    height: 100px;
                    margin-right: 4px;
                    flex: 0 0 100px;
                }
            }
        }
    }
}


