#chat-page{
    .right_col{
        height: 100vh;
    }
    .chat-box{
        width: 100%;
        height: calc(100vh - 84px);
        background: #FFFFFF;
        box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-top: 10px;
        position: relative;
        .back-btn{
            width: 100%;
            background-color: #fff;
            padding: 8px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            button{
                width: 27px;
                height: 27px;
                background-color: transparent;
                border: 0;
                padding: 0;
                margin: 0;
                img{
                    width: 27px;
                    height: 27px;
                }
            }
        }
        .left-side-message-wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-top: 50px;
            .message-wrapper{
                overflow: auto;

                /* width */
                &::-webkit-scrollbar {
                    width: 6px;
                    visibility: hidden;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                    visibility: hidden;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.1); 
                    border-radius: 32px;
                    visibility: hidden;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #E4E4E4;
                }

                &:hover{
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                        visibility: visible;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(0, 0, 0, 0.1); 
                        border-radius: 32px;
                        visibility: visible;
                    }
                }

                .msg-box-wrapper{
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    // margin-top: 24px;
                    margin-bottom: 24px;
                    .img-wrapper{
                        width: 45px;
                        height: 45px;
                        flex: 0 0 45px;
                        margin-left: 16px;
                        margin-right: 8px;
                        border-radius: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .msg-wrapper{
                        background: #EFEFEF;
                        border-radius: 8px;
                        padding: 10px 16px;
                        width: 70%;
                        position: relative;
                        h2{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: #333333;
                            margin-bottom: 10px;
                        }
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #333333;
                            margin-bottom: 10px;
                        }

                        .msg-time{
                            position: absolute;
                            top: 10px;
                            right: 16px;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: #333333;
                            opacity: 0.5;
                        }

                        .image-lists{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin-bottom: 10px;
                            .list-item{
                                list-style-type: none;
                                width: 197px;
                                height: 183px;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .sender-wrapper{
                    justify-content: flex-end;
                    .msg-wrapper{
                        background: rgba(138, 14, 73, 0.25);
                        border-radius: 8px;
                        margin-right: 16px;
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #333333;
                        }
                    }
                }
            }

            .msg-type-box-wrapper{
                margin: 16px;
                height: 44px;
                .input-type-box{
                    width: 100%;
                    height: 100%;
                    background: #FFFFFF;
                    border: 1px solid rgba(51, 51, 51, 0.75);
                    box-sizing: border-box;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .form-control{
                        margin-right: 16px;
                        border: 0;

                        &::placeholder{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #333333;
                        }
                    }

                    .btn-area{
                        display: flex;
                        align-items: center;

                        .msg-select-file{
                            cursor: pointer;
                            margin-right: 12.5px;
                            margin-bottom: 0;
                            input{
                                display: none;
                            }
                            img{
                                width: 24px;
                                height: 24px;
                            }
                        }

                        .msg-send-btn-wrapper{
                            margin-right: 16px;
                            .msg-send-btn{
                                border: 0;
                                background-color: transparent;
                                margin-bottom: 0;
                                padding: 0;
                                margin: 0;
                                img{
                                    width: 28px;
                                    height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .campaign-box{
        width: 100%;
        height: calc(100vh - 84px);
        background: #FFFFFF;
        box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-top: 10px;
        .right-side-box-wrapper{
            height: 100%;

            .schedule-wrapper{
                height: 100%;
                overflow: auto;
                padding: 12px 10px;
                /* width */
                &::-webkit-scrollbar {
                    width: 6px;
                    visibility: hidden;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                    visibility: hidden;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.1); 
                    border-radius: 32px;
                    visibility: hidden;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #E4E4E4;
                }

                &:hover{
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                        visibility: visible;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(0, 0, 0, 0.1); 
                        border-radius: 32px;
                        visibility: visible;
                    }
                }

                .chat-schedule{
                    padding: 10px;
                    box-shadow: inset 0px -2px 0px #E0E0E0;
                    margin-bottom: 14px;

                    #profile-name{
                        display: flex;
                        flex-direction: column;
                        span{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;                            
                            opacity: 0.5;
                        }
                    }
                    .chat-status{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        h1{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 150%;
                            color: #333333;
                            
                        }
                    }
    
                    .chat-desc{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #27272A;
                        margin-bottom: 12px;
                    }
    
                    .chat-time{
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            color: #27272A;
                            margin-bottom: 8px;
                            display: flex;
                            align-items: center;
                            span{
                                opacity: 0.5;
                                margin-right: 10px;
                            }
    
                            img{
                                width: 20px;
                                height: 20px;
                                margin-left: 20px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
    
                .inluencers-container{
                    padding: 10px;
                    h4{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        color: #8A0E49;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 12px;
                        span{
                            color: #8A0E49;
                        }
                    }
    
                    .inluencers-list{
                        .list-item{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 4px 0;
                            background: #FFFFFF;
                            margin-bottom: 4px;
                            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

                            .influencer-details{
                                display: flex;
                                align-items: center;

                                .image{
                                    width: 33px;
                                    height: 33px;
                                    margin-right: 8px;
                                    border-radius: 50%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        object-fit: cover;
                                    }
                                }
                                .name{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 150%;
                                    color: #333333;
                                }
                            }
                            

                            // Star Rating Style Start //
                            .rating{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                justify-content: flex-end;
                                
                                > input{
                                    display: none;  /* Remove radio buttons */
                                    
                                    &:hover ~ label{
                                        color: #ffc107; 
                                        cursor: pointer; 
                                        transition: 0.4s;
                                        background-image: url('../../assets/images/icons/yellow-star.svg');
                                        background-size: 14px 14px;
                                        background-repeat: no-repeat;
                                        background-position: top 3px center;
                                    }
                                    &:checked ~ label{
                                        color: #ffc107;  /* Set yellow color when star checked */
                                        background-image: url('../../assets/images/icons/yellow-star.svg');
                                        background-size: 14px 14px;
                                        background-repeat: no-repeat;
                                        background-position: top 3px center;
                                        
                                    }
                                }
                                
                            
                                > label{
                                    color: #ebebeb;  /* Start color when not clicked */
                                    margin-bottom: 0;
                                   
                                    &:before{
                                        // content: "\f005"; /* Star */
                                        margin: 2px;
                                        // font-size: 14.8px;
                                        // font-family: FontAwesome;
                                        display: inline-block; 
                                        content: url('../../assets/images/icons/grey-star.svg');
                                        
                                    }
                                }
                            }
                            // Star Rating Style End //
                        }
                    }
                }

                #exit-campaign{
                    width: 100%;
                    height: 43px;
                    margin-top: 24px !important;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
        }
    }
}


@media screen and (max-width: 768px){
    #chat-page{
        .container-fluid{
            padding: 0;
            .chat-box{
                margin-top: 0;
                box-shadow: none;

                .left-side-message-wrapper{
                    .message-wrapper{
                        .msg-wrapper{
                            .image-lists{
                                .list-item{
                                    width: 80px;
                                    height: 74px;
                                }
                            }
                        }
                    }
                    .msg-type-box-wrapper{
                        .input-type-box{
                            height: 44px;
                        }
                    }
                }
            }

            .campaign-box{
                margin-top: 0;
                box-shadow: none;
            }
        }
    }
}