.bid-invite-section{
    background-color: #fff;
    margin: 32px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 24px 24px 39px;
    h1{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;        
        color: #27272A;
    }

    .btn-section{
        display: flex;
        align-items: center;
    }
}





.post-container{
    margin: 40px 24px 156px 24px;
    padding-top: 24px;
    background: #FFFFFF;

    &.custom-style{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin: 32px 24px 156px 24px;
    }
    .post-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 32px 40px 32px;
        h3{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
        }

        .post-info{
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
            span{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #272727;
            }
        }
    }


    .post-input-container{
        padding: 0 32px 0px 44px;
        .row{
            justify-content: space-between;
            .col-sm-6, .col-lg-6{
                flex: 0 0 47%;
            }
        }
        .input-section{
            // width: 90%;
            .form-group{
                margin-bottom: 41px;
                label{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: #27272A;
                    span{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #27272A;
                        opacity: 0.7;
                    }
                }
                .form-control{
                    background: #F8F8F8;
                    padding: 8px;
                    height: 40px;
                    border: 0;
                    border-bottom: 1px solid #A1A1AA;

                    &.custom-h{
                        height: 75px;
                    }
                    &.custom-form{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start !important;
                        background: #fff ;
                        flex-wrap: wrap; 
                    }
                    .file-upload{
                        width: 83px;
                        height: 83px;
                        background: #C4C4C4;
                        background-image: url('../../assets/images/icons/input-plus.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 8px;
                        margin-bottom: 8px;

                        .abcd{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            .previewimg{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            #img{
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                z-index: 5;
                            }
                        }
                            
                        input{
                            display: none;
                        }
                    }

                    #add_more{
                        width: 83px;
                        height: 83px;
                        background: #C4C4C4;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 8px;
                        margin-bottom: 8px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 18px;
                        color: #27272A;
                    }

                }
                input[name="date"]{
                    background-image: url('../../assets/images/icons/black-calender.svg');
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    background-position: right 12px center;
                }
            }
        }

        
    }
}


@media screen and (max-width: 768px){
    .post-container{
        margin: 0;
        background: #F7F7F7;
        margin-bottom: 100px !important;
        .post-heading{
            padding: 0 24px 16px 24px;
            justify-content: flex-end;
            h3{
                display: none;
            }
            .post-info{
                padding: 8px 16px;
                background: #FFFFFF;
                border-radius: 8px;
            }
        }

        .post-input-container{
            padding: 0 24px;
            .row{
                flex-direction: column;

                .form-group{
                    input, textarea{
                        background: #fff !important;
                    }

                    .form-control{
                        #add_more{
                            background: #C4C4C4 !important;
                        }
                    }
                }
            }
        }

        .btn-wrapper{
            padding: 0 16.5px;
            margin-bottom: 22px;
            .red-btn{
                width: 100%;
                height: 48px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;                
                color: #FFFFFF;
            }
        }
    }


    .bid-invite-section{
        padding: 16px 12px;
        margin: 0;
        position: fixed;
        bottom: 0;
        z-index: 20;
        width: 100%;
        h1{
            display: none;
        }
        .btn-section{
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;
            .red-btn{
                margin: 0;
                padding: 12px 24px;
            }
        }
    }

    .custom-style{
        background: unset !important;
        box-shadow: unset !important;
        border-radius: unset !important;
        margin: 0 0 100px 0 !important;
    }
}

textarea{
    resize: none;
}

.error{
    color: red !important;
}

#video_image_error{
    padding-top: 16px;
    color: red;
}

.images_container{
    .media_preview{
        .img_video{
            width: 83px;
            height: 83px;
            padding: 0;
            margin: 0 8px 8px 0;
            border: 0;

            .remove-img{
                width: 16px;
                height: 16px;
                right: -3px;
                top: -3px;
            }
            
            .preview_image{
                width: 83px;
                height: 83px;
                object-fit: cover;
            }
        }
    }
}