.creatives-profile{
    .profile-container{
        .profile-desc{
            .profile-content{
                margin-bottom: 16px;
                .profile-name{
                    display: flex;
                    align-items: center;
                    h1{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 30px;
                        color: #333333;
                        margin-right: 16px;
                    }
                    span{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        color: rgba(39,39,42,0.5);
                        margin-right: 16px;
                        img{
                            margin-right: 8px;
                        }
                    }
                }

                .social-media{
                    display: flex;
                    align-items: center;
                    .followers{
                        display: inline-block;
                        width: 33px;
                        height: 33px;
                        margin-right: 0 !important;
                        margin-left: 16px;
                        img{
                            width: 33px !important;
                            height: 33px !important;
                        }
                    }
                }
            }

            .hire-me{
                justify-content: flex-end !important;
                margin-bottom: 16px !important;
            }

            .services{
                h1{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #27272A;
                    margin-bottom: 16px;
                }
                .service-list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .list-item{
                        display: flex;
                        align-items: center;
                        img{
                            width: 22px;
                            height: 22px;
                            margin-right: 20px;
                        }
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            color: #27272A;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.creators-page{
    padding-left: 25px;
    padding-right: 40px;
    .creators-profile-wrapper{
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: -180px;      
    }

    .creators-details-wrapper{
        .my-profile{
            margin-bottom: 32px;
            .title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 64px;
                color: #27272A;
                margin-bottom: 24px;
            }

            .image-container{
                width: 100%;
                height: 321px;
                border-radius: 8px;
                margin-bottom: 32px;
                position: relative;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .image-overlay{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(46, 45, 45, 0.68);
                    border-radius: 8px;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 30px;
                    color: #FFFFFF;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    z-index: 100;
                    cursor: pointer;
                    
                }

                &:hover{
                    .image-overlay{
                        display: flex;
                        transition: display 0.5s;
                    }
                }
            }
        }

        .rate{
            margin-bottom: 75px;
            .title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 64px;
                color: #27272A;
                margin-bottom: 24px;
            }

            .product-rate{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                border-radius: 0px 0px 8px 8px;
                height: 492px;
                position: relative;
                .product-img{
                    width: 100%;
                    height: 174px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .product-name{
                    font-weight: normal;
                    font-size: 20px;
                    // line-height: 64px;
                    color: #27272A;
                    width: 100%;
                    padding: 24px 24px 4px 24px;
                }
                .product-price{
                    font-weight: bold;
                    font-size: 24px;
                    color: #27272A;
                    width: 100%;
                    padding: 0 24px 10px 24px;
                }
                .product-details{
                    margin-bottom: 24px;
                    width: 100%;
                    padding: 0 24px 0 24px;
                    li{
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        margin-bottom: 13px;
                        img{
                            width: 13px;
                            height: 15px;
                            margin-right: 17px;
                        }
                        p{
                            font-weight: normal;
                            font-size: 14px;
                            color: #27272A;
                            margin-bottom: 0;
                        }
                    }
                }

                .profile-links{
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 16px;
                }
            }
        }


    }
}


@media screen and (max-width: 768px){
    .creatives-profile{
        .profile-container{
            .profile-info{
                .profile-desc{
                    margin-bottom: 0;
                    .profile-content{
                        .profile-name{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-bottom: 16px;
                            h1{
                                margin-bottom: 4px;
                            }
                        }
                        .social-media{
                            align-items: flex-start;
                            justify-content: flex-start;
                            .followers{
                                margin-left: 0;
                                margin-right: 16px !important;
                            }
                        }
                    }

                    .hire-me{
                        .red-btn{
                            width: 100%;
                            height: 48px;
                        }
                    }

                    .services{
                        .service-list{
                            flex-direction: column;
                            align-items: flex-start;
                            .list-item{
                                margin-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }


        .creators-page{
            padding: 16px !important;
            .creators-details-wrapper{
                .my-profile{
                    margin-bottom: 0;
                    .title{
                        font-size: 16px;
                        line-height: 64px;
                        margin-bottom: 0;
                    }

                    .image-container{
                        width: 100%;
                        height: 110px;
                        margin-bottom: 16px;
                    }
                }

                .rate{
                    .title{
                        font-size: 16px;
                        line-height: 64px;
                        margin-bottom: 0;
                    }

                    .product-rate{
                        margin-bottom: 16px;
                        height: 650px;

                        .product-img{
                            flex: 0 0 174px;
                        }
                    }
                }
            }
        }
    }
}