#hire-me-page-wrapper{
    margin: 60px 24px 60px 24px;

    .post-heading{
        padding: 0px 32px 45px 32px;
    }
    .post-input-container{
        padding: 0 32px 0px 32px;

        .c-text{
            height: auto !important;
            resize: none;
        }
    }
}


@media screen and (max-width: 768px){
    #hire-me-page-wrapper{
        margin: 16px;
        padding-top: 0;
        .post-input-container{
            padding: 16px;
        }
    }
}