.sidebar-dropdown{
    .fa-chevron-down{
        transition: 0.2s;
        &.rotate-active{
            transform: rotate(90deg);
            transition: 0.2s;
        }
    }
    .sidebar-submenu{
        display: none;
        padding-left: 32px;
        .dropdown-lists{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            // margin: 8px 0;
            .drop-down-item{
                width: 100%;
                height: 56px;
                display: flex; 
                align-items: center;
                justify-content: flex-start;
                padding-left: 25px;
                border-left: 2px solid #E0E0E0;
                &.active{
                    border-left: 4px solid #7A0D41;
                    a{
                        color: #7A0D41 !important;
                    }
                }

                &.current-page{
                    border-left: 4px solid #7A0D41;
                    a{
                        color: #7A0D41 !important;
                        font-weight: 600;
                    }
                }

                a{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.01em;
                    color: rgba(39,39,42,0.7) !important;

                    &:hover{
                        color: #7A0D41 !important;
                        font-weight: 600;
                    }

                }
            }
        }

        &.active{
            display: block;
        }
    }
}


.dashboard_container{
    .left_col{
        .scroll-view{
            width: 240px !important;
        }
        #sidebar-menu{
            .menu_section{
                .side-menu{
                    li{
                        a{
                            img{
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }
                            &.current-page{
                                background: #FFEDF6 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .right_col{
        padding: 0;
        .breadcrumb-wrapper{
            margin: 0;
            width: 100%;
            background: #FFFFFF;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
            .breadcrumb{
                li{
                    a{
                        font-family: Noto Serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 150%;
                        color: #27272A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                        &.active{
                            color: #71717A;
                        }
                        

                        &.breadcrumb-heading{
                            font-family: Noto Serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 150%;
                            color: #111827;
                        }
                    }
                }
            }
        }
    }
}

.influencers-profile{
    .profile-container{
        margin: 32px 40px 32px 25px;
        .cover-image{
            width: 100%;
            height: 282px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profile-info{
            background: #FFFFFF;
            display: flex;

            .profile-image{
                width: 193px;
                height: 193px;
                border: 8px solid #8A0E49;
                box-sizing: border-box;
                margin: 24px;
                border-radius: 50%;
                flex: 0 0 193px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .profile-desc{
                width: 100%;
                margin: 24px 24px 24px 0;
                .profile-content{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .ratings{
                        display: flex;
                        align-items: center;
                        .name{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 24px;
                            line-height: 30px;
                            color: #333333;
                            margin-right: 16px;
                        }
                        img{
                            width: 14px;
                            height: 14px;
                            margin-right: 9px;
                        }
                    }
                    
                    .social-media{
                        display: flex;
                        align-items: center;
                        .followers{
                            display: flex;
                            align-items: center;
                            margin-right: 24px;
                            img{
                                width: 24px;
                                height: 24px;
                                margin-right: 8px;
                            }
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                color: #272727;
                                span{
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .location{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    img{
                        width: 9px;
                        height: 9px;
                        margin-right: 3px;
                    }
                    span{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #27272A;
                        opacity: 0.5;
                    }
                }

                .about{
                    margin-bottom: 16px;
                    p{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        color: #272727;
                    }
                }

                .hire-me{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #C4C4C4;
                    .cost{
                        display: flex;
                        align-items: center;
                        div{
                            margin-right: 33px;
                            h4{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                                color: #272727;
                                margin-left: 24px;
                                margin-bottom: 4px;
                            }
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 18px;
                                color: #999999;
                                img{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                    .hire-me-btn{
                        background: #8A0E49;
                        border-radius: 4px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 8px 32px;
                    }
                }

                .img-lists{
                    display: flex;
                    align-items: flex-start;
                    margin-top: 16px;
                    margin-bottom: 24px;
                    flex-wrap: wrap;
                    .list-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-right: 16px;
                        margin-bottom: 16px;
                        .img-wrap{
                            width: 64px;
                            height: 64px;
                            margin-bottom: 8px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            color: #272727;
                            width: 64px;
                            word-wrap: break-word;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px){
    .influencers-profile{
        .profile-container{
            .profile-info{
                .profile-image{
                    width: 150px !important;
                    height: 150px !important;
                    flex: 0 0 150px !important; 
                }
    
                .profile-desc{
                    .profile-content{
                        flex-direction: column;
                        align-items: flex-start;
                        .ratings{
                            margin-bottom: 16px;
                            .name{
                                font-size: 18px;
                            }
                        }

                        .social-media{
                            .followers{
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 768px){
    .influencers-profile{
        .dashboard_container{
            .profile-container{
                margin: 0 !important;

                .profile-info{
                    flex-direction: column;
                    position: relative;
                    padding: 16px;
                    .profile-image{
                        width: 139px;
                        height: 139px;
                        flex: 0 0 139px;
                        margin: 10px;
                    }
                    .profile-desc{
                        margin-top: 16px;
                        .profile-content{
                            flex-direction: column;
                            align-items: flex-start;
                            position: absolute;
                            top: 32px;
                            left: 185px;

                            .ratings{
                                flex-direction: column;
                                align-items: flex-start;
                                .name{
                                    margin-bottom: 36px;
                                }

                                .ratings-wrapper{
                                    margin-bottom: 16px;
                                }
                            }

                            .social-media{
                                a{
                                    img{
                                        width: 14px;
                                        height: 14px;
                                    }
                                }
                                p{
                                    span{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .location{
                            position: absolute;
                            top: 60px;
                            left: 185px;
                        }

                        .hire-me{
                            flex-direction: column;
                            .cost{
                                width: 100%;
                                justify-content: space-between;
                                margin-bottom: 16px;
                                div{
                                    margin-right: 0;
                                    p{
                                        display: flex;
                                    }
                                }
                            }
                            .hire-me-btn{
                                width: 100%;
                                height: 48px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 150%;
                                color: #FFFFFF;
                            }
                        }

                        .img-lists{
                            overflow: auto;
                        }
                    }
                }
            }
        }
    }
}


.sidebar-dropdown .sidebar-submenu .dropdown-lists .drop-down-item.current-page {
    border-left: 4px solid #7A0D41;
  }
  .sidebar-dropdown .sidebar-submenu .dropdown-lists .drop-down-item.current-page a {
    color: #7A0D41 !important;
    font-weight: 600;
  }
  .sidebar-dropdown .sidebar-submenu .dropdown-lists .drop-down-item a:hover {
    color: #7A0D41 !important;
    font-weight: 600;
  }
    