.influencer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 24px;
    h4{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: #000000;
    }
}


#admin-table{
    /* Customize the label (the container) */
    .checkbox-container {
        height: 15px;
        width: 15px;
        margin:0;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
    }
    
    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
        background-image: url('../../assets/images/icons/check-square.svg') !important;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
        border: 0 !important;
    }
    
    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }
    
}


#payment-modal{
    padding-right: 0 !important;
    .modal-dialog{
        max-width: 479px;

        .modal-content{
            .modal-header{
                display: flex;
                align-items: center;
                justify-content: center;
                .modal-title{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    color: #333333;
                }
            }

            .modal-body{
                margin: 16px 35px 16px 16px;
                .inlfuencer-lists{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .list-item{
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        .image{
                            width: 37px;
                            height: 37px;
                            border-radius: 50%;
                            margin-right: 8px;
                            img{
                                width: 37px;
                                height: 37px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        h5{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            color: #333333;
                            margin-right: 16px;
                        }
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            color: #333333;
                            margin-bottom: 0;
                            margin-right: 8px;
                            opacity: 1;
                        }
                        input{
                            width: 123px;
                            height: 40px;
                            padding: 8px;
                            border: 1px solid #D1D1D1;
                            box-sizing: border-box;
                            border-radius: 4px;
                        }
                        input[type=number]::-webkit-inner-spin-button, 
                        input[type=number]::-webkit-outer-spin-button { 
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            margin: 0; 
                        }

                    }
                }
            }

            .modal-footer{
                button{
                    border: 1px solid #7A0D41;
                    box-sizing: border-box;
                    border-radius: 2px; 
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: #7A0D41;
                    padding: 8px 32px;
                }

                .red-btn{
                    border-radius: 2px;
                }
            }
        }
    }
}



#adjust-price-modal{
    .modal-content{
        .modal-header{
            .modal-title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                color: #333333;
                margin-bottom: 16px;
            }
        }
    }
}

#paymentPop{
    .modal-header{

        #close-pop{
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}