.date-wrapper{
    display: flex;
    align-items: center;

    .date{
        display: flex;
        align-items: center;
        margin-right: 22px;
        p{
            display: flex;
            align-items: center;
            margin-right: 22px;
            img{
                margin-right: 12px;
            }
        }
    }

    .date:first-child{
        padding-right: 8px;
        border-right: 1px solid rgba(51,51,51,0.1);
    }
}