.what-is-post{
    margin: 100px 169px 0;
    background: #FFFFFF;
    border-radius: 8px;
    height: 450px;
    h4{
        padding: 18px 24.5px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        background: #8A0E49;
        border-radius: 8px 8px 0px 0px;
        margin-bottom: 32px;
    }

    .invite-steps{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tab-content{
            height: 110px;
        }

        .invite-list{
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            border-bottom: 0;
            .invite-list-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: none;
                margin-right: 56px;
                position: relative;
                .number{
                    width: 31px;
                    height: 31px;
                    border-radius: 50%;
                    background: #E0E0E0;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #272727;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 20;
                    margin-bottom: 2px;
                    
                }

                p{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #828282;
                }

                &::after{
                    content: "";
                    display: inline-block;
                    width: 80px;
                    height: 1px;
                    background: #E0E0E0;
                    position: absolute;
                    top: 16px;
                    right: -66px;
                    z-index: 2;
                }

                &.active{
                    .number{
                        background: #8A0E49;
                        color: #fff;
                    }

                    p{
                        font-weight: 600;
                        color: #333333;
                    }
                }
            }

            .invite-list-item:last-child{
                &::after{
                    display: none;
                }
            }
        }


        h5{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            margin: 0 130px 38px 130px;
        }


        .red-btn{
            margin: 0 0 29px 0;
        }

        #create{
            display: none;
        }
    }
}


@media screen and (min-width:770px) and (max-width: 1300px){
    .what-is-post{
        margin: 64px 40px;

        .invite-steps{
            .tab-content{
                .tab-pane{
                    h5{
                        margin: 0 50px;
                    }
                }
            }

            .red-btn{
                margin: 24px 0 0px 0;
            }
        }
    }
}



@media screen and (max-width: 768px){
    .what-is-post{
        margin: 20px 0 0 0;
        height: 100vh;
        h4{
            border-radius: 0;
        }

        .invite-steps{
            .invite-list{
                margin-bottom: 0;
                .invite-list-item{
                    margin-right: 36px;
                }
            }

            .tab-content{
                height: 130px;
                .tab-pane{
                    h5{
                        margin: 16px;
                    }
                }
            }

            #next-step{
                width: 90%;
                position: fixed;
                bottom: 0;
            }

            #create{
                width: 90%;
                position: fixed;
                bottom: 0;
                left: 25px;
            }
        }
    }
}