@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  background-color: #FFFFFF;
}

.p-t {
  padding-top: 64px;
}

.f-p {
  padding: 48px 178px 0 177px;
}

.tab-p {
  padding: 0 377px;
}

a:hover {
  text-decoration: none;
}

header {
  background: #8A0E49;
  padding: 12px 20px;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 150;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar-toggler {
  display: none;
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px;
}
header .navbar-toggler img {
  width: 38px;
  height: 38px;
}
header .logo {
  width: 123px;
  height: 43px;
  margin-left: 13px;
}
header .logo img {
  width: 123px;
  height: 43px;
}
header .top_nav {
  height: 100%;
}
header .top_nav .navbar-nav {
  display: block;
}
header .top_nav .navbar-nav li {
  margin-right: 20px;
}
header .top_nav .navbar-nav li a {
  padding: 0;
}
header .top_nav .navbar-nav .user-profile {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top_nav .navbar-nav .user-profile:hover {
  text-decoration: none;
}
header .top_nav .navbar-nav .user-profile .profile-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}
header .top_nav .navbar-nav .user-profile .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
header .top_nav .navbar-nav .dropdown .dropdown-toggle::after {
  display: none;
}
header .top_nav .navbar-nav .down-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
header .top_nav .dropdown-menu {
  margin-left: auto;
  margin-right: 0px;
  right: 4px;
  margin-top: 14px;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 286px !important;
  border: none;
  height: 159px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
header .top_nav .dropdown-menu .header-company-name-wrapper .company-name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 4px;
}
header .top_nav .dropdown-menu .header-company-name-wrapper .email {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 24px;
}
header .top_nav .dropdown-menu .logout {
  width: 100%;
}
header .top_nav .dropdown-menu #logout-btn {
  padding: 10px 100px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF !important;
  background: #7A0D41;
  border-radius: 4px;
}
header .top_nav .dropdown-menu #logout-btn:hover {
  text-decoration: none;
}

.breadcrumb-wrapper {
  padding: 16px;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.breadcrumb-wrapper .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}
.breadcrumb-wrapper .breadcrumb li a.breadcrumb-heading {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #27272A;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb-wrapper .breadcrumb li a img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.breadcrumb-wrapper .breadcrumb li a.active {
  color: #71717A;
}
.breadcrumb-wrapper .breadcrumb li a:hover {
  text-decoration: none;
}

.mobile-breadcrumb-wrapper {
  padding: 16px;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  height: 56px;
  display: none;
  align-items: center;
}
.mobile-breadcrumb-wrapper .mobile-breadcrumb {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  list-style-type: none;
}
.mobile-breadcrumb-wrapper .mobile-breadcrumb li a.breadcrumb-heading {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #27272A;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mobile-breadcrumb-wrapper .mobile-breadcrumb li a img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.mobile-breadcrumb-wrapper .mobile-breadcrumb li a.active {
  color: #71717A;
}
.mobile-breadcrumb-wrapper .mobile-breadcrumb li a:hover {
  text-decoration: none;
}

.footer-wrapper {
  width: 100%;
  background-color: #FFFFFF;
}
.footer-wrapper .footer-section {
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer-section .footer-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-wrapper .footer-section .footer-lists .footer-list-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.footer-wrapper .footer-section .footer-lists .footer-list-heading img {
  width: 38px;
  height: 43px;
  margin-right: 8px;
}
.footer-wrapper .footer-section .footer-lists .footer-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 8px 0px;
}
.footer-wrapper .footer-section .footer-lists .footer-list-item:hover {
  text-decoration: none;
}
.footer-wrapper .footer-section .footer-lists .footer-list-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.footer-wrapper .footer-section .footer-lists .input-group {
  width: 392px;
  height: 52px;
}
.footer-wrapper .footer-section .footer-lists .input-group .form-control {
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #8A0E49;
  box-sizing: border-box;
  border-radius: 30px 0px 0px 30px;
  padding-left: 24px;
}
.footer-wrapper .footer-section .footer-lists .input-group .form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #929292;
  margin: 0px 10px;
}
.footer-wrapper .footer-section .footer-lists .input-group .input-group-append {
  width: 132px;
  height: 52px;
  background: #8A0E49;
  border-radius: 0px 30px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrapper .footer-section .footer-lists .input-group .input-group-append .btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-wrapper .copyright-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 178px 35px 177px;
}
.footer-wrapper .copyright-section .copyright-heading p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 0;
}
.footer-wrapper .copyright-section .social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 173px;
  margin-bottom: 0;
}
.footer-wrapper .copyright-section .social-icons .icon-list-item {
  list-style-type: none;
  width: 37px;
  height: 37px;
}
.footer-wrapper .copyright-section .social-icons .icon-list-item img {
  width: 37px;
  height: 37px;
  object-fit: cover;
}

.red-btn {
  padding: 12px 32px;
  background: #8A0E49;
  border-radius: 4px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 24px;
  border: 0;
}
.red-btn:hover {
  text-decoration: none;
  color: #fff;
  background: #8A0E49;
}
.red-btn:visited {
  color: #fff;
}
.red-btn:focus {
  color: #fff;
  outline: none;
}

.white-btn {
  border: 1px solid #8A0E49;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 32px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #8A0E49;
  background-color: #fff;
}
.white-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #8A0E49;
  border: 1px solid #8A0E49;
}

.green-hightlight {
  padding: 8px 10px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #27AE60;
  background: #E0FFE5;
  border-radius: 4px;
  margin-bottom: 30px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  header .navbar-toggler {
    display: block;
  }
  header .logo {
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .top_nav {
    display: none;
  }

  .mobile-breadcrumb-wrapper {
    display: flex;
  }

  .f-p {
    padding: 32px;
  }

  .footer-wrapper .footer-section {
    flex-direction: column;
    border-bottom: 0;
  }
  .footer-wrapper .footer-section .footer-lists {
    margin-bottom: 32px;
  }
  .footer-wrapper .footer-section .footer-lists .input-group {
    width: 100%;
  }
  .footer-wrapper .copyright-section {
    padding: 0 32px 32px 32px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer-wrapper .copyright-section .social-icons {
    margin-bottom: 32px;
  }
}
.blog-details-container {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 16px 15px 32px 15px;
}
.blog-details-container p {
  padding: 16px;
}

.creators-banner {
  width: 100%;
  height: 354px;
  margin-top: 64px;
  margin-bottom: 48px;
  position: relative;
}
.creators-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.creators-banner .edit-profile {
  position: absolute;
  bottom: 18px;
  right: 95px;
  z-index: 20;
}
.creators-banner .edit-profile a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  display: flex;
  align-items: center;
}
.creators-banner .edit-profile a:hover {
  text-decoration: none;
}
.creators-banner .edit-profile a img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.creators-profile-page {
  padding-left: 141px;
  padding-right: 140px;
  margin-bottom: 125px;
}
.creators-profile-page .creators-profile-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: -180px;
}
.creators-profile-page .creators-profile-wrapper .card {
  align-items: center;
  border: 0;
}
.creators-profile-page .creators-profile-wrapper .card .profile-img {
  width: 193px;
  height: 193px;
  border: 10px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 24px;
  margin-bottom: 32px;
  background-color: #fff;
}
.creators-profile-page .creators-profile-wrapper .card .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.creators-profile-page .creators-profile-wrapper .card .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .card-text .name {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-bottom: 8px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .card-text .work-profile {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #27272A;
  opacity: 0.5;
  margin-bottom: 8px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .card-text .work-place {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 39, 42, 0.5);
  margin-bottom: 24px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  width: 100%;
  margin: 0 auto 32px auto;
  border-bottom: 1px solid rgba(193, 193, 193, 0.15);
}
.creators-profile-page .creators-profile-wrapper .card .card-body .social-icons a {
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-right: 16px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .social-icons a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .description {
  width: 100%;
  margin: 0 auto 24px auto;
  padding: 0 47px 32px 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #27272A;
  border-bottom: 1px solid rgba(193, 193, 193, 0.15);
}
.creators-profile-page .creators-profile-wrapper .card .card-body .profile-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 24px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .profile-links .red-btn {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 40px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services {
  padding: 0 26px;
  width: 100%;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #27272A;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list {
  display: flex;
  flex-direction: column;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 24px;
  position: relative;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item .img-wrap {
  width: 48px;
  height: 48px;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item .img-wrap img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #27272A;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #27272A;
  margin-bottom: 0;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item .delete-btn {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item .delete-btn img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item .delete-btn:focus {
  outline: none;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .list-item:hover .delete-btn {
  opacity: 1;
  transition: 0.3s;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .add-service {
  width: 100%;
  height: 44px;
  border: 1px dashed #767676;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creators-profile-page .creators-profile-wrapper .card .card-body .services .service-list .add-service img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.creators-profile-page .creators-details-wrapper .my-profile {
  margin-bottom: 48px;
}
.creators-profile-page .creators-details-wrapper .my-profile .portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.creators-profile-page .creators-details-wrapper .my-profile .portfolio .title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #27272A;
}
.creators-profile-page .creators-details-wrapper .my-profile .portfolio .nav .nav-item {
  margin-left: 16px;
}
.creators-profile-page .creators-details-wrapper .my-profile .portfolio .nav .nav-item .nav-link {
  padding: 4px 16px;
  border-radius: 8px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.creators-profile-page .creators-details-wrapper .my-profile .portfolio .nav .nav-item .nav-link.active {
  background-color: #8A0E49;
  color: #FFFFFF;
}
.creators-profile-page .creators-details-wrapper .my-profile .tab-content .tab-pane .row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: unset;
  margin-right: unset;
}
.creators-profile-page .creators-details-wrapper .my-profile .tab-content .tab-pane .add-image {
  width: 48%;
  height: 341px;
  background: #FFFFFF;
  border: 1px dashed #767676;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 8px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #272727;
  margin-bottom: 0;
}
.creators-profile-page .creators-details-wrapper .my-profile .tab-content .tab-pane .add-image img {
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container {
  width: 48%;
  height: 341px;
  border-radius: 8px;
  margin-bottom: 32px;
  position: relative;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container .imageThumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container .remove {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 66px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 8px 8px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #27272A;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container:hover .remove {
  opacity: 1;
  transition: 0.5s;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container .image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 66px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 8px 8px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #27272A;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
}
.creators-profile-page .creators-details-wrapper .my-profile .image-container:hover .image-overlay {
  opacity: 1;
  transition: 0.5s;
}
.creators-profile-page .creators-details-wrapper .rate .title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #27272A;
  margin-bottom: 48px;
}
.creators-profile-page .creators-details-wrapper .rate .rate-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.creators-profile-page .creators-details-wrapper .rate .add-rate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px dashed #767676;
  box-sizing: border-box;
  border-radius: 8px;
  height: 450px;
  width: 48%;
  margin-bottom: 32px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #272727;
}
.creators-profile-page .creators-details-wrapper .rate .add-rate-card img {
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 8px 8px;
  height: 450px;
  position: relative;
  width: 48%;
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 32px;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .product-name {
  font-weight: normal;
  font-size: 20px;
  color: #27272A;
  text-align: center;
  margin: 32px 0 16px 0;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .product-price {
  font-weight: bold;
  font-size: 24px;
  color: #27272A;
  margin: 0 0 20px 0;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .product-details {
  margin-bottom: 16px;
  width: 100%;
  padding: 0 21px 0 32px;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .product-details li {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  margin-bottom: 13px;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .product-details li img {
  width: 14px;
  height: 16px;
  margin-right: 17px;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .product-details li p {
  font-weight: normal;
  font-size: 14px;
  color: #27272A;
  margin-bottom: 0;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .profile-links {
  margin-bottom: 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}
.creators-profile-page .creators-details-wrapper .rate .product-rate .profile-links .red-btn {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 40px;
}

.upload-field {
  width: 45%;
  height: 341px;
  background: #FFFFFF;
  border: 1px dashed #767676;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 15px;
}
.upload-field input {
  display: none !important;
}
.upload-field img {
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}
.upload-field p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #272727;
  margin-bottom: 0;
}
.upload-field input[type=file] {
  display: block;
}

#delete-image .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
#delete-image .modal-content .modal-header {
  border: 0;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
}
#delete-image .modal-content .modal-header .modal-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #333333;
}
#delete-image .modal-content .modal-footer {
  border: 0;
  padding: 0 32px 24px 32px;
  justify-content: center;
}
#delete-image .modal-content .modal-footer button {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The Modal (background) */
.popup {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 150px 175px 119px 175px;
  /* The Close Button */
  /* Modal Content */
}
.popup .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}
.popup .close:hover, .popup .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.popup .modal-content {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  /* Hide the slides by default */
  /* Next & previous buttons */
}
.popup .modal-content .mySlides {
  display: none;
  width: 100%;
  height: 805px;
  /* Number text (1/3 etc) */
}
.popup .modal-content .mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup .modal-content .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.popup .modal-content .prev {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  left: 47%;
  width: 30px;
  height: 30px;
}
.popup .modal-content .next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  right: 47%;
  width: 30px;
  height: 30px;
}

.model-open {
  overflow-y: hidden;
}

.popup-back-drop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.66);
  display: none;
}

@media screen and (max-width: 768px) {
  .creators-banner {
    margin-bottom: 0;
    height: 165px;
  }
  .creators-banner .edit-profile {
    right: 50px;
  }

  .creators-profile-page {
    padding: 0;
  }
  .creators-profile-page .creators-profile-wrapper {
    margin-top: 0;
    box-shadow: none;
  }
  .creators-profile-page .creators-profile-wrapper .card .profile-img {
    margin-top: 40px;
  }
  .creators-profile-page .creators-profile-wrapper .card .card-body {
    padding-top: 0;
  }
  .creators-profile-page .creators-profile-wrapper .card .card-body .social-icons {
    border-bottom: 0;
  }
  .creators-profile-page .creators-profile-wrapper .card .card-body .social-icons a {
    margin-left: 8px;
    margin-right: 8px;
  }
  .creators-profile-page .creators-profile-wrapper .card .card-body .description {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .creators-profile-page .creators-profile-wrapper .card .card-body .services {
    padding: 0;
  }
  .creators-profile-page .creators-details-wrapper {
    padding: 0 16px;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .portfolio .title {
    font-size: 24px;
    line-height: unset;
    margin-bottom: 0;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .portfolio .nav .nav-item {
    margin-left: 0;
  }
  .creators-profile-page .creators-details-wrapper .rate .title {
    font-size: 24px;
    line-height: unset;
    margin-bottom: 16px;
  }

  #imgModal {
    display: none !important;
  }

  .popup-back-drop {
    display: none !important;
  }
}
@media screen and (max-width: 568px) {
  .creators-banner .edit-profile {
    right: 10px;
    bottom: 10px;
  }

  .creators-profile-page .creators-details-wrapper {
    padding: 0 16px;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .portfolio .title {
    font-size: 24px;
    line-height: unset;
    margin-bottom: 0;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .portfolio .nav .nav-item {
    margin-left: 0;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .tab-content .tab-pane .image-container {
    width: 100%;
    margin-bottom: 16px;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .tab-content .tab-pane .add-image {
    width: 100%;
  }
  .creators-profile-page .creators-details-wrapper .rate .rate-row .product-rate {
    width: 100%;
    margin-bottom: 16px;
  }
  .creators-profile-page .creators-details-wrapper .rate .rate-row .add-rate-card {
    width: 100%;
    margin-bottom: 16px;
  }

  #imgModal {
    display: none !important;
    padding: 16px;
    top: 100px;
    width: 100%;
    height: 323px;
  }
  #imgModal .modal-content .mySlides {
    height: 323px;
  }
  #imgModal .modal-content .prev {
    bottom: -55px;
    left: 35%;
  }
  #imgModal .modal-content .next {
    bottom: -55px;
    right: 35%;
  }

  .popup-back-drop {
    display: none !important;
  }

  #delete-image .modal-content .modal-header {
    padding: 16px;
  }
  #delete-image .modal-content .modal-header .modal-title {
    font-size: 16px;
  }
  #delete-image .modal-content .modal-footer {
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  #delete-image .modal-content .modal-footer .red-btn {
    margin-left: 0;
  }
}
.service-container {
  width: 100%;
  padding: 60px 135px;
}
.service-container .add-service {
  padding: 24px 44px;
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.service-container .add-service .row .col-lg-6 {
  padding-left: 30px;
  padding-right: 30px;
}
.service-container .add-service .service-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.service-container .add-service .service-heading h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #27272A;
}
.service-container .add-service .service-heading .edit-delete-service {
  display: flex;
  align-items: center;
}
.service-container .add-service .service-heading .edit-delete-service button {
  width: 32px;
  height: 32px;
  border: 0;
  margin-left: 16px;
  background-color: transparent;
}
.service-container .add-service .service-heading .edit-delete-service button p {
  display: none;
}
.service-container .add-service .service-heading .edit-delete-service button:focus {
  outline: none;
}
.service-container .add-service .service-heading .edit-delete-service button img {
  width: 32px;
  height: 32px;
}
.service-container .add-service .profile-img-upload {
  margin-bottom: 42px;
  position: relative;
  width: 107px;
  height: 107px;
}
.service-container .add-service .profile-img-upload .upload-img {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  cursor: pointer;
}
.service-container .add-service .profile-img-upload .upload-img .uploader {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.service-container .add-service .profile-img-upload .upload-img .profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
}
.service-container .add-service .profile-img-upload .upload-img .camera-img {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
  bottom: 2px;
}
.service-container .add-service .profile-img-upload .upload-img .camera-img img {
  width: 36px;
  height: 36px;
}
.service-container .add-service .btn-wrapper {
  text-align: right;
}

.form-group {
  margin-bottom: 41px;
}
.form-group .error {
  color: red !important;
}
.form-group label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #27272A;
}
.form-group .form-control {
  background: #F8F8F8;
  padding: 8px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #A1A1AA;
  border-radius: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #27272A;
}
.form-group .form-control:focus {
  box-shadow: none;
}
.form-group .form-control.custom-h {
  height: 112px;
}
.form-group textarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  .breadcrumb-wrapper {
    display: none;
  }

  #service-page .service-container {
    padding: 0;
    background: #F7F7F7;
  }
  #service-page .service-container .add-service {
    box-shadow: none;
    border-radius: 0;
    background: #F7F7F7;
    padding: 24px 16px;
    margin-bottom: 70px;
  }
  #service-page .service-container .add-service .service-heading {
    margin: 8px 0 16px 0;
    padding: 0 14px;
  }
  #service-page .service-container .add-service .service-heading h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #27272A;
  }
  #service-page .service-container .add-service .service-heading .edit-delete-service {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 16px 12px;
    background: #fff;
  }
  #service-page .service-container .add-service .service-heading .edit-delete-service button {
    background: #7A0D41;
    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    width: 45%;
    height: 44.8px;
    margin-left: 0;
  }
  #service-page .service-container .add-service .service-heading .edit-delete-service button img {
    display: none;
  }
  #service-page .service-container .add-service .service-heading .edit-delete-service button p {
    display: block;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  #service-page .service-container .add-service .profile-img-upload {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
  }
  #service-page .service-container .add-service .profile-img-upload .upload-img {
    position: relative;
  }
  #service-page .service-container .add-service .input-section .form-group .form-control {
    background: #FFFFFF;
  }
  #service-page .service-container .add-service .btn-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  #service-page .service-container .add-service .btn-wrapper button {
    width: 45%;
  }
  #service-page .service-container .add-service .btn-wrapper .white-btn {
    background: #7A0D41;
    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
  }
  #service-page .service-container .add-service .btn-wrapper .red-btn {
    margin-left: 0;
  }
}
.back-button {
  margin-top: -6px;
}
.back-button button {
  background: transparent;
  border: 0;
  margin: 0;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.back-button button img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.back-button button:focus {
  outline: 0;
  border: 0;
}

#mobile-btn {
  display: none;
}

.login {
  background: #7a0e42;
  min-height: 100vh;
  padding-top: 40px;
}
.login .login-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .login .login-inner {
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    min-height: calc(100vh - 120px);
    min-height: -webkit-calc(100vh - 120px);
  }
}
.login .login-inner .login-left {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  overflow: hidden;
  height: calc(100vh - 120px);
  margin-top: 25px;
  background: url(../images/login-img.svg), url(../images/icons/circle.svg);
  background-size: 300px, 440px;
  background-repeat: no-repeat, no-repeat;
  background-attachment: unset;
  background-position: center center;
}
@media screen and (max-width: 1024px) {
  .login .login-inner .login-left {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .login .login-inner .login-left {
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
    display: none;
  }
}
.login .login-inner .login-left img {
  width: auto;
  max-height: 100vh;
  height: 100%;
}
.login .login-inner .login-right {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  min-height: -webkit-calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media screen and (max-width: 800px) {
  .login .login-inner .login-right {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin: 10px 0 0 0;
  }
}
.login .login-inner .login-right .logo {
  text-align: center;
  width: 100%;
  height: 119px;
  margin: 0 0 50px 0;
}
.login .login-inner .login-right .logo img {
  width: 146px;
  height: 119px;
}
@media screen and (max-width: 767px) {
  .login .login-inner .login-right .logo img {
    width: 106px;
    height: 85px;
  }
}
.login .login-inner .login-right .login-section {
  background: rgba(255, 255, 255, 0.99);
  padding: 40px 80px;
  border-radius: 8px;
  margin: 5px auto 0;
  min-height: 400px;
  width: 480px;
}
@media screen and (max-width: 800px) {
  .login .login-inner .login-right .login-section {
    margin: 35px auto 30px;
    width: 100%;
    max-width: 430px;
  }
}
@media screen and (max-width: 767px) {
  .login .login-inner .login-right .login-section {
    margin: 15px auto 10px;
  }
}
.login .login-inner .login-right .login-section h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 5px 0;
  text-align: left;
}
.login .login-inner .login-right .login-section h3.left-align {
  text-align: left;
  font-size: 24px;
  line-height: 34px;
}
.login .login-inner .login-right .login-section p {
  text-align: left;
  font-size: 18px;
  color: #6B7280;
  font-weight: 400;
}
.login .login-inner .login-right .login-section button {
  padding: 15px 18px !important;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  font-weight: 600;
  max-width: 100%;
  width: 100%;
  border: none;
  margin: 30px 0 13px 0;
  background: #7A0D41;
  box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
  border-radius: 4px;
}
.login .login-inner .login-right .login-section button:hover {
  opacity: 0.9;
}
.login .login-inner .login-right .login-section button.white-bttn {
  margin: 0 !important;
  border: solid 1px #7A0D41;
  color: #7A0D41;
  background: transparent;
}
.login .login-inner .login-right .login-section span {
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .login-inner .login-right .login-section span a {
  background: #fcfcfc;
  /* max-width: 150px; */
  width: 100%;
  display: inline-block;
  padding: 12px 10px;
  border-radius: 25px;
  border: solid 1px #D6D8E7;
}
.login .login-inner .login-right .login-section span a:first-child {
  margin: 0 15px 0 0;
}
@media screen and (max-width: 580px) {
  .login .login-inner .login-right .login-section span a {
    max-width: 110px;
  }
}
.login .login-inner .login-right .login-section .no-account {
  font-size: 15px;
}
.login .login-inner .login-right .login-section .no-account a {
  color: #7A0D41;
  font-weight: 600;
}
.login .login-inner .login-right .login-section .login-input {
  margin: 35px 0 15px 0;
}
.login .login-inner .login-right .login-section .login-input input {
  padding: 18px 14px;
  border-radius: 15px;
  width: 100%;
  max-width: 95%;
  flex: 0 0 95%;
}
.login .login-inner .login-right .login-section .login-input input::placeholder {
  font-size: 14px;
  color: #a1a1a1;
}
.login .login-inner .login-right .login-section .login-input select {
  padding: 3px 14px;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  border: none;
  background: transparent;
}
.login .login-inner .login-right .login-section .login-input .input-field {
  border: solid 1px transparent;
}
.login .login-inner .login-right .login-section .login-input .input-field:focus, .login .login-inner .login-right .login-section .login-input .input-field:active, .login .login-inner .login-right .login-section .login-input .input-field:focus-within {
  background: #fff !important;
  border-bottom: solid 1px #7A0D41;
}
.login .login-inner .login-right ::-webkit-scrollbar {
  width: 10px;
}
.login .login-inner .login-right ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
.login .login-inner .login-right ::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 5px;
}
.login .login-inner .login-right ::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}
.login .login-inner .login-right .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 30px 0;
  position: relative;
}
.login .login-inner .login-right .input-field h5 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
}
.login .login-inner .login-right .input-field input, .login .login-inner .login-right .input-field select {
  width: 100%;
  padding: 5px;
  border-bottom: solid 1px #A1A1AA;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}
.login .login-inner .login-right .input-field input:focus, .login .login-inner .login-right .input-field select:focus {
  border-bottom: solid 1px #7A0D41;
  outline: none;
}
.login .login-inner .login-right .input-field .error {
  color: red !important;
}
.login .login-inner .login-right .input-field .closed-eye {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/closed-eye.svg");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 24px;
  position: absolute;
  right: 10px;
  top: 40%;
  cursor: pointer;
  z-index: 50;
}
.login .login-inner .login-right .input-field .open-eye {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/open-eye.svg");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 24px;
  position: absolute;
  right: 10px;
  top: 40%;
  cursor: pointer;
  display: none;
  z-index: 50;
}
.login .login-inner .login-right label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #27272A;
  margin-bottom: 0;
}
.login .forgot-pass {
  text-align: right;
  margin: 8px 0 0 0;
}
.login .forgot-pass a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #7A0D41;
}
.login .forgot-pass a:hover {
  text-decoration: none;
}
.login .footer-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 5px 15px;
}
@media screen and (max-width: 767px) {
  .login .footer-login {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.login .footer-login a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.09px;
  color: #FFFFFF;
}
.login .back-link {
  text-align: left;
  padding: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.login .back-link a {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 20px 30px 0 30px;
}
.login .back-link .fas::before {
  color: #fff;
  margin: 0 10px 0 0;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .login-form .login-error {
    margin-top: -40px;
  }

  .back-button {
    width: 100%;
    height: 48px;
  }
  .back-button button {
    height: 100%;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;
  }

  #desktop-btn {
    display: none;
  }

  #mobile-btn {
    display: flex;
  }

  .login {
    padding-top: 0;
    background: none;
  }
  .login .input-field {
    height: 40px;
  }
  .login input {
    background-color: #fff !important;
  }
  .login .back-link {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  }
  .login .back-link a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;
    padding: 20px 30px 10px 30px;
  }
  .login .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
  }
  .login .container .login-inner {
    height: 100%;
  }
  .login .container .login-inner .login-right {
    margin: 0;
    height: 100%;
  }
  .login .container .login-inner .login-right .login-section {
    max-width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: #F8F8F8;
    padding: 24px;
  }
  .login .container .login-inner .login-right .login-section .logo img {
    width: 120px;
    height: 123.24px;
  }
  .login .container .login-inner .login-right .login-section .forgot-pass {
    margin-top: 50px;
  }
  .login .container .login-inner .login-right .login-section .input-field {
    margin-bottom: 48px;
  }
  .login .container .login-inner .login-right .login-section .input-field input {
    height: 40px !important;
    padding: 8px;
  }
  .login .footer-login {
    display: none;
  }
}
button:focus {
  outline: 0 !important;
}

.signup-container {
  padding: 0 118px;
  margin-bottom: 45px;
  margin-top: 22px;
}
.signup-container .login-inner .login-right {
  max-width: 100%;
  flex: 0 0 100%;
}
.signup-container .login-inner .login-right .login-section {
  width: 100%;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 34px;
}
.signup-container .login-inner .login-right .login-section .input-field input[type=number]::-webkit-outer-spin-button, .signup-container .login-inner .login-right .login-section .input-field input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.signup-container .login-inner .login-right .login-section .logo {
  margin-bottom: 22px;
}
.signup-container .login-inner .login-right .login-section .btn-wrapper {
  text-align: left;
}
.signup-container .login-inner .login-right .login-section .btn-wrapper #submitbtn {
  width: 351px;
  height: 48px;
  padding: 0 !important;
}
.signup-container .input-group .contact {
  display: flex;
  position: relative;
}
.signup-container .input-group .contact .input-group-prepend {
  width: 50%;
}
.signup-container .input-group .contact input[type=number] {
  padding-left: 16px;
}
.signup-container .input-group .contact #phone-error {
  position: absolute;
  bottom: -20px;
  left: 0;
}
.signup-container .form-group, .signup-container .input-field {
  margin-bottom: 41px;
}
.signup-container .form-group label, .signup-container .input-field label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #27272A;
}
.signup-container .form-group .form-control, .signup-container .input-field .form-control {
  background: #F8F8F8;
  padding: 8px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #A1A1AA;
  border-radius: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #27272A;
}
.signup-container .form-group .form-control:focus, .signup-container .input-field .form-control:focus {
  box-shadow: none;
}
.signup-container .form-group .form-control.custom-h, .signup-container .input-field .form-control.custom-h {
  height: 112px;
}
.signup-container .form-group textarea, .signup-container .input-field textarea {
  resize: none;
}

.select-input select {
  height: 35px;
}

@media screen and (max-width: 768px) {
  .signup-container {
    background: #F7F7F7;
    margin-top: 0;
    padding: 0;
  }
  .signup-container .login-inner .login-right {
    margin: 0;
  }
  .signup-container .login-inner .login-right .login-section {
    padding: 0 24px;
    max-width: 100%;
    margin: 0;
    background: #F7F7F7;
    margin-bottom: 50px;
  }
  .signup-container .login-inner .login-right .login-section .logo {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .signup-container .login-inner .login-right .login-section .logo img {
    width: 120px;
    height: 123.24px;
  }
  .signup-container .login-inner .login-right .login-section .input-field {
    height: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .signup-container .login-inner .login-right .login-section .input-field label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  .signup-container .login-inner .login-right .login-section .input-field input {
    height: 40px;
    padding: 8px;
  }
  .signup-container .login-inner .login-right .login-section .input-field select {
    background: #fff;
  }
  .signup-container .login-inner .login-right .login-section .input-field .contact {
    width: 100%;
  }
  .signup-container .login-inner .login-right .login-section .btn-wrapper {
    position: fixed;
    bottom: 0;
    background: #fff;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
  }
  .signup-container .login-inner .login-right .login-section .btn-wrapper #submitbtn {
    margin: 0;
    height: auto;
    padding: 10px !important;
  }
}
#delete-service .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
#delete-service .modal-content .modal-header {
  border: 0;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
}
#delete-service .modal-content .modal-header .modal-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #333333;
}
#delete-service .modal-content .modal-footer {
  border: 0;
  padding: 0 32px 24px 32px;
  justify-content: center;
}
#delete-service .modal-content .modal-footer button {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #delete-service .modal-content .modal-header {
    padding: 16px;
  }
  #delete-service .modal-content .modal-header .modal-title {
    font-size: 16px;
  }
  #delete-service .modal-content .modal-footer {
    padding: 16px;
  }
}
.portfolio-container {
  padding: 69px 293px 0 293px;
  margin-bottom: 125px;
}
.portfolio-container .portfolio-upload-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.portfolio-container .portfolio-upload-section h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #27272A;
  margin-bottom: 40px;
  margin-top: 24px;
}
.portfolio-container .portfolio-upload-section .profile-img-upload {
  margin-bottom: 40px;
  position: relative;
  width: 381px;
  height: 341px;
  cursor: pointer;
}
.portfolio-container .portfolio-upload-section .profile-img-upload .upload-img {
  width: 381px;
  height: 341px;
  cursor: pointer;
  background-image: url("../../assets/images/icons/default-large.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-container .portfolio-upload-section .profile-img-upload .upload-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.portfolio-container .portfolio-upload-section .profile-img-upload .upload-img .uploader {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.portfolio-container .portfolio-upload-section .profile-img-upload .upload-img .profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.portfolio-container .portfolio-upload-section .red-btn {
  margin: 0 0 24px 0;
  background: #7A0D41;
  width: 183px;
  height: 48px;
  box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
  border-radius: 4px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .portfolio-container {
    padding: 0;
  }
  .portfolio-container .portfolio-upload-section {
    box-shadow: none;
    padding: 0 28px;
  }
  .portfolio-container .portfolio-upload-section .input-section {
    width: 100% !important;
  }
}
@media screen and (max-width: 568px) {
  .portfolio-container .portfolio-upload-section h1 {
    width: 100%;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .portfolio-container .portfolio-upload-section .profile-img-upload {
    width: 100%;
    border-radius: 8px;
  }
  .portfolio-container .portfolio-upload-section .profile-img-upload .upload-img {
    width: 100%;
    border-radius: 8px;
  }
  .portfolio-container .portfolio-upload-section .profile-img-upload .upload-img #image {
    border-radius: 8px;
  }
  .portfolio-container .portfolio-upload-section .red-btn {
    width: 100%;
  }
  .portfolio-container .portfolio-upload-section .input-section {
    width: 100% !important;
  }
}
.add-rate-page .input-section .form-group {
  position: relative;
}
.add-rate-page .input-section .form-group .input-group #amount-error {
  position: absolute;
  left: 0;
  bottom: -30px;
}
.add-rate-page .input-section .form-group .input-group-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #27272A;
  background: #F8F8F8;
  border: 0;
  border-bottom: 1px solid #A1A1AA;
  border-radius: 0;
}

.browse-image {
  width: 100%;
  padding: 18px 135px 30px 135px;
}
.browse-image .cover-img-upload {
  position: relative;
  width: 100%;
  height: 227px;
  background: rgba(228, 228, 231, 0.5);
  padding: 16px;
}
.browse-image .cover-img-upload .upload-img {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}
.browse-image .cover-img-upload .upload-img .cover-uploader {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.browse-image .cover-img-upload .upload-img .profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-sizing: border-box;
}
.browse-image .cover-img-upload .upload-img .drag-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 45%;
  z-index: -1;
}
.browse-image .cover-img-upload .upload-img .drag-drop img {
  width: 22px;
  height: 18.5px;
  margin-bottom: 6.5px;
}
.browse-image .cover-img-upload .upload-img .drag-drop p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10.4042px;
  line-height: 135%;
  letter-spacing: -0.12485px;
  color: #9CA3AF;
}
.browse-image .cover-img-upload .upload-img .drag-drop .add-cover {
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #9CA3AF;
}
.browse-image .cover-img-upload .upload-img .drag-drop .add-cover img {
  width: 24px;
  height: 25px;
  margin-right: 4px;
  margin-bottom: 0;
}
.browse-image .cover-img-upload .upload-img .change-cover {
  width: 200px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 6px 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #8A0E49;
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.browse-image .cover-img-upload .upload-img .change-cover img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.edit-profile {
  padding-top: 0;
}
.edit-profile .profile-img-upload {
  position: unset !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile .profile-img-upload .upload-img {
  position: relative;
}

@media screen and (max-width: 768px) {
  .browse-image {
    background: #F7F7F7;
    padding: 46px 16px 27px 16px;
  }
  .browse-image .cover-img-upload .upload-img .drag-drop {
    z-index: 1;
    top: 40%;
    left: 40%;
  }
  .browse-image .cover-img-upload .upload-img .drag-drop img, .browse-image .cover-img-upload .upload-img .drag-drop p {
    display: none;
  }
  .browse-image .cover-img-upload .upload-img .drag-drop .add-cover {
    display: block;
  }
  .browse-image .cover-img-upload .upload-img .drag-drop .add-cover img {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 568px) {
  .browse-image .cover-img-upload .upload-img .drag-drop {
    z-index: 1;
    top: 40%;
    left: 30%;
  }
}
.blog-page .blog-container {
  width: 48%;
  height: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}
.blog-page .blog-container p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  padding: 16px 14px;
}
.blog-page .blog-container .red-btn {
  width: 160px;
  height: 48px;
  background: #8A0E49;
  border-radius: 40px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 14px;
  margin-left: 0;
}
.blog-page .blog-container .remove {
  width: 100%;
  height: 66.43px;
  background: rgba(243, 242, 242, 0.6);
  border-radius: 0px 0px 8px 8px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #27272A;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}
.blog-page .blog-container:hover .remove {
  opacity: 1;
  transition: 0.5s;
}
.blog-page .blog-details-container {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 15px 32px 15px;
}
.blog-page .blog-details-container p {
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .blog-page .blog-container {
    height: auto;
  }
  .blog-page .blog-details-container {
    margin: 0 0 32px 0;
  }
}
@media screen and (max-width: 568px) {
  .blog-page .blog-container {
    height: auto;
    width: 100%;
  }
  .blog-page .blog-details-container {
    margin: 0 0 16px 0;
  }
}
#hire-me-page-wrapper {
  width: 80%;
  margin: 50px auto 60px auto;
}
#hire-me-page-wrapper .post-heading {
  padding: 0px 32px 45px 32px;
}
#hire-me-page-wrapper .post-input-container {
  padding: 0 32px 0px 32px;
}
#hire-me-page-wrapper .post-input-container .c-text {
  height: auto !important;
  resize: none;
}

.post-container {
  width: 80%;
  margin: 50px auto 60px auto;
  padding-top: 24px;
  background: #FFFFFF;
}
.post-container.custom-style {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 32px 24px 156px 24px;
}
.post-container .post-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px 40px 32px;
}
.post-container .post-heading h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}
.post-container .post-input-container {
  padding: 0 32px 0px 44px;
}
.post-container .post-input-container .row {
  justify-content: space-between;
}
.post-container .post-input-container .row .col-sm-6, .post-container .post-input-container .row .col-lg-6 {
  flex: 0 0 47%;
}
.post-container .post-input-container .input-section .form-group {
  margin-bottom: 41px;
}
.post-container .post-input-container .input-section .form-group label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #27272A;
}
.post-container .post-input-container .input-section .form-group label span {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #27272A;
  opacity: 0.7;
}
.post-container .post-input-container .input-section .form-group .form-control {
  background: #F8F8F8;
  padding: 8px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #A1A1AA;
}
.post-container .post-input-container .input-section .form-group .form-control.custom-h {
  height: 75px;
}
.post-container .post-input-container .input-section .form-group .form-control.custom-form {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  background: #fff;
}
.post-container .btn-wrapper {
  text-align: right;
}
.post-container .btn-wrapper .red-btn {
  margin-right: 32px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  #hire-me-page-wrapper {
    width: 90%;
    margin: 16px auto;
    padding-top: 0;
  }
  #hire-me-page-wrapper .post-heading {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }
  #hire-me-page-wrapper .post-input-container {
    padding: 16px;
  }
  #hire-me-page-wrapper .post-heading + .post-input-container .row {
    flex-direction: column;
  }
  #hire-me-page-wrapper .btn-wrapper {
    padding: 16px;
  }
  #hire-me-page-wrapper .btn-wrapper .red-btn {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .creators-profile-page,
.portfolio-container,
.service-container,
.browse-image,
.f-p, #hire-me-page-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .signup-container .login-inner .login-right .login-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .creators-profile-page .creators-profile-wrapper .card .card-body .description {
    padding: 0px 0px 30px 0px;
  }

  .creators-profile-page .creators-details-wrapper .my-profile .portfolio {
    margin-top: 40px;
  }

  .portfolio-container {
    overflow: hidden;
  }

  .portfolio-container .portfolio-upload-section h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .portfolio-container .portfolio-upload-section {
    overflow: hidden;
  }

  .portfolio-container .portfolio-upload-section .profile-img-upload,
.portfolio-container .portfolio-upload-section .profile-img-upload .upload-img {
    height: 320px;
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .creators-profile-page .col-sm-6.col-lg-4, .creators-profile-page .col-sm-6.col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .creators-profile-page .creators-details-wrapper .my-profile .portfolio {
    display: block;
  }

  .creators-profile-page .creators-details-wrapper .my-profile .portfolio .title {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
