
@media  (max-width: 1299px)
{
.top_nav .navbar-right li
{
    padding: 0 8px 0px 0;
}
.top_nav .navbar-right li:before
{
    right: 3px;
}

.top_nav .nav_menu .toggle
{
    width: 37%;
}

.top_nav .navbar-right {
    width: calc(100% - 704px);
    text-align: right;
}
.top_nav .navbar-right li.third img {
    width: 180px;
}
}
@media screen and (max-width: 1144px)
{
    .top_nav .navbar-right {
    width: calc(100% - 634px);
}
.top_nav .nav_menu .toggle {
    width: 34%;
    font-size: 24px;
}
}

@media screen and (max-width: 1080px)
{
    .top_nav .navbar-right {
    width: calc(100% - 574px);
}
.top_nav .nav_menu .toggle {
    width: 34%;
    font-size: 20px;
}
.top_nav .navbar-right li a
{
    font-size: 14px;
}
.top_nav .navbar-right li.third img {
    width: 141px;
}
}
@media (max-width: 991px)
{
    .footer
    {
        width: 100%;
        float: left;
        margin-left: 0;
        position: relative;
    }
    .top_nav .navbar-right
    {
    width: 100%;
    text-align: center;
    }
    .top_nav .nav_menu .toggle
    {
        width: auto;
    }
    footer
    {
        position: relative;
        width: 100%;
        float: left;
    }
    .new {
    padding: 25px;
}

}

