    @font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('../fonts/SFProDisplay-Regular.ttf') format('embedded-opentype'),  url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf')  format('truetype'), url('SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
input::-webkit-input-placeholder {
    color: #b6bfc5 !important;
}
html {
scroll-behavior: smooth;
}

* {
margin: 0;
padding: 0;
outline: none !important;
}
body {
overflow-x: hidden;
font-weight: 400;
color: #272727;
font-family: 'SFProDisplay-Regular';

}

.form-group {
    margin-bottom: 17px !important;
}
section.login_FORM .btn-primary {
    font-family: 'SFProDisplay-Regular';
}
section.login_FORM .btn-primary:hover {
        background-color: #02cabc;
    border-color: #02cabc;
}
section.login_FORM .btn-primary:focus {
    background-color: #00b3a7;
    border-color: #00b3a7;
}
input.btn.btn-primary:hover {
    background-color: #02cabc;
    border-color: #02cabc;
}
input.btn.btn-primary:focus {
    background-color: #00b3a7;
    border-color: #00b3a7;
}
.filter_btns button.mehron_btn:hover {
    background-color: #841246;
    border-color: #841246;
}
.filter_btns button.green_btn:hover {
    background-color: #02cabc;
    border-color: #02cabc;
}
body,
html {
height: 100%;
width: 100%;
}
body:before,
body:after {
content: none!important
}
::i-block-chrome,
body {
-webkit-text-stroke: .1px
}
img {
max-width: 100%;
vertical-align: top;
}
select::-ms-expand {
display: none;
}
h5 {
    font-family: 'SFProDisplay-Regular';
    font-size: 17px !important;
    font-weight: 900;
    color: #171717;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
span,
p,
ul {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
background: transparent;
list-style: none;
}
p {
    font-family: 'SFProDisplay-Regular';
}
label {
font-weight: normal;
}
a,
a:hover,
a:focus,
a:active {
text-decoration: none;
color: #fff;
;
}
a,
input[type="submit"],
input[type="button"],
.btn,
button {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
line-height: normal;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
input[type="button"]:focus,
input[type="text"]:focus,
select:focus {
box-shadow: none;
outline: none;
}
.navbar-brand {
float: left;
height: inherit;
padding: 0;
font-size: 18px;
line-height: normal;
}
.common-btn {
    text-align: center;
}
.common-btn input {
    color: #fff;
    background-color: #00b3a7;
    border-color: #00b3a7;
    height: 55px;
    font-size: 22px;
    font-weight: 500;
    width: 72%;
    text-transform: uppercase;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}
.main_container .top_nav {
    display: block;
    margin-left: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 99;
    height: 105px;
      background-image: -webkit-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);   
        padding: 15px 0;

}
.institute_logo {
    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-left: 16px;
    width: 220px;
    text-align: center;
    transition: all 0.5s ease 0s;
    border-width: 0px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    margin-left: 12px;
}
.top_nav .nav_menu .toggle {
    float: left;
    display: inline-block;
    padding-top: 17px;
    width: auto;
    font-size: 27px;
    font-weight: 300;
    color: rgb(69, 72, 75);
    padding-left: 14px;
    margin: 0px;
}
.top_nav .navbar-right {
    width: inherit;
    float: right;
    padding-right: 25px;
    margin: 0px 0px 0px;
}
.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 242px;
    position: fixed;
    display: block;
    z-index: 1;
    margin-top: 104px;
    margin-bottom: 0px;
    padding: 0px 0px 80px;
    overflow-y: hidden;
        padding-top: 32px;
    background-image: -webkit-linear-gradient( -90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%);
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.top_nav .navbar-right li {
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: middle;
    padding: 0px;
}
.top_nav .navbar-right li a{
    padding: 0;
}
ul.nav.navbar-nav.navbar-right li a img {
       width: 65px;
    margin-top: 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 65px;
    object-fit: cover;

}
.nav-md .container.body .right_col {
    margin-left: 242px;
    padding: 128px 30px 0px;
    }
    ul.nav.side-menu li a {
    font-size: 17px;
    font-weight: 400;
    align-items: center;
        display: flex;
        width: 221px;
            margin: 2px 0;


}
ul.nav.side-menu li a:hover {
        background-color: #7c4c60;
    width: 221px;
    margin: 2px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul.nav.side-menu li a img {
    margin-right: 12px;
}
.container {
    width: 100%;
    padding: 0px;
    }
    h2.color-text{
    background: #3264f5;
    background: rgb(97,15,65);
    background: -webkit-linear-gradient(-90deg, rgba(97,15,65,1) 16%, rgba(193,32,108,1) 67%);
    background: -o-linear-gradient(-90deg, rgba(97,15,65,1) 16%, rgba(193,32,108,1) 67%);
    /*background: linear-gradient(-90deg, rgba(97,15,65,1) 16%, rgba(193,32,108,1) 67%);*/
    /*background: linear-gradient(175deg, rgba(97,15,65,1) 16%, rgba(193,32,108,1) 71%);*/
    -webkit-background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    }
ul.tabs li {
  display: inline-block;
    width: 100%;
    max-width: 169px;
    height: 50px;
    font-size: 18px;
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-family: 'SFProDisplay-Regular';
    background-image: -webkit-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);
}
ul.tabs {
    text-align: center;
        margin-top: 19px;

}
.tabs li.second {
    background-color: #f1f1f1;
    background-image: none;
    color: #000;
    border-right: 3px solid #fff;
}
.tabs li.third {
    background-color: #f1f1f1;
    background-image: none;
    color: #000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -3px;
}
p.text {
   font-size: 15px;
    color: #b6bfc5;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 20px;
}
span.hash {
    color: #171717;
    font-weight: 700;
    font-size: 17px;
}
.hashtags {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
}
.first-input {
    position: relative;
}
.first-input img {
    position: absolute;
    top: 6px;
    right: 0;
}
.first-input input {
    border: 0;
    box-shadow: none;
    border-bottom: 2px solid #610d35;
    border-radius: 0;
}
.first-input input {
    border: 0;
    box-shadow: none;
    border-bottom: 2px solid #610d35;
    border-radius: 0;
    font-size: 17px;
    color: #101010;
    font-weight: 500;
        padding-left: 0;

}
.first-input input[type=text]:focus {
    border-bottom: 2px solid #610d35;
}
.first-input {
    position: relative;
    max-width: 208px;
    width: 100%;
    margin-bottom: 23px;

}
.button {
        max-width: 470px;
    color: #000;
    background-color: #00b3a7;
    display: inline-block;
    width: 100%;
    height: 48px;
    border: 0;

    text-align: center;
    font-size: 17px;
    line-height: 48px;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
}
.space-top {
    margin-top: 92px;
}
.about-us h2 {
    padding: 16px 0 10px;
    font-weight: 600;
}
.tabs li.first {
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
    position: relative;
    right: -3px;
    background-color: #f1f1f1 !important;
    border-right: 3px solid #fff;
}
.nav-md .container.body .right_col {
    margin-left: 242px;
    padding: 120px 0px 0px;
    background-image: url(../images/banner.png);
    /*padding: 120px 0 0 0;*/
    background-repeat: no-repeat;
    background-size: contain;
    /*background-position: right;*/
}
.new-good h2 {
    font-size: 21px;
    margin-bottom: 0px;
    font-weight: 600;
}
.home-left {
    font-size: 18px;
    margin-top: 21px;
    margin-bottom: 19px;
    color: #303030;
    font-weight: 500;
    width: 439px;

}
.new-good ul {
    margin-top: 22px;
}
.new-good ul li {
    margin-bottom: 24px;
}
.new-good.gone ul {
    margin-top: 6px;
}
.new-good.gone ul li img {
    width: 35px;
    height: 35px;
}
.new-good.gone.social ul li {
    margin-bottom: 0;
}
.new-good ul li a {
    font-size: 16px;
    color: #303030;
    font-weight: 500;
}
.new-good ul li a:hover {
    color: rgb(115,14,57);
    font-weight: 700;
}
.new-good ul li:hover {
    color: rgb(115,14,57);
    cursor: pointer;
    font-weight: 700;
}
.new-good.gone ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 11px;
    margin-right: 10px;
}
.new-good ul li i {
    width: 35px;
    height: 35px;
    background-color: #000;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
}
.new-good h2 {
    font-size: 21px;
    margin-bottom: 0px;
}
.new-good.gone figure {
    width: 41px;
    display: inline;
    margin-right: 10px;
}
.new-good ul li:first-child i {
    background-color: #1d4b99;
}
.new-good ul li:nth-child(2) i {
    background-color: #1c9deb;
}
.new-good ul li:last-child i {
    background-color: #bd296e;
}
section.footer {
    /*margin-top: 69px;*/
    border-top: 3px solid #8a0e49;
        background-color: #fff;
}
section.footer .container {
    margin-top: 27px
}
.new-good.gone.social ul li i {
    background-color: #e9e9e9;
    color: #4b4b4b;
    font-size: 20px;
}
.new-good {
    margin-bottom: 24px;
}
.img-div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 3px;
}
img.add-button {
    margin-top: 5px;
}
.space-top.top {
        margin: 50px 0 160px;
}
.hashtags.desc {
    max-width: 772px;
    width: 100%;
        border-radius: 15px;

        box-shadow: 0 0 12px #ccc;

    }
p.posts {
    font-size: 16px;
    font-weight: 400;
    background-image: -webkit-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);
    color: #fff;
    padding: 13px;
    border-radius: 14px;
        line-height: 19px;
            margin-bottom: 32px;


}
.top-left {
    display: flex;
}
.top-left p {
    font-size: 15px;
    margin-left: 10px;
}
.button.small {
    width: 89px;
    font-size: 12px;
    height: 37px;
    line-height: 37px;
}
ul.details {
    padding-left: 81px;
}
ul.details li{
    position: relative;
        padding-bottom: 13px;

}
ul.details li:nth-child(1) {
    padding-top: 12px;
}
ul.details li:nth-child(1):before {
    top: 17px;
}
ul.details li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #620d35;
    border-radius: 100%;
    left: -19px;
    top: 5px;
}
.small-wrapp {
    margin: 29px 0px;
}
.post-desc {
    padding: 0 21px;
}
.space-top.top.continue .button {
    max-width: 270px;
    width: 100%;
}
.space-top.top.continue {
    text-align: center;
}
.post-desc {
    padding: 42px 28px 30px 32px;
    background-color: #fff;
    border-radius: 10px;
}
.space-top.top.continue {
    margin: 18px 0 -6px;
}
section.login_FORM {
    background-image: url(../images/login-new.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 52px 0px 41px;
    height: auto;
    font-family: 'SFProDisplay-Regular';
    background-size: cover;
    max-width: 675px;
    margin: auto;
    margin-top: 109px;
}
section.update_input.login_FORM input.form-control,
section.update_input.login_FORM.uploaded-data textarea {
    border-bottom: 2px solid rgb(97, 13, 53);
}

section.login_FORM input.form-control, section.login_FORM select.form-control {
     border-bottom: 2px solid rgb(199, 200, 199);
    height: 55px;
    box-shadow: none;
    border-top: 0px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 33px;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    color: #171717;
    border-right: 0px;
    padding-right: 0;
}
section.login_FORM form i.fa {
    font-size: 22px;
    color: #b1bbc1;
    position: absolute;
    top: 15px;
    bottom: unset;
    margin: auto;
    border: 0px solid;
    height: unset;
    line-height: normal;
}
section.login_FORM form .form-group {
    position: relative;
    margin-bottom: 17px;
    float: left;
    width: 100%;
}
section.login_FORM h2 {
    font-size: 42px;
    background: -webkit-linear-gradient(-90deg, rgba(97,15,65,1) 16%, rgba(193,32,108,1) 67%);
    background: -o-linear-gradient(-90deg, rgba(97,15,65,1) 16%, rgba(193,32,108,1) 67%);
    -webkit-background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;
        margin-bottom: 28px;
    font-weight: 600;
    font-family: 'SFProDisplay-Regular';    

}
section.login_FORM .btn-primary {
    color: #fff;
    background-color: #00b3a7;
    border-color: #00b3a7;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
}
section.login_FORM .form-group p {
       font-size: 18px;
    color: #620d35;
    font-weight: 400;
}
section.login_FORM .form-group p a {
       color: #8a0e49;
    font-weight: 400;
    margin-bottom: 16px;
    display: inline-block;
    font-weight: 800;
}
section.login_FORM .form-group p a:hover {
    color: #bb1f69;
}
.form-group.signup_a {
    margin-top: 18px;
    text-align: center;
}
.form-group.Submit.SignUp {
    margin-top: 22px;
}

section.update_input .email select,
.country_code .email select,
.country_code1 .email select {
    position: absolute;
    cursor: pointer;
    top: -3px;
    border: 0;
    width: 88px;
    background-image: url(../images/phn_arrow.png);
    background-repeat: no-repeat;
    background-position: 93% 60%;
    background-size: 15px;
    background-color: transparent;
    box-shadow: none;
}
.country_code .email select,
.country_code1 .email select {
    font-size: 18px;
    left: 20px;
    width: 66px;
    background-position: 93% 61%;
}
.country_code1 .email select {
    border-bottom: 0 !important;
    padding-left: 12px !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number]:focus {
    border-bottom: 2px solid #610d35 !important;
}
/************** Upload data ***************/
.uploaded-data {
    max-width: 470px;
    width: 100%;
    margin: auto;
}
.uploaded-data textarea {
    margin-top: 4px;
    width: 100% !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(199, 200, 199);
    resize: none;
    background-color: transparent; 
    font-size: 18px;
}
.uploaded-data textarea::-webkit-input-placeholder {
    color: #b6bfc5;
}
.uploaded-data .space-top {
    margin-top: 120px;
    margin-bottom: 300px;
}
.uploaded-data textarea[type=text]:focus{
  border-bottom: 2px solid rgb(97, 13, 53);     /* oranges! yey */
}
section.common-struct.login_FORM {
    margin-top: 0px;
    padding: 0px 0px 41px;
}
.common-struct .Update-img img {
    /*position: relative;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(82, 82, 82, 0.35);*/
   /* width: 140px;
    height: 140px;*/
    margin: auto;
    cursor: pointer;
}
.add_image img {
    position: absolute;
    right: -75px;
    left: 0;
    margin: auto;
    top: 155px;
    width: 40px;
    height: 40px;
}
.common-struct .form-group img {
    height: 25px;
    width: 25px;
}
.common-struct .form-group input::-webkit-input-placeholder {
    color: #b6bfc5;
}
.common-struct .form-group input[type=text]:focus,
.common-struct .form-group textarea[type=text]:focus {
  border-bottom: 2px solid #680d36;     /* oranges! yey */
}
.common-struct .form-group textarea::-webkit-input-placeholder {
    color: #b6bfc5;
}

/****** Modal Dialogue ******/
.modal_heading .modal-content {
    max-width: 443px;
    width: 100%;
    margin: auto;
}
.modal_heading .modal-content .modal-body {
    position: relative;
    padding: 35px 15px;
}
.modal_heading h6 {
    font-size: 26px;
    /*font-family: "Poppins";*/
    color: rgb(23, 23, 23);
    font-weight: bold;
    line-height: 1.234;
    text-align: center;
}
.modal_heading p {
    text-align: center;
    margin: 17px 0 24px;
    font-size: 17px;
    color: #7e7d7d;
}
.modal_heading .common-btn {
    margin-bottom: 8px;
}
.modal_heading .modal-dialog-centered {
    height: 100%;
    display: flex;
}
.cross_icon {
    position: absolute;
    top: -23px;
    right: -17px;
}
.cross_icon img {
    background-color: #00b3a7;
    width: 45px;
    height: 45px;
    padding: 9px;
    border-radius: 50%;
    box-shadow: 0px 0px 54px 0px rgba(82, 82, 82, 0.35);
}
/************ login page *************/
.main_bg {
    background-image: url(../images/banner_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4px;
    /*height: 100%;*/
}
.form-group input[type=text]:focus{ 
    border-bottom: 2px solid #680d36; 
}
.form-group input[type=password]:focus{ 
    border-bottom: 2px solid #680d36; 
}
.login-input .email img,
.login-input .password img {
    height: 22px;
    width: 22px;
    object-fit: contain;
}
section.login_FORM.login-input form i.fa {
    top: 5px;
}
section.login_FORM.login-input form i.fa.lock_icon {
    top: 4px;
}
section.login_FORM.login-input input.form-control,
section.login_FORM.login-input select.form-control {
        height: 37px;
}
section .input_feilds {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
section .input_feilds .input_style {
    width: 47%;
}
/********* Settings ************/
.white_bg_sec {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px rgba(82, 82, 82, 0.20);
    padding-top: -17px;
    margin: 63px 0;
    position: relative;
    padding: 85px 20px 2px;
        border: 3px solid rgb(251 251 251);
}
.white_bg_sec .Update-img {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -52px;
    width: 125px;
    margin: auto;
}
.white_bg_sec h5 {
    text-align: center;
}
.settings_links {
    margin: 44px 0px 0px;
}
.settings_links a {
    font-size: 22px;
    color: #171717;
    font-weight: 900;
    font-family: 'SFProDisplay-Regular';
    display: block;
}
.settings_links .border-bottom {
    border-bottom: 1px solid #e1e1e1;
    margin-top: 9px;
}
.settings_links .detils_links {
    margin-bottom:20px;
}
.settings_links a:hover {
    color: #8a0e49;
}
.setting_bg .white_bg_sec {
    position: relative;
   background-image: url(../images/settings_bnner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 40%;
    /* background-position: top right; */
    background-position: 116% 5%;
}
/*.setting_bg .bnner_image {
    background-image: url(../images/stripe.png);
    background-size: cover;
    background-repeat: no-repeat;
}*/
/*********** Re Submit post*************/
.common_white_bg {
    padding-top: 0; 
    margin-top: 16px;
}
.white_bg_sec .labels h5 {
    margin-top: 0;
    text-align: left;
}
.common_white_bg .labels h5 {
    padding: 18px 0px 4px;
}
.common_white_bg .labels p {
    color: #4f504f;
        font-size: 15px;
}
.price_input input {
    padding-left: 2px !important;
}
.medium_btn {
    text-align: center;
}
.medium_btn input {
    width: 55% !important;
}
.m_top {
    margin: 64px 0 40px;
}

/******** sidebar ***********/
.main_menu {
    position: relative;
}
.circular_img {
    position: fixed;
    bottom: 0;
}
.circular_img img {
    width: 100px;
}
/*********** post list *************/
.tabs_list ul.tabs {
    text-align: left;
}
.tabs_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabs_list .tabs_bar {
    width: 68%;
}
.tabs_list .search_input {
    width: 20%;
    position: relative;
    margin-top: 17px;
}
.tabs_list .search_input input {
    padding-left: 20px;
    border-radius: 50px;
    border: 2px solid #c7c8c7;
    background-color: transparent;
}
.tabs_list .search_input input:focus {
    border: 2px solid rgb(115,14,57);
}
.tabs_list .search_input img {
    position: absolute;
    width: 16px;
    top: 9px;
    left: 11px;
}
.tabs_list .search_input input {
    padding-left: 32px;
    border-radius: 50px;
    border: 2px solid #c7c8c7;
    background-color: transparent;
    color: #171717;
}
.tabs_list .search_input input::-webkit-input-placeholder {
    color: #c7c8c7;
}
.tabs_bar .tabs .first {
    background-color: #ccc;
    color: #000;
    background-image: none;
}
.tabs_bar .tabs .second {
    color: #fff;
    border-radius: 0px;
    background-image: -webkit-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);
}
.p_allside {
    padding: 0px 18px; 
}
.date_content {
    margin: 12px 0 7px;
    font-size: 16px;
    color: #171717;
}
.date_content span {
    font-weight: 800;
}
.post_list {
    margin-top: 43px;
}
.post_list .white_bg_sec {
    padding: 85px 20px 16px;
    margin: 63px 0 20px;
    color: #171717;
}
.white_bg_sec .post_list_para {
    font-size: 15px;
    color: #4f504f;
    font-weight: 500;
        word-break: break-all;
}
.white_bg_sec h5 {
        /*margin-bottom: 14px;*/
}
.post_img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}
.video {
    position: relative;
}
.video .play_btn {
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    width: 50px;
    margin: auto;
}
/************** post details ***********/
.theme_photos ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}
.theme_photos ul li img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-bottom: 7px;
    border-radius: 5px;
    object-fit: cover;
}
section.align_btns.login_FORM {
    max-width: none;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}
section.align_btns.login_FORM .medium_btn input {
    width: 100% !important;
    padding: 0 35px;
}
.filter_btns {
    margin-left: 15px;
        margin-bottom: -16px;
}
.filter_btns .mehron_btn {
    background-color: #660d36;
    border-color: #660d36;
    padding: 11px 18px;
    margin-right: 15px;
        font-size: 15px;
    width: 104px;
}
.filter_btns .green_btn {
    background-color: #00b3a7;
    border-color: #00b3a7;
    padding: 11px 18px;
    margin-right: 15px;
        font-size: 15px;
    width: 104px;
}
.date_content .equal_width {
    width: 105px;
    display: inline-block;
}
.date_content .equal_width.w2 {
    width: 130px;
    color: #171717;
}
/*.white_bg_sec.selected_bg_color.unslected_bg .date_content {
    color: #fff
}*/
/*.post_list .white_bg_sec:hover .date_content {
    color: #fff;
}
.post_list .white_bg_sec:hover h5 {
    color: #fff;
}*/
/************* Notification list *************/
.notification_bg {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px rgba(82, 82, 82, 0.40);
    margin-bottom: 20px;
    width: 75%;
    margin: auto;
    margin-bottom: 23px;
    border: 3px solid rgb(251 251 251);
}
.noti_para {
    padding: 18px 15px;
    /*margin-bottom: 15px;*/
}
.noti_para p {
    color: #4f504f;
}
.noti_para .equal_width {
    color: #171717;
    display: block;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
}

/********** filter page *************/

.slider-selection {
    background: #630d35 !important;
    border-radius: 50px;
}

.slider.slider-horizontal {
    width: 100% !important;
    height: 22px;
}
.slider.slider-horizontal .slider-track {
    border-radius: 50px;
    height: 8px;
}
.slider-handle {
    background-color: #fff !important;
    background-image: none !important;
    /*-webkit-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
    box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;*/
    box-shadow: 0px 0px 8px 0px rgba(82, 82, 82, 0.35); 
}


section.uploaded-data .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #171717 !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 50%;
    font-weight: 800;
    font-family: 'SFProDisplay-Regular';
    font-size: 14px;
}
.tooltip.top .tooltip-arrow {
    display: none !important;
}
.slider .tooltip.top {
    margin-top: -30px !important;
}

.follwers_number {
    display: flex;
    justify-content: space-between;
}
.slider_row {
    margin-top: 4px;
    margin-bottom: 10px;
    width: 74%;
}
.follwers_number .number {
    font-weight: 800;
    font-family: 'SFProDisplay-Regular';
}
/* The container */
.radio_btn {
     display: block;
    position: relative;
    padding-left: 25px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    margin-right: 25px;
}

/* Hide the browser's default radio button */
.radio_btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 3px solid #630d35;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio_btn input:checked ~ .checkmark {
  background-color: #620d35;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_btn .checkmark:after {
        top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.radio_flex {
    display: flex;
    margin-top: 7px;
    margin-bottom: 6px;
}
.theme_photos p.name {
    width: 92px;
    color: #171717;
    font-size: 15px;
    font-weight: 800;
    margin-top: 7px;
    margin-bottom: 7px;
}
.button_right_lrft {
    display: flex;
    justify-content: space-between;
}
.button_right_lrft .medium_btn {
    width: 47%;
}
.button_right_lrft .medium_btn input {
    width: 84% !important;
}
section.update_input {
    max-width: 539px;
}
/************* Summary page **************/
.menu_section .post_class a {
    background-color: #7c4c60;
    width: 221px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu_section li a {
    padding: 13px 15px 13px 36px !important;
}
.summary_details {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px rgba(82, 82, 82, 0.2);
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 10px 20px; 
}

.summary_details .date_content {
   font-size: 17px;
}
.summary_details .date_content span {
    font-size: 20px;
}
.summary_details .date_content .equal_width {
    width: 157px;
}
.white_bg_sec.selected_bg_color.selected {
    /*background-image: -webkit-linear-gradient( 90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%);*/
    /*color: #171717;*/
    border: 3px solid rgb(115,14,57);
}
.white_bg_sec.selected_bg_color.unslected_bg.unslected {
    background-image: none;
    color: #171717; 
    border: 3px solid rgb(255,255,255);
}
.white_bg_sec.selected_bg_color.unslected_bg.unslected:hover {
    border: 3px solid rgb(115,14,57);
}
/*.white_bg_sec.selected_bg_color.unslected_bg:hover .heading_star_align h5,
.white_bg_sec.selected_bg_color.unslected_bg:hover .labels h5  {
    color: #fff;
}*/
/*.white_bg_sec.selected_bg_color.unslected_bg:hover h5 {
    color: #fff;
}*/
.white_bg_sec.infu_details.selected_bg_color.unslected_bg .labels h5 {
    color: #000;
}
.white_bg_sec.selected_bg_color.white_1 h5 {
    color: #fff;
}
.white_bg_sec.selected_bg_color.white_1 .date_content {
    color: #fff;
}
.white_bg_sec.selected_bg_color .social_flex p {
    color: #171717;
     margin-top: 6px;
    font-weight: 600;
}
.selected_bg_color .border-top {
    border-top: 2px solid #eaeaea;
    margin-top: 24px;
}
.selected_bg_color .social_flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 22px 0;
    flex-wrap: wrap;
}
.white_bg_sec.selected_bg_color.unslected_bg .social_flex p {
    color: #171717;
    margin-top: 8px;
    font-weight: 600;
    line-height: 1;
}
.selected_bg_color .social_flex .social_img img {
    width: 45px;
    height: 45px;
}
.selected_bg_color .border-bottom {
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 24px;
}
.selected_bg_color .social_img {
    border-right: 1px solid #eaeaea;
    padding-right: 26px; 
}
.selected_bg_color .social_img.border_none {
    border-right: none;
    padding-right: 0;
}
.selected_bg_color .date_content .equal_width {
    width: 128px;
}
.selected_bg_color .filter_btns.d-flex {
    display: flex;
    justify-content: space-between;
}
.login_FORM.summary_deials {
    margin-top: 0;
    padding: 0;
}
/*************** invite influ **********/
.white_bg_sec.selected_bg_color .filter_btns {
    margin-left: 0;
    margin-bottom: 0;
}
.white_bg_sec.selected_bg_color .filter_btns .green_btn {
    padding: 11px 6px;
    margin-right: 0;
    font-size: 15px;
    width: 110px;
}
.filter_icon {
    width: 13px;
    height: 13px;
    margin-top: 2px;
    margin-right: 5px;
}
/* The container */
.filter_btns .check_box {
  display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 0px !important;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #171717;
}

/* Hide the browser's default checkbox */
.filter_btns .check_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.filter_btns .check_box .checkmark1 {
  position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    /* background-color: #eee; */
    border: 3px solid #660d36;
    border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.filter_btns .check_box input:checked ~ .checkmark1 {
      background-color: #660d36;
    border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter_btns .check_box .checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter_btns .check_box input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter_btns .check_box .checkmark1:after {
  left: 5px;
    top: 0px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);s
}
.filter_btns .check_box {
    margin-left: 12px;
}
.filter_align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.set_price_popup.login_FORM {
    padding: 0;
    margin-top: 30px;
}
.set_price_popup.login_FORM .email {
    width: 82%;
    margin: auto;
}
.set_price_popup.login_FORM input {
    height: 34px !important;
    padding-left: 0 !important;
    text-align: center;
}
.text_area textarea {
    font-size: 18px;
    border-bottom: 2px solid rgb(199, 200, 199); 
    width: 100%;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    margin: 0px 0 16px;
        height: 55px;
}
.text_area textarea::-webkit-input-placeholder {
    color: #b6bfc5;
}
.text_area textarea[type=text]:focus{
  border-bottom: 2px solid rgb(97, 13, 53);     /* oranges! yey */
}
.create_post_input .email input[type=date]:focus {
    border-bottom: 2px solid rgb(97, 13, 53); 
}
/*********** infu list ***************/
.heading_star_align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.star_align ul {
    display: flex;
}
.star_align ul li  img {
    width: 20px;
    height: 20px;
}
.star_align ul li {
    margin-right: 5px;
}
.star_align ul li:nth-child(5) {
    margin-right: 0;
}
/*************** infu details **********/
.crousel_slider .carousel-indicators {
    bottom: -38px;
}
.crousel_slider .carousel-indicators li {
    border: 2px solid #560c32;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.crousel_slider .carousel-indicators li.active {
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.crousel_slider .carousel-indicators .active {
    background-color: #560c32;
}
.crousel_slider .carousel-inner .item {
    height: 256px;
}
.infu_details.white_bg_sec {
    padding: 0;
}
.details_pd {
    padding: 20px 20px 0;
}
.social-followers {
    padding: 0px 20px 0;
    width: 73%;
}
.social-followers .border-bottom {
    margin-bottom: 8px;
}
.rating_details {
     padding: 0px 20px 0;
}
.details_silder .rating_details .theme_photos {
    padding-bottom: 25px;
}
.details_silder .selected_bg_color .social_img:nth-child(1),
.details_silder .selected_bg_color .social_img:nth-child(2) {
    padding-right: 60px;
}

/************ gig list **************/
.gig_content .date_content .equal_width {
    width: 114px;
}
.gig_det .summary_deials {
    margin-top: 30px;
        margin-bottom: -3px;
}
.gig_det .play_video {
        position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 30px;
    width: 30px;
    top: 44px;
}
.gig_det .play_video img {
    height: 100%;
    width: 100%;
    border: 0;
}
/************ gig detail **************/
.gig_contact_flex {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    align-items: center;
}
.gig_contact_flex .right_m {
    margin-right: 100px;
}
.forgot_icon {
    position: relative;
    margin-top: 0px;
 }
.forgot_icon img {
       width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 5px;
}
.top-left img {
    width: 28px;
    height: 20px;
}
/*.white_bg_sec:hover {
    background-image: -webkit-linear-gradient( 90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%) ;
    color: #fff;
}*/
.intro {
    background-image: -webkit-linear-gradient( 90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%) !important ;
    color: #fff !important;
}
.intro_remove {
    background-image: none !important;
    color: #171717 !important;
}
.details_silder .white_bg_sec.selected_bg_color.unslected_bg:hover,
.details_silder .white_bg_sec.selected_bg_color.unslected_bg:hover .theme_photos p.name,
.details_silder .white_bg_sec.selected_bg_color.unslected_bg:hover .social_flex p {
    background-image: none !important;
    color: #171717 !important;
}
/*.white_bg_sec.selected_bg_color.unslected_bg:hover {
    background-image: -webkit-linear-gradient( 90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%) !important ;
    color: #fff !important;
}
.white_bg_sec.selected_bg_color.unslected_bg:hover .social_flex p {
    color: #fff !important;
}
.white_bg_sec.selected_bg_color.unslected_bg:hover .theme_photos p.name {
    color: #fff !important;
}*/
/*.white_bg_sec.selected_bg_color.unslected_bg:hover .date_content {
    color: #fff;
}*/
.post_list .white_bg_sec:hover,
.notification_bg:hover {
    border: 3px solid rgb(115,14,57);
    background-image: none !important;
    /*background-image: -webkit-linear-gradient( 90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%) !important ;*/
    /*color: #fff !important;*/
    color: #171717 !important;
}
/*.post_list .white_bg_sec:hover .post_list_para {
    color: #fff;
}*/
/*.notification_bg:hover {
    background-image: -webkit-linear-gradient( 90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%) !important ;
}*/
/*.notification_bg:hover .noti_para p,
.notification_bg:hover .noti_para .equal_width {
    color: #fff !important;

}*/

/***************** create post input *****************/
.header_contain .institute_logo {
    margin-left: 0;
}
section.contain_banner {
    /*max-width: 539px;*/
    max-width: 578px;

}
.create_post_input {
    padding: 20px 0;
}
.create_post_input .email input{
    border-bottom: 2px solid rgb(199, 200, 199);
    height: 34px;
    box-shadow: none;
    border-top: 0px;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    color: #171717;
    border-right: 0px;
    padding-left: 0;
    padding-right: 0;
}
.email.uploaded-data textarea {
    font-size: 18px;
    margin-top: 4px;
    height: 86px;
    color: #000;
}

/*input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}*/
/*.calender_icon {
    position: relative;
}*/
/*.calendar_icon1 {
    position: absolute;
    top: 7px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../images/calender_icon.png);
    background-repeat: no-repeat;
    background-position: 73% 60%;
    background-size: 15px;
}*/
section .hide_content,
section .hide_content2,
section .hide_content3 {
    border: 3px solid rgb(115,14,57);
}
.calendar_icon1 {
    position: relative;
    width: 100%;
}
.calendar_icon1 input.date_icon::-webkit-input-placeholder {
    width: 100%;
}
/*.calendar_icon1::after {
    content: url(../images/calender_icon.png);
     position: absolute;
    top: 30px;
    right: 0;
    width: 20px;
    height: 20px;
    z-index: -1;
}*/
.calendar_icon1 input.date_icon[type="date"]::-webkit-calendar-picker-indicator {
    /*content: url(../images/calender_icon.png);*/
    opacity: 1;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 2px;
    background-position: right;
} 
.form_wd .calendar_icon input[type=time] {
    position: relative;
}
.form_wd .calendar_icon input[type=time]::-webkit-calendar-picker-indicator  {
    opacity: 1;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 2px;
    background-position: right;
}
.form_wd input[type=time]:focus {
    border-bottom: 2px solid rgb(97, 13, 53);
}
.contact_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact_flex .form_wd {
    width: 47%;
}
.change_icon {
    margin-bottom: 17px;
}
.change_icon input {
    padding-left: 33px !important;
}
.change_icon .email i {
    position: absolute;
    top: 5px;
}
.change_icon .email i img {
    height: 22px;
    width: 22px;
    object-fit: contain;
}
.m_t {
    margin-top: 30px !important;
}
.single_list {
    max-width: 480px !important;
}
.single_list .white_bg_sec {
    margin: 76px 0 257px;
}
.single_list .m_top {
    margin: 64px 0 24px;
}
.header_contain {
    max-width: 85%;
    height: 100%;
    margin: auto;
    width: 100%;
}
.footer_contain {
    margin-top: 27px;
    max-width: 84%;
    height: 100%;
    /* margin: auto; */
    width: 100%;
}
.clr {
    clear: both !important;
}


.top_nav .nav.toggle {
    display: none;
}
.right_col.bg_banner {
    background-size: cover !important;
}
section.footer .new-good.gone .red-tooltip + .tooltip > .tooltip-inner {
    background-color: #000 !important;
}
section.signup_text .form-group textarea {
    border-bottom: 2px solid rgb(199, 200, 199);
        width: 100% !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    resize: none;
    border-radius: 0;
        font-size: 18px;
    font-weight: 400;
    padding-left: 33px;
    padding-right: 0;
    box-shadow: none;
    padding-top: 4px;
        color: #171717;
}
section.signup_text .form-group textarea:focus {
    box-shadow: none;
}
.view_img_video .modal-content {
    padding: 12px;
    width: 100%;
}
.view_img_video .modal-content img,
.view_img_video .modal-content iframe {
        width: 100%;
    height: 400px;
    object-fit: contain;
}
section.equal_height .white_bg_sec h5 {
    margin-bottom: 18px;
}
section.equal_height .white_bg_sec .date_content {
    margin: 8px 0 0px;
}
section.resubmit {
    max-width: 616px;
}
section.resubmit .price_input input {
    font-size: 15px;
}
section.resubmit .labels p {
    margin-top: 5px;
}
section.resubmit .email input {
    width: 80%;
}
section.resubmit .medium_btn input {
    width: 44% !important;
}
.label_addres label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
}
section.two_btns {
    display: block;
    justify-content: space-between;
    max-width: none;
}
section.two_btns .medium_btn input {
    width: 100% !important;
}
section.two_btns .m_bt {
    margin-bottom: 17px !important;
}
section.infu_list .theme_photos ul li {
    margin-bottom: 3px;
}
section.infu_list .theme_photos ul li img {
    width: 65px;
    height: 65px;
    margin-right: 16px;
}
section.infu_list .theme_photos p.name {
    width: 63px;
}
section.infu_btns .form-group.m_top {
    margin: 28px 0 50px !important;
}
section.infu_btns .medium_btn input {
    width: 38% !important;
}
.sugget_btn .green_btn {
    width: 142px;
    padding: 11px 11px;
}
section.setting_bg {
    position: relative;
    max-width: 552px;
    margin-bottom: 83px;
    /*background-image: url(../images/stripe.png);
    background-position: cover;
    background-repeat: no-repeat;*/
}
section.setting_bg .white_bg_sec {
    border: 3px solid rgb(115,14,57);
}
section.setting_bg .white_bg_sec .strip,
section.setting_bg .white_bg_sec .strip2 {
        position: absolute;
    height: 30px;
    width: 30px;
    background-color: #d8bec9;
    border-radius: 63px;
    top: 36px;
}
section.setting_bg .white_bg_sec .strip2 {
    height: 20px;
    width: 20px;
    top: 43px;
    background-color: #ddc6d0;
    left: 28px;
}
section.setting_bg .white_bg_sec .strip3,
section.setting_bg .white_bg_sec .strip4 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #d8bec9;
    border-radius: 63px;
    bottom: 15px;
    right: 22px;
}
section.setting_bg .white_bg_sec .strip4 {
    height: 30px;
    width: 30px;
    background-color: #ddc6d0;
    bottom: 21px;
    right: 37px;
}
section.setting_bg .detils_links img {
    height: 30px;
    width: 30px;
    margin-right: 11px;
    margin-top: -2px;
}
section .filter_spacing {
    padding-top: 13px;
    padding-left: 24px;
}
section .filter_spacing .m_top {
    margin: 64px 0 32px !important;
}
section.equal_mb {
    margin-bottom: 40px;
}
section.accpet_post .theme_photos ul li img {
    margin-right: 5px;
}
section.infu_interest .theme_photos p.name {
    color: #4f504f;
    font-weight: 500;
}
.white_bg_sec.unslected .filter_btns,
.white_bg_sec.selected .filter_btns,
.white_bg_sec.hide_content .filter_btns,
.white_bg_sec.hide_content2 .filter_btns,
.white_bg_sec.hide_content3 .filter_btns {
    margin-bottom: 0px !important;
}
section .spacing_btn.m_top {
    margin: 64px 0 35px !important;
} 
.view_img_video .modal-dialog-centered {
    display: flex;
    height: 100%;
    align-items: center;
}
.view_img_video .cross_icon {
    /*top: 95px;*/
}
.view_img_video .cross_icon img {
    width: 45px;
    height: 45px;
}
.view_img_video .modal-body {
    padding: 0;
}
section.heading_gap h5 {
    margin-bottom: 18px;
}
section.heading_gap .gig_content .date_content {
    margin: 9px 0 7px;
}
/*section.heading_gap .gig_content .date_content .equal_width {
    display: inline-flex;
    margin-bottom: 4px;
}*/
.white_bg_sec.min_height_box {
   min-height: 282px !important;
}
section.footer {
    margin-top: 27px;
}
/***************** media query ***************/
@media (max-width: 1240px) {
    section.two_btns {
        display: block;
    }
    section.two_btns .medium_btn input {
        margin-bottom: 10px;
    }
    .home-left {
        width: 100%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .tabs_list {
        display: block;
    }
    .tabs_list .tabs_bar {
        width: 100%;
    }
    .tabs_list .tabs_bar ul {
        display: flex;
        width: 100%;
    }
    .tabs_list .tabs_bar ul a {
        width: 100%;
    }
    .tabs_list .search_input {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .section.align_btns.login_FORM {
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media (max-width: 767px) {
    .header_contain {
        max-width: 93%;
    }
    .footer_contain {
        max-width: 93%;
    }
    .top_nav .nav.toggle {
        display: block;
    }   
    .nav-md .container.body .col-md-3.left_col {
        display: none;
    }
    .nav-sm .container.body .col-md-3.left_col {
            min-height: 100%;
    width: 242px;
    position: fixed;
    display: block;
    z-index: 1;
    margin-top: 90px;
    margin-bottom: 0px;
    padding: 0px 0px 80px;
    overflow-y: hidden;
    padding-top: 32px;
    background-image: -webkit-linear-gradient( -90deg, rgb(35,8,38) 0%, rgb(115,14,57) 100%);
    }
    .nav-md .container.body .right_col {
        margin-left: 0;
    }
    .nav-sm .right_col {
        background-image: url(../images/banner.png);
    padding: 107px 0 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    }

    .tabs_list {
        display: block;
    }
    .tabs_list .search_input {
        width: 100%;
        margin-top: 40px;
    }
    .nav-md .container.body .right_col {
        padding: 107px 15px 0px;
    }
    .about-us .tabs {
        /*display: none;*/
    }
    .tabs_list .tabs_bar {
        width: 100%;
    }
    .slider_row {
        width: 100%;
    }
    .forgot_icon {
        margin-top: 10px;
    }
    .forgot_icon img {
        top: -43px;
        height: 35px;
        width: 35px;
    }
    .filter_align,
    .filter_btns {
        /*display: none;*/
    }
    .add_image img {
        top: 155px;
    }
    .home-left {
        width: 100%;
    }
    .crousel_slider .carousel-indicators {
        /*bottom: 27px;*/
    }
    section .input_feilds {
    display: block;
    width: 100%;
    }
    section .input_feilds .input_style {
        width: 100%;
    }
    .nav-sm .top_nav .navbar-right {
        padding-right: 40px;
    }
    .nav-sm .about-us h2 {
        padding: 16px 0 10px;
    }
}
@media (max-width: 575px) {
    .accpet_post .button_right_lrft .medium_btn {
        text-align: center !important;
    }
    .footer .col-xs-4 {
        width: 100% !important;
    }
    .tabs_list .search_input {
        width: 100%;
    }
    .filter_btns button {
        margin-bottom: 5px;
    }
    .medium_btn input {
        width: 100% !important;
    }
    .button_right_lrft {
        display: block;
    }
    .button_right_lrft .medium_btn {
        width: 100%;
        margin: 20px 0;
    }
    .social-followers {
        width: 100%;
    }
    .selected_bg_color .social_img {
        border-right: none;
        padding-right: none;

    }
    .selected_bg_color .social_flex {
        justify-content: space-between;
    }
    .selected_bg_color .social_img {
        margin: 12px 0;
        padding-right: 50px;
    }
    .theme_photos ul li img {
        margin-right: 10px;
    }
}
@media (max-width: 480px) {
    ul.tabs li {
            max-width: 97px;
    }
}

.menu_section ul li.active a{
    background-color: #7c4c60;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.email.calender_icon {
position: relative;
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 96% 53%;
}

.theme-color {
    background: #630d35 !important;
}


.ui-slider-range
 {
    background: #630d35 !important;
}

.ui-slider .ui-slider-handle:hover {
    border: 1px solid #c5c5c5;
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -6px;
    border: none;
}

.ui-slider .ui-state-hover,
.ui-slider .ui-state-active {
    background-color: #fff !important;
    background-image: none !important;
    box-shadow: 0px 0px 8px 0px rgba(82, 82, 82, 0.35);
    border: 1px solid #c5c5c5 !important;
    background: #f6f6f6 !important;
}
.follwers_number {
    position: relative;
    margin:0; 
}

  .follwers_number .number:first-child {
    position: absolute;
    left: -22px;
    top: 16px;
  }
  .follwers_number .number:last-child {
    position: absolute;
    right: -34px;
    top: 16px;
  }
  .slider_row {
    margin-left: 22px;
  }

  .slider-wrapper input {
    font-weight: bold;
    border: 0;
  }

  .tabs_list.pending_button {
        justify-content: center;
    }   

.data_found.text-center {
    margin-top: 80px;
}
.data_found.text-center.accept {
    margin-top: 70px;
    margin-bottom: 19px;
}
.filter_btns.button-size .btn-primary {
    width: 152px;
    text-transform: uppercase;

}
 .common-struct .Update-img img {
    margin: auto;
    cursor: pointer;
    object-fit: cover;
    border-radius: 100%;
}
.white_bg_sec .Update-img{
      background-color: #fff;
    border-radius: 100%;

}

.about-us {
min-height: calc(100vh - 293px);
}
