// screen 768
@media screen and (max-width: 768px) 
{
    .creators-profile-page{
        .col-sm-6.col-lg-4, .col-sm-6.col-lg-8{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
// screen 600
@media screen and (max-width: 600px) 
{
    .creators-profile-page .creators-details-wrapper .my-profile .portfolio{
        display: block; 
    }
    .creators-profile-page .creators-details-wrapper .my-profile .portfolio .title{
        margin-bottom: 16px;
    }
}