// screen size 1024px
@media screen and (max-width: 1024px) {
  .creators-profile-page,
  .portfolio-container,
  .service-container,
  .browse-image,
  .f-p , #hire-me-page-wrapper{
    padding-left: 16px;
    padding-right: 16px;
  }
  .signup-container {
    .login-inner {
      .login-right {
        .login-section {
          padding-left: 16px;
          padding-right: 16px; 
        }
      }
    }
  }
  .creators-profile-page
    .creators-profile-wrapper
    .card
    .card-body
    .description {
    padding: 0px 0px 30px 0px;
  }
  .creators-profile-page .creators-details-wrapper .my-profile .portfolio {
    margin-top: 40px;
  }
  .portfolio-container {
    overflow: hidden;
  }
  .portfolio-container .portfolio-upload-section h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .portfolio-container .portfolio-upload-section {
    overflow: hidden;
  }
  .portfolio-container .portfolio-upload-section .profile-img-upload,
  .portfolio-container
    .portfolio-upload-section
    .profile-img-upload
    .upload-img {
    height: 320px;
    width: 320px;
  }
}
