// Fonts Variable //
$playfair-display: 'Playfair Display', serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$neucha: 'Neucha', cursive;


// Color Variable //
$primary-color: #8A0E49;


// Screen Size //
$screen_568px:568px;
$screen_768px:768px;