@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: $primary-regular;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    padding-top: 64px;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
    background-color: #f8f8f8;
}
.p-0{
  padding: 0px !important;
}
header,footer,section {
  display: block;
}
ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}

a {
  color: rgba($color-text,0.6);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

input, button , textarea {
  &:focus, &:active {
    outline: 0px !important;
    box-shadow: none !important;
  }
}

.title-wrapper{
  h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
   background: #f8f9fa;
   opacity: 1;
}
.empty-field-error{
  margin-top: 8px;
}
.alert-danger.login-error{
  color: #a94442 !important;

}
.login-error{
  width: 100%;
}
.c-btn{
  padding: 8px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0px;
  border: none;
  transition: 0.3s;
}
.blk-btn{
  background: #fff;
  
}
.sub-ops-wrapper{
  .btn-wrapper{
    .blk-btn{
      &:hover{
        background: #FFC300;
      }
    }
    .blk-btn.active{
      background: #FFC300;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    }
  }
}


.backdrop{
  width:100vw;
  height: 100vh;
  z-index: 115;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left:0;
  top:0;
  display: none;
}


.button-group{
  width: 100%;
  label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  button{
    position: relative;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
    background: #F8F8F8;
    border-radius: 0px;
    margin-bottom: 0px;
    span{
      position: absolute;
      top: 2px;
      right:10px;
      img{
        width:12px;
        height: 6px;
      }
    }
  }
  button::after{
    display: none;
  }
  .dropdown-menu{
    box-shadow: none;
    position: relative !important;
    transform: none !important;
    border-top: 0;
    background: #F8F8F8;
    width: auto;
    li{
      width: 100%;
      padding: 16px;
      a{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #27272A;
      
      }
    }
  }
  .dropdown-menu::after{
    display: none;
  }
}


@media screen and (max-width: $screen_768px){
  .button-group{
    width: 100%;
    label{
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #27272A;
    }
    button{
      position: relative;
      width: 100%;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #27272A;
      background: #FFFFFF;
      border-radius: 0px;
      margin-bottom: 0px;
      span{
        position: absolute;
        top: 2px;
        right:10px;
        img{
          width:12px;
          height: 6px;
        }
      }
    }
    button::after{
      display: none;
    }
    .dropdown-menu{
      box-shadow: none;
      position: relative !important;
      transform: none !important;
      border-top: 0;
      li{
        width: 100%;
        padding: 16px;
        a{
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: #27272A;
        
        }
      }
    }
    .dropdown-menu::after{
      display: none;
    }
  }
}

.multi-select-options{
  button{
    background: #F8F8F8;
    border-bottom: solid 1px #A1A1AA;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #A1A1AA;
    width: 100%;
    padding: 9px;
    text-align: left;
    
  }
  .dropdown-menu{
    width: 100%;
    padding: 16px;
    li{
      padding: 8px 0;
      display: flex;
      label{
        text-align: left;
       
       
        display: block;
       
      }
      input{
        position: relative;
      width: 20px;
      margin-left: 0;
      margin-right: 8px;
      }
    }
  }
}


// Custom Select Button Style //
.drop-btn {
    position: relative;
    user-select: none;
    width: auto;
    height: 43px;
    margin-left: 8px;
    cursor: pointer;
    
    .select-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 165px;
        padding: 14px 16px;
        height: 100%;
        background: #FFFFFF;
        border: 1px solid #E4E4E7;
        box-sizing: border-box;
        border-radius: 4px;
        .btn__trigger {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: #27272A;
            cursor: pointer;
        }
        .btn-options {
            width: 100%;
            position: absolute;
            display: block;
            top: 44px;
            left: 0;
            right: 0;
            background-color: #fff;
            transition: all 0.5s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: 2;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 4px 14px 0 rgb(56 14 121 / 10%);
            .btn-option {
                position: relative;
                display: block;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: rgba(51,51,51,0.7);
                cursor: pointer;
                padding: 14px 16px;
                text-align: left;
                margin: 8px;
                &:hover {
                    cursor: pointer;
                    background: #F5F5F5;
                    border-radius: 4px;
                }
                .btn-option.selected {
                    color: #ffffff;
                    background-color: #305c91;
                }
            }
        }
        img{
            margin-left: 12px;
        }
    }
    .select-btn.open .btn-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        background: #FFFFFF;
        // border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }
}



.create-btn{
    background: #7A0D41;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 8px 32px;

    &:hover{
        color: #fff;
        text-decoration: none;
    }
}

.next-btn{
    padding: 57px 32px 24px;
    text-align: right;
    a{
        padding: 8px 32px;
        background: #7A0D41;
        border-radius: 4px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
}

.table-red-btn{
    padding: 4px 8px;
    background: #FFFFFF;
    border: 1px solid #8A0E49;
    border-radius: 2px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #8A0E49;
    height: 32px;
    display: inline-block;
    margin: 8px;

    &:hover{
        background: #FFFFFF;
        color: #8A0E49;
    }
    &:focus{
        background: #FFFFFF;
        color: #8A0E49;
    }
}


.red-btn{
    padding: 8px 32px;
    background: #7A0D41;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 24px;
    border: 0;
    &:hover{
        text-decoration: none;
        color: #fff;
        background: #7A0D41;
    }
    &:visited{
        color: #fff;
    }
    &:focus{
        color: #fff;
    }
}

.btn-wrapper{
    padding: 32px 32px 32px 44px;
    .red-btn{
        margin: 0;
    }
}

.white-btn{
    border: 1px solid #8A0E49;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 32px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #7A0D41;
    background-color: #fff;
    &:hover{
        text-decoration: none;
        color: #8A0E49;
    }
    &:visited{
        color: #8A0E49;
    }
    &:focus{
        color: #8A0E49;
    }
}

.escrow-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 219px;
    h1{
        font-family: Noto Serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #000000;
    }
}

.ongoing{
    width: fit-content;
    padding: 4px 8px;
    background: rgba(255, 195, 0, 0.1);
    border-radius: 2px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #FFC300 !important;

    &:hover{
        text-decoration: none;
        color: #FFC300;
    }
    &:visited{
        color: #FFC300;
    }
    &:focus{
        color: #FFC300;
    }
}

.blue-box{
    width: fit-content;
    padding: 4px 8px;
    background: rgba(74, 179, 251, 0.1);
    border-radius: 2px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #4AB3FB;
}

.green-box{
    width: fit-content;
    padding: 4px 8px;
    background: #E0FFE5;
    border-radius: 2px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27AE60 !important;
}

.msg-btn{
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent;
    margin: 0;
    img{
        width: 32px;
        height: 32px;
    }
}

.mobile-breadcrumb-wrapper{
    padding: 16px;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    height: 56px;
    display: none;
    align-items: center;
    .mobile-breadcrumb{
        padding: 0;
        margin: 0;
        background-color: #FFFFFF;
        list-style-type: none;
        li{
            a{  
                &.breadcrumb-heading{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 150%;
                    color: #27272A;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                
                img{
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }
                &.active{
                    color: #71717A;
                }

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}


.dropdown-arrow{
    width: 27px;
    height: 27px;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    img{
        width: 16px;
        height: 16px;
        transition: 0.5s;
        &.rotate-active{
            transform: rotate(-180deg);
            transition: 0.5s;
        }
    }

    &:focus{
        outline: none;
    }
}

.header-section{
    .navbar-toggler{
        display: none;
        padding: 0;
        margin: 0;
    }
}

table.table-font{
    tbody{
        tr{
            td{
                font-weight: normal !important;
            }
        }
    }
}

td{
    &.font-weight{
        font-weight: normal !important;
    }

    .action-btns{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px){
    .header-section{
        justify-content: flex-start;
        .navbar-toggler{
            display: block;
        }

        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .top_nav{
            display: none;
        }
    }

    #sidebar-menu{
        .menu_section{
            margin-top: 50px;

            .side-menu{
                .sidebar-dropdown{
                    .sidebar-submenu{
                        .dropdown-lists{
                            .drop-down-item{
                                box-shadow: none !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // .breadcrumb-wrapper{
    //     display: none;
    // }

    .mobile-breadcrumb-wrapper{
        display: flex;
    }
}


.date-picker-btn{
    height: 43px;
    width: 200px;
    input{
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border: 1px solid #E4E4E7;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #27272A;
        cursor: pointer;
        text-align: start;
        background-image: url("../../assets/images/icons/calender-icon.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;

        &::placeholder{
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: #27272A;
        }
    }
}

.daterangepicker{
    width: 490px !important;
    z-index: 105;

    .right{
        padding: 0 !important;
    }
}




