@media screen and (min-width: 1400px) {

.one-app__phone {
    left: 643px;




}
}



@media screen and (max-width: 1199px) {

.col-md-6.new.aos-init.aos-animate {
    width: 84%;
}
section.screenshot.section-v2.one-app__section {
    padding: 120px 0;
}


li.first-twiva {
    position: relative;
    top: unset;
    }
section.screenshot {
 height: unset;
}
.navbar-brand>img {
    
    margin-left: 13px;
}
.about-us .heading h2, .Influencer .heading h2 {
    font-size: 91px;
}
.text-line h1 {
    font-size: 30px;

}
.text-line p {
    font-size: 16px;
}
.container {
    width: 100%;
}
.next-photo img {
    position: relative;
    right: 0;
    top: 16px;
}
.last-img img{
right: unset;
    width: 100%;
}
.new-might img {
    right: 0;
}

.new-hight h2 {
    font-size: 28px;
        margin-bottom: 16px;

}
.store-app {
    margin-right: 11px;
        max-width: 220px;
            padding: 13px 22px 11px 21px;


}
.Download .new-hight label {
    font-size: 13px;
}
.new-box h2 span {
    color: #000;
    font-size: 47px;
    }
    .heading h2 {
    font-size: 137px;
}
.tiwa-works.influencer .heading h2 {
    font-size: 83px;
    color: #e1e1e1;
}
nav.navbar .nav>li>a {
    padding: 0px 20px;
    display: inline-block;
}
.new-box h2{
        line-height: 32px!important;
    font-size: 31px;

}
.new-result {
    margin-top: 0;
}
.heading {
    margin-bottom: -31px;


}
@media screen and (max-width: 991px) {
.heading h2 {
    font-size: 90px;
}
.navbar-nav li {
    
    padding: 0px 5px;
    }
.new-hight h2 {
    font-size: 20px;
    }

.new-box h2 span {
    color: #000;
    font-size: 33px;

}
.Download .new-hight {
    margin-top: 0;
}
.last-img img{
        top: unset;

}
    .new-hight p {
    font-size: 57px;
}
.col-md-4.col-xs-6.col-sm-6.new-might {
    min-height: 441px;
}
.new-might img {
    right: 0;
    width: 100%;
}
.store-app {
    margin-right: 11px;
    max-width: 213px;
        margin-bottom: 21px;

    }
section.section-v2.one-app__section {
    margin-bottom: -8px;
}
div#headerHamburger {
    display: none;
}
.navbar-toggle .icon-bar {
    background-color: #f82b3c;
}
section.section-v2.one-app__section:after,
section.section-v2.one-app__section:before{
    display: none;
}
.new-good {
    margin-bottom: 16px;
}
ul.nav.navbar-nav.navbar-right li:nth-child(2) {
    border-left: transparent;
}
.iphone-frames{
    position: absolute;
    left: 74px;
}
}

@media screen and (max-width: 767px)
{
    .new-new {
    margin-top: 59px;
}
.new-file-desert h2 {
    font-size: 32px;
    }
    section.content_section.contact-us.tiwa-works.influencer.contact-us form{
            padding: 25px;

    }
    
div#backToTop{
    width: 30px;
    height: 30px;
    z-index: 99999;
}
.new-box h2
{
    min-height: initial;
    margin-bottom: 20px;
}
.new-box
{
    min-height: initial;
}
.section-v2__title
{
    font-size: 27px;
}
.text-line{
    margin-top: 54px;
}
.tiwa-works .col-sm-4 {
        width: 100%;

    }
    ul.nav.navbar-nav.navbar-right {
    background-color: rgba(0, 0, 0, 0.9);
        z-index: 9999999;
    position: relative;
        padding: 30px 4px;
            margin-top: 0;


}
.background-green,.background-blue{
        padding: 0;

}


}

@media screen and (max-width:480px){
    .new-home p {
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 10px;
}
    
.Influencer img {
    max-width: 100%; 
    width: 100%;
   
}
    .new-new {
    margin-top: 18px;
}
.new-box figure{
        min-height: 0;
            margin-top: 28px;


}
    .navbar-brand>img {
    max-width: 198px;
}
nav.navbar.sticky{
        padding: 12px 0;

}
    .tiwa-works .heading h2 {
    font-size: 85px;
}
.tiwa-works .heading h2 {
    font-size: 46px;
    margin-top: 21px;
    margin-bottom: 36px;
    position: relative;
    z-index: -9999999;
}
.new-box.super h2 span {
    font-size: 32px;
}

.navbar-toggle{
        cursor: pointer;

}
.tiwa-works {
    padding: 71px 0 80px 0;
}
.about-us .col-md-6.col-sm-6.col-xs-6 {
    width: 100%;
}

.about-us .col-md-6.new.aos-init.aos-animate {
    width: 100%;
}
.Download .col-md-6.col-xs-6.col-sm-6 {
    width: 100%;
}
.Download  .new-hight p {
    font-size: 63px;
}
.about-us .heading h2, .Influencer .heading h2 {
    font-size: 61px;
}
 .new-home h2 {
    font-size: 55px;
    }   

.store-app {
    margin-right: 11px;
        max-width: 100%;
    margin-bottom: 12px;
}

nav.navbar .nav>li>a{
        padding: 11px 0px;

}
nav.navbar li.first-twiva a{
        max-width: 115px;
            text-align: center;

    width: 100%;
}
.navbar-nav>li {
    border-right: 0;
}
.col-md-4.col-xs-6.col-sm-6.new-might {
    min-height: 209px;
}
.about-us .heading.aos-init.aos-animate {
    margin-top: 54%;
}
.about-us .text-line.aos-init.aos-animate {
    margin-top: 33px;
}
.Influencer .heading.aos-init.aos-animate h2 {
    margin-bottom: 85px;
}
.new-file-top h2 {
    font-size: 34px;
    margin-bottom: 17px;
}
.last-img img {
    position: relative;
    top: 0;
}
section.footer {
    padding: 29px 0 21px 0;
}
.Influencer .heading h2 {
    /* font-size: 41px!important; */
    text-align: center;
}
.Influencer .heading h2 {
    font-size: 50px;
}
.Influencer:before{
    display: none;
}
.tiwa-works.influencer .heading h2 {
    font-size: 56px;

}
.footer .col-md-4.col-xs-6 {
    width: 100%;
}
.screenshot .col-md-5.col-xs-6 {
    width: 100%;
}
.screenshot .col-md-7.col-xs-6{
     width: 100%;   
}
.iphone-frames{
    position: relative;
}
.new-files{
    position: relative;
}
section.screenshot {
    height: unset;
}
.footer .col-md-4.col-xs-4 {
    width: 100%;
}
.iphone-frames {
  
    display:flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}
.new-hight h2 {
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 32px;
}
.footer .col-md-5.col-xs-4 {
    width: 100%;
}
.new-home {
    top: 47%;

}
.new {
    width: 100%;

}
.new {
    position: unset;
    }
   
    .footer .col-md-3.col-xs-4 {
    width: 100%;
}
.new-buttom {
    font-size: 14px;
    
    }

    .new-home h3 {
    max-width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 23px;
}
.influencer .col-md-6.col-sm-6.col-xs-6 {
    width: 100%;
}



}
@media screen and (max-width:375px){
.new-home h3{
    max-width: 100%;
}

}