z3ic94@font-face {
font-family: 'ProximaNova-Regular';
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ProximaNovaA-Bold';
src: url('../fonts/ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Bold.otf')  format('opentype'),
url('../fonts/ProximaNovaA-Bold.woff') format('woff'), url('../fonts/ProximaNovaA-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ProximaNova-Black';
src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.otf')  format('opentype'),
url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "ProximaNovaA-Light";
src: url("../fonts/ProximaNovaAltLight.eot"); /* IE9 Compat Modes */
src: url("../fonts/ProximaNovaAltLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
url("../fonts/ProximaNovaAltLight.otf") format("opentype"), /* Open Type Font */
url("../fonts/ProximaNovaAltLight.svg") format("svg"), /* Legacy iOS */
url("../fonts/ProximaNovaAltLight.ttf") format("truetype"), /* Safari, Android, iOS */
url("../fonts/ProximaNovaAltLight.woff") format("woff"), /* Modern Browsers */
url("../fonts/ProximaNovaAltLight.woff2") format("woff2"); /* Modern Browsers */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "SFProDisplay-Regular";
src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.eot"); /* IE9 Compat Modes */
src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
url("../fonts/FontsFree-Net-SFProDisplay-Regular.otf") format("opentype"), /* Open Type Font */
url("../fonts/FontsFree-Net-SFProDisplay-Regular.svg") format("svg"), /* Legacy iOS */
url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff") format("woff"), /* Modern Browsers */
url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format("woff2"); /* Modern Browsers */
font-weight: normal;
font-style: normal;
}
html {
scroll-behavior: smooth;
}
* {
margin: 0;
padding: 0;
outline: none !important;
font-family: "SFProDisplay-Regular";
}
body {
overflow-x: hidden;
font-weight: 400;
color: #272727;
}
body,
html {
height: 100%;
width: 100%;
}
body:before,
body:after {
content: none!important
}
::i-block-chrome,
body {
-webkit-text-stroke: .1px
}
img {
max-width: 100%;
vertical-align: top;
}
select::-ms-expand {
display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
span,
p,
ul {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
background: transparent;
list-style: none;
}
label {
font-weight: normal;
}
a,
a:hover,
a:focus,
a:active {
text-decoration: none;
color: #fff;
;
}
a,
input[type="submit"],
input[type="button"],
.btn,
button {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
line-height: normal;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
input[type="button"]:focus,
input[type="text"]:focus,
select:focus {
box-shadow: none;
outline: none;
}
.navbar-brand {
float: left;
height: inherit;
padding: 0;
font-size: 18px;
line-height: normal;
}
.roll__header::before {
background: #e9e9e9 -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#fff));
background: #e9e9e9 -o-linear-gradient(top, #d2d2d2, #fff);
background: #e9e9e9 linear-gradient(180deg, #d2d2d2, #fff);
content: '';
left: 0;
margin-top: -85px;
min-height: 290px;
position: absolute;
text-align: center;
-webkit-transform: skewY(2.5deg) translateY(35px);
-ms-transform: skewY(2.5deg) translateY(35px);
transform: skewY(2.5deg) translateY(35px);
width: 100%;
z-index: -1
}
.one-app__phone,
.fantastic-product__phone,
.what-love__phone {
background: url(../images/iphone.png);
background-size: cover;
background-repeat: no-repeat;
position: relative;
height: 701px;
width: 368px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center
}
.one-app__phone-header,
.fantastic-product__phone-header {
background: url(/assets/images/influencer_landing/phone-app-top.jpg);
background-size: contain;
background-repeat: no-repeat;
top: 89px;
position: absolute;
width: 295px;
height: 73px;
left: 23px;
z-index: 2
}
.section-v2 {
-ms-flex-line-pack: center;
align-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
overflow: hidden
}
.section-v2--flex-end {
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
text-align: right
}
.section-v2__title {
color: #105dfa;
font-size: 1.6rem;
font-weight: 800;
margin-bottom: 10px
}
.section-v2__content {
font-size: 1.2rem;
max-width: 480px;
padding-right: 15px
}
.section-v2__button {
margin-top: 25px
}
.new-box.super  h2 span{
font-size: 39px;
}
.new-box.super  h2 {
line-height: 34px;
}
.Influencer .heading h2 {
font-size: 92px;
text-align: center;
}
@media(max-width:600px) {
.section-v2__button {
font-size: .9rem;
font-weight: 600;
line-height: unset;
padding: 10px 12px
}
.section-v2__button .button__arrow {
margin-left: 3px;
width: 9px
}
}
@media(min-width:600px) {
.section-v2__title {
font-size: 2.5rem
}
.section-v2__content {
font-size: 2rem
}
}
@media(min-width:768px) {
.section-v2__title {
font-size: 3rem
}
.section-v2__content {
font-size: 2.1rem
}
}
.one-app {
height: 410px;
position: relative;
-webkit-transform: scale(.3);
-ms-transform: scale(.3);
transform: scale(.3);
-webkit-transform-origin: left top;
-ms-transform-origin: left top;
transform-origin: left top
}
.one-app__section {
margin: -80px 0 -40px
}
.one-app__animation {
margin-left: -90px;
width: 260px
}
.one-app__content {
margin-left: 20px;
max-width: 100%;
}
.one-app__phone {
left: 448px;
position: relative;
top: -990px
}
section.section-v2.one-app__section {
background-color: #f3f3f3;
}
.one-app__screens {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-line-pack: center;
align-content: center;
-webkit-perspective: 400px;
perspective: 400px;
z-index: 1;
margin-left: -20px
}
.one-app__screen {
-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .25);
box-shadow: 0 0 7px 0 rgba(0, 0, 0, .25);
height: 460px;
width: 220px;
background-size: cover;
background-repeat: no-repeat;
margin: 150px 10px 0;
border-radius: 6px;
-webkit-transition: 2s all;
-o-transition: 2s all;
transition: 2s all;
opacity: 1;
position: absolute
}
.one-app__screen--static {
-webkit-transition: undefined;
-o-transition: undefined;
transition: undefined
}
.one-app__screen-donuts {
background-image: url(../images/app2.png)
}
.one-app__screen-blonde {
background-image: url(../images/first.png)
}
.one-app__screen-car {
background-image: url(../images/app1.png)
}
.one-app__screen-left {
-webkit-transform: rotateY(-25deg) translate(-280px, 3px) scale(1);
transform: rotateY(-25deg) translate(-280px, 3px) scale(1)
}
.one-app__screen-left--more {
-webkit-transform: rotateY(-25deg) translate(-400px, 3px) scale(.8);
transform: rotateY(-25deg) translate(-400px, 3px) scale(.8);
opacity: 0
}
.one-app__screen-right {
-webkit-transform: rotateY(25deg) translate(280px, 3px) scale(1);
transform: rotateY(25deg) translate(280px, 3px) scale(1)
}
.one-app__screen-right--more {
-webkit-transform: rotateY(25deg) translate(400px, 3px) scale(.8);
transform: rotateY(25deg) translate(400px, 3px) scale(.8);
opacity: 0
}
.one-app__phone-footer-container {
background: #412e6f;
color: #fff;
position: absolute;
bottom: 70px;
text-align: center;
border-radius: 5px;
padding: 12px 0;
width: 95%;
line-height: 1.8rem;
font-size: 1.6rem;
font-weight: 600;
text-transform: uppercase;
z-index: 2
}
.one-app__rate {
color: #6cc3da;
font-size: 1.8rem;
line-height: 1.8rem;
padding-left: 7px
}
.one-app__stripe {
background: url(/assets/images/influencer_landing/wstazka_1.gif);
background-repeat: no-repeat;
background-size: cover;
height: 947px;
position: relative;
left: 0;
top: 0;
width: 534px;
z-index: 1
}
.one-app__stripe-second {
background: url(/assets/images/influencer_landing/wstazka_1_2.gif);
background-repeat: no-repeat;
background-size: cover;
height: 71px;
left: 350px;
position: relative;
top: -262px;
width: 393px;
z-index: 1
}
.navbar {
position: relative;
min-height: inherit;
margin-bottom: 0;
border: 0;
}
.nav>li>a{
line-height: normal;
}
.navbar {
position: absolute;
min-height: inherit;
margin-bottom: 0;
border: 0;
top: 0;
right: 0;
left: 0;
}
.navbar-nav>li>a {
padding-top: 0;
padding-bottom: 0;
font-size: 16px;
color: #fff;
font-weight: 500;
text-transform: uppercase;
}
.navbar-nav li{
border-right: 1px solid #fff;
padding: 0px 26px;
}
.new-home p {
font-size: 32px;
color: #fff;
text-transform: uppercase;
/* text-shadow: 0px 0px 1px #000; */
text-shadow: 1px 1px 1px #000;
font-weight: 600;
letter-spacing: 8px;
}
.new-home h2 {
    font-size: 61px;
color: #f82b3c;
text-transform: uppercase;
font-weight: 900;
letter-spacing: 2px;
}
.new-home h3 {
font-size: 21px;
color: #fff;
max-width: 67%;
line-height: 23px;
margin-bottom: 19px;
margin-top: 9px;
font-weight: 400;
}
ul.nav.navbar-nav.navbar-right {
margin-top: 31px;
}
nav.navbar {
padding: 12px 0;
}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: transparent;
}
nav.navbar li.first-twiva a {
padding: 13px 23px;
background: #e82b3b;
margin-right: 31px;
}
li.first-twiva {
position: relative;
top: -13px;
border-right: 0;
}
.new-buttom {
font-size: 18px;
color: #fff;
padding: 19px 52px;
background-color: #e82b3b;
display: inline-block;
margin-top: 14px;
text-transform: uppercase;
}
section.section-v2.one-app__section {
margin-top: 103px;
}
.heading h2{
font-size: 150px;
color: #f4f4f4;
font-family: 'ProximaNovaA-Bold';
text-transform: uppercase;
font-family: 'ProximaNova-Black';
}
.heading p{
font-size: 61px;
color: #f4f4f4;
font-family: 'ProximaNova-Black';
text-transform: uppercase;
line-height: 0;
}
.new-box h2 {
font-size: 28px;
color: #0e0e0e;
font-family: "SFProDisplay-Regular";
text-transform: capitalize;
font-weight: 800;
position: relative;
line-height: 48px!important;
}
.tiwa-works .heading{
z-index: -1;
}
.heading {
margin-bottom: -57px;
z-index: -46;
position: relative;
}
.new-box p {
line-height: 22px;
font-size: 18px;
color: #424040;
}
.new-box h2 span {
color: #e82b3b;
font-size: 55px;
text-transform: capitalize;
}
.new-box.jack h2 {
padding-left: 36px;
display: flex;
align-items: center;
justify-content: center;
}
.new-box.jack h2 span:before {
display: none;
}
.new-box figure {
text-align: center;
min-height: 178px;
}
.new-box.super h2 span:before{
display: none;
}
.new-box.super {
padding-top: 35px;
}
.tiwa-works {
padding: 20px 0 94px;
}
section.section-v2.one-app__section {
margin-top: 0;
}   
.one-app__section{
margin: 0;
}
.one-app__phone-footer-container {
display: none;
}
.about-us .heading h2,.Influencer .heading h2{
font-size: 93px
}
.text-line h1 {
font-size: 38px;
color: #333333;
margin-bottom: 12px;
position: relative;
z-index: 999;
}
.heading.toper {
margin-bottom: unset;
z-index: 9999999;
}
.text-line {
z-index: 99;
position: relative;
margin-top: 84px;
}
section.about-us .heading h2{
font-size: 78px;
}
.heading {
margin-bottom: -57px;
z-index: 99;
position: relative;
}
/*.new {
position: absolute;
right: 0;
top: 9px;
padding: 0;
width: 43%;
}*/
.text-line p {
font-size: 18px;
}
.new-file-top h2 {
font-size: 48px;
color: #111111;
text-transform: uppercase;
display: inline-block;
position: relative;
}
.new-file-top h2:before{
content: '';
position: absolute;
width: 65%;
height: 4px;
background-color: red;
bottom: -8px;
left: 0;
right: 0;
margin: 0 auto;
}
.col-md-4.col-xs-6.col-sm-6.slideInRight.wow:nth-child(2) img {
position: relative;
top: -69px;
right: 0;
}
.new-file-top {
text-align: center;
}
.Influencer .heading {
margin-bottom: 9px;
display: inline-block;
z-index: -1;
}
section.about-us {
background-image: url(../images/back-new.png);
padding: 0 0 3px 0;
position: relative;
background-size: cover;
overflow: hidden;
}
.Influencer {
padding: 58px 0px;
}
.last-img img {
position: relative;
top: 104px;
right: -84px;
}
.col-md-6.new img {
max-width: unset;
position: relative;
top: 10px;
}
.next-photo img {
position: relative;
right: -64px;
top: 16px;
}
.new-might img {
position: relative;
right: -83px;
top: 20px;
}
section.Download {
background-color: #f3f3f3;
padding: 71px 0;
}
.new-hight h2 {
font-size: 40px;
line-height: 52px;
color: #383838;
text-transform: none;
font-weight: 600;
line-height: 48px;
text-align: center;
margin-bottom: 40px;
}
.new-hight p {
font-size: 80px;
color: #e82b3b;
line-height: 1;
text-align: center;
margin-bottom: 16px;
}
.store-app {
margin-right: 39px;
}
.store-app.black {
margin-right: 0;
}
.new-hight span {
font-size: 16px;
color: #e82b3b;
text-transform: uppercase;
font-weight: 600;
}
.new-right {
display: inline-block;
width: 37px;
}
.new-file-center {
width: calc(100% - 42px);
display: inline-block;
vertical-align: top;
text-align: left;
}
.new-hight h2{
background: #3264f5;
background: -moz-linear-gradient(left, #3b0e38 2%, #931a71 82%);
background: -webkit-linear-gradient(left, #3b0e38 2%,#931a71 82%); 
background: linear-gradient(to right, #3b0e38 2%,#931a71 82%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b0e38', endColorstr='#931a71',GradientType=1 );
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent;
}
.store-app {
display: inline-block;
width: 100%;
border-radius: 29px;
max-width: 248px;
box-shadow: 0 0 13px #b2b2b2;
padding: 13px 22px 3px 21px;
background-color: #fff;
border: 2px solid transparent!important;
}
.store-app:hover label{
color: #fff !important;
cursor: pointer;
}.store-app:hover i{
color: #fff !important;
cursor: pointer;
}
.store-app:hover{
background-color: red;
border: none;
}
.store-app.black:hover{
border:2px solid #fff !important;
}
.Download .new-hight {
margin-top: 68px;
}
.Download .new-hight label {
font-size: 16px;
color: #000;
}
.Download .store-app.black label {
color: #383838;
}
.Download .new-hight span{
color: #383838;
}
section.Download{
background-image: url(../images/iphonew-device.png);
padding: 81px 0 0;
background-repeat: no-repeat;
height: auto;
background-position: top right;
background-size: contain;
overflow: hidden;
}
nav.navbar.sticky {
position: fixed;
padding: 7px 0!important;
background-image: -moz-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);
background-image: -webkit-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%);
background-image: -ms-linear-gradient( -90deg, rgb(115,14,57) 0%, rgb(35,8,38) 100%)
z-index: 999;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
padding: 0;
border-radius: 0;
}
section.footer {
padding: 15px 0;
}
.home-left {
font-size: 18px;
margin-top: 21px;
margin-bottom: 19px;
color: #303030;
}
.new-good ul li {
padding: 10px 1px;
}
.new-good h2 {
font-size: 21px;
margin-bottom: 0px;
font-family: 'ProximaNovaA-Bold';
}
.new-good {
margin-bottom: 24px;
}
.new-good.gone.social ul li {
padding-top: 0px;
}
.new-good ul li i {
width: 35px;
height: 35px;
background-color: #000;
display: inline-block;
text-align: center;
line-height: 30px;
border-radius: 100%;
color: #fff;
line-height: 35px;
cursor: pointer;
}
.new-good ul li:first-child i{
background-color: #1d4b99;
}
.new-good.gone ul li {
display: inline-block;
margin-right: 20px;
margin-top: 9px;
margin-right: 3px;
}
.new-good ul li:nth-child(2) i{
background-color: #1c9deb;
}
.new-good ul li:last-child i{
background-color: #bd296e;
}
.new-good.gone p{
width: calc(100% - 35px);
float: right;
vertical-align: top;
padding-left: 12px;
font-size: 16px;
color: #303030;
margin-top: 5px;
}
.Copyright {
text-align: center;
border-top: 1px solid #e1e1e1;
display: inline-block;
width: 100%;
padding-top: 19px;
}
.Copyright p {
font-size: 16px;
color: #303030;
}
.new-good.gone.social ul li i{
background-color: #e9e9e9;
color: #4b4b4b;
font-size: 20px;
}
nav.navbar {
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
section.footer {
padding: 100px 0 21px 0;
}
.new-good.gone figure {
width: 41px;
display: inline;
margin-right: 10px;

}
.new-good ul li a {
font-size: 16px;
color: #303030;
font-weight: 500;
}
.images-hjj {
margin-bottom: -103px;
}
section.section-v2.one-app__section {
margin-bottom: 25px;
}
.go-top.active {
top: 98%;
-webkit-transform: translateY(-98%);
transform: translateY(-98%);
opacity: 1;
visibility: visible;
}
.go-top {
position: fixed;
cursor: pointer;
top: 0;
right: 15px;
color: #ffffff;
background: #ff4800;
z-index: 4;
width: 66px;
text-align: center;
height: 66px;
line-height: 42px;
opacity: 0;
visibility: hidden;
-webkit-transition: .9s;
transition: .9s;
}
div#backToTop {
background-image: linear-gradient(57deg, #3b0e38, #931a71);
width: 50px;
height: 50px;
border-radius: 6px;
}
.skew{
animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
0% { transform: translateY(2px); }
100% { transform: translateY(-2px); }
}
.go-top i {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
left: 0;
right: 0;
margin: 0 auto;
-webkit-transition: 0.5s;
transition: 0.5s;
font-size: 19px;
}
.go-top i:last-child {
opacity: 0;
visibility: hidden;
top: 60%;
}
.go-top.active {
top: 98%;
-webkit-transform: translateY(-98%);
transform: translateY(-98%);
opacity: 1;
visibility: visible;
}
.go-top:hover::before, .go-top:focus::before {
opacity: 1;
visibility: visible;
}
.section-v2__title {
color: #333333;
font-size: 40px;
line-height: 42px;}
section.section-v2.one-app__section:before {
content: '';
background-image: url(../images/side-text.png);
position: absolute;
left: 0;
top: 0;
padding: 64px 0;
width: 378px;
z-index: 0;
height: 442px;
background-repeat: no-repeat;
}
section.section-v2.one-app__section{
position: relative;
}
section.section-v2.one-app__section:after {
content: '';
background-image: url(../images/side-text1.png);
position: absolute;
right: 0;
bottom: 0;
padding: 64px 0;
width: 378px;
z-index: 0;
height: 392px;
background-repeat: no-repeat;
}
.Influencer:before{
content: '';
background-image: url(../images/side-text2.png);
position: absolute;
left: 0;
top: -15px;
padding: 64px 0;
width: 378px;
z-index: 0;
height: 392px;
background-repeat: no-repeat;
}
.Influencer{
position: relative;
}
.col-md-4.col-xs-6.col-sm-6.images-defect:before{
content: '';
background-image: url(../images/bg-new.png);
position: absolute;
left: 23px;
bottom: -78%;
padding: 64px 0;
width: 85%;
z-index: 0;
height: 100%;
z-index: -1;
background-size: contain;
background-repeat: no-repeat;
}
/*.col-md-4.col-xs-6.col-sm-6:nth-child(5):before{
content: '';
background-image: url(../images/few-value.png);
position: absolute;
left: 23px;
bottom: -14%;
padding: 64px 0;
width: 85%;
z-index: 0;
height: 74%;
z-index: -1;
background-size: contain;
background-repeat: no-repeat;
}*/
.col-md-4.col-xs-6.col-sm-6.top-new:before{
content: '';
background-image: url(../images/optimized-img.png);
position: absolute;
left: 183px;
bottom: -23%;
padding: 64px 0;
width: 85%;
z-index: 0;
height: 74%;
z-index: -1;
background-size: contain;
background-repeat: no-repeat;
}
section.section-v2.one-app__section{
position: relative;
margin-bottom: -14px;
}
li.last {
border-right: 0;
}
.skew {
text-align: center;
margin-top: -25px;
z-index: 99999;
position: relative;
}
section.content_section.contact-us.tiwa-works.influencer.contact-us form{
background-color: #fff;
z-index:  9;
position:relative;
padding: 46px 61px 36px 61px;
}
.contact-us .btn.btn-primary {
background-color: #fff;
border: 1px solid #e82b3b;
color: #e82b3b;
padding: 17px 45px;
text-transform: uppercase;
font-size: 18px;
margin-top: 37px;
}
.contact-us .form-control {
background-color: #f5f5f5;
padding: 21px 0px;
border: 0;
resize: none;
box-shadow: none;
padding-right: 14px;
padding-left: 14px;
}
.new-box.influencer.aos-init.aos-animate h4 {
font-size: 25px;
color: #0b0b0b;
font-family: 'ProximaNovaA-Bold';
font-weight: 300;
}
.new-box.influencer.aos-init.aos-animate p {
font-size: 16px;
margin-top: 0;
margin-bottom: 11px;
color: #0b0b0b;
}
.new-box.influencer.aos-init.aos-animate {
padding: 0;
border-radius: 35px;
}
.description {
font-size: 16px;
color: #424040;
}
.new-space {
padding: 14px 23px;
}.tiwa-works.influencer .heading {
position: relative;
z-index: 9;
text-align: center;
}.tiwa-works.influencer .heading h2 {
font-size: 125px;
color: #e1e1e1;
text-align: center;
}
.tiwa-works.influencer:before {
content: '';
background-image: url(../images/white.png);
position: absolute;
left: 0;
top: 0;
padding: 0;
width: 100%;
z-index: 0;
height: 392px;
background-repeat: no-repeat;
}
.tiwa-works.influencer:after {
content: '';
background-image: url(../images/white2.png);
position: absolute;
right:0;
bottom:0;
padding: 0;
width: 300px;
z-index: 0;
height: 392px;
background-repeat: no-repeat;
}
.tiwa-works.influencer .col-md-4.col-sm-4.col-xs-6 {
min-height: 504px;
position: relative;
z-index: 9;
}
.tiwa-works.influencer {
position: relative;
background-color: #f5f5f5;
}
input#item {
margin-top: 13px;
}
.new-file-desert h2 {
font-size: 60px;
font-weight: 700;
text-transform: capitalize;
color: #ffffff;
}
.new-file-desert span {
font-size: 18px;
margin-left: 119px;
position: relative;
top: -9px;
}
.new-file-desert p {
font-size: 18px;
color: #fff;
max-width: 58%;
}
.small-heading.aos-init.aos-animate h2 {
font-size: 36px;
color: #333333;
font-weight: 600;
margin-bottom: 17px;
}
section.tiwa-works.influencer.policy:after {
display: none;
}
.small-heading h3 {
font-size: 20px;
color: #303030;
font-weight: 600;
}
.new-file-desert span:before{
content: '';
position: absolute;
height: 1px;
width: 57px;
background-color: #fff;
left: -71px;
top: 12px;
}
.small-heading.aos-init.aos-animate p {
font-size: 16px;
color: #424040;
font-family: "ProximaNovaA-Light";
margin: 14px 0 20px 0;
}
.accordion-wrap .panel-heading .panel-title a {
font-size: 18px;
display: block;
color: #fff;
padding: 17px 17px;
background-color: #e82b3b; 
}
.accordion-wrap .panel-default>.panel-heading {
background-color: #e82b3b;
border: none;
border-radius: 10px;
padding: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
border-top-color: transparent;
}
.panel-title {
position: relative;
color: #fff!important;
}
.accordion-wrap {
padding: 45px 46px;
}
.contact-us form, .accordion-wrap {
display: block;
box-shadow: 0 0 12px #aeaeae;
padding: 80px 115px 60px;
float: left;
width: 100%;
border-radius: 18px;
}
a.accordion-section-title:before {
content: "";
height: 30px;
width: 30px;
position: absolute;
background-repeat: no-repeat;
background-position: center;
top: 11px;
right: 12px;
background-image: url(../images/arrow-faq.png);
}
.accordion-wrap {
padding: 37px 31px;
background-color: #fff;
position: relative;
z-index: 9;
}
.panel-title{
position: relative;
}
.panel-body p {
font-size: 16px;
color: #424040;
font-family: "ProximaNovaA-Light";
}
.panel-group .panel{
border-radius: 18px;
box-shadow: 0 0 12px #ccc;
margin-bottom: 20px;
}
.new-home{
position: absolute;
left: 20px;
right: 0;
margin: auto;
bottom: 0;
top: 53%;
transform: translateY(-50%);
}
video#video {
width: 100%!important;
height: 583px!important;
object-fit: cover;
}
.contact-us label {
font-size: 16px;
color: #333333;
font-family: "ProximaNovaA-Light";
}
.tiwa-works .col-md-4.col-sm-4.col-xs-6 {
position: relative;
z-index: 9999;
margin-top: 101px;
}
nav.navbar .nav>li>a:hover{
color: #e82b3b;
transition: 0.5s all ease-in-out;
}
li.first-twiva>a:hover{
color: #fff!important;
}
.new-good ul li a:hover{
color: #e82b3b;
transition: 0.3s all ease-in-out;
margin-left: 4px;}
ul.nav.navbar-nav.navbar-right li:nth-child(2) {
border-left: 0px solid #fff;
}
.new-good.gone.social ul li:nth-child(3) p{
margin-top: 7px;
}
.store-app i.fa.fa-apple,i.fa.fa-android {
font-size: 40px;
color: #000;
margin-top: -1px;
}
.screenshot .owl-nav.disabled{
display: block !important;
color: #fff;
}
.screenshot .owl-nav.disabled .owl-prev{
display: block !important;
}
.screenshot .owl-carousel .owl-nav .owl-next, .screenshot .owl-carousel .owl-nav .owl-prev{
font-size: 40px;
color:#20ab3a;
}.screenshot .owl-carousel .owl-nav .owl-next:hover, .screenshot .owl-carousel .owl-nav .owl-prev:hover{
color:#20ab3a;
}
.screenshot .owl-prev {
position: absolute;
left:-18px;
top:50%;
transform: translatey(-50%)
}
.screenshot .owl-prev:hover {
color:#20ab3a;
}
.screenshot .owl-next {
right:-18px;
position: absolute;
top:50%;
transform: translatey(-50%)
}
.iphone-frame {
position: absolute;
top: 10px;
left: 0;
right: 0;
margin: auto;
width: 288px;
z-index: 9;
}
.new-content-display {
background-color: #fff;
border: 0px solid red;
border-radius: 25px;
position: relative;
top: 16px;
height: 545px;
overflow: hidden;
}
.new-content-display:before {
content: "";
position: absolute;
width: 100%;
height: 25px;
border: 0px solid;
background-image: url(../images/top.png);
background-repeat: no-repeat;
background-position: center 0;
z-index: 999;
}
.owl-carousel .owl-item img
{
top: 0px;
position: relative;
min-height: 546px;
max-height: 546px;
height: 100%;
}
div#communityCounter {
display: none;
}
.one-app__section {
margin: -300px 0 -120px;
width: 100%;
}
.owl-carousel {
display: none;
width: 100%;
z-index: 1;
position: relative;
left: 0px;
}
.iphone-frame
{
display: none;
}
.new-files {
/*    background-color: #fff;
*/    /* border: 19px solid #333; */
border-radius: 10px;
overflow: hidden;
width: 289px;
height: 589px;
position: absolute;
left: 0px;
z-index: 999;
background-image: url(../images/iphone-device.png);
background-repeat: no-repeat;
background-clip: padding-box;
padding: 0px 19px;
background-size: 100%;
}
.iphone-frame img{max-width:100%;}
.blog-carousel.owl-carousel .owl-stage-outer{padding-bottom:50px;}
.navbar-brand>img{max-width:355px;}
.fixed-header{position:fixed; width:100%; top:0; background:#17a833; padding:15px 0;border-bottom: 1px solid #57bf6b; z-index:9999;}
.fixed-header .navbar-brand>img{max-width:150px;}
.fixed-header.navbar-default .navbar-nav>li{margin-top:18px;}
.mobile-view{display:none;}
.desktop-view{display:block;}
.iphone-frames {
display: block;
margin: 0 auto;
position: absolute;
left: 143px;
}
.new-new {
text-align: center;
}
section.tiwa-works.influencer.policy {
padding: 52px 0 94px;
}
section.screenshot {
height: 700px;
}
.section-v2__title ~ ul li img {
width: 38px;
margin-bottom: 13px;
margin-right: 8px;
}
.section-v2__title ~ p {
margin-bottom: 18px;
}
.accordion-wrap h2 {
font-size: 31px;
margin-bottom: 13px;
font-weight: 300;
}
li.new-goods {
margin-left: 24px;
font-size: 16px;
}
li.brands {
font-size: 16px;
}
a.new-blue {
color: #931a71;
}
section.tiwa-works.influencer .col-md-4.col-sm-4.col-xs-6{
margin-top: 11px;
min-height: 418px;
}
section.tiwa-works.influencer.again .col-md-4.col-sm-4.col-xs-6 {
margin-top: -61px;
}
.accordion,
.accordion * {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
.accordion {
overflow: hidden;
border-radius: 18px;
background: #f7f7f7;
margin-bottom: 15px;
box-shadow: 0 0 12px #ccc;
}
/*----- Section Titles -----*/
.accordion-section-title {
width:100%;
padding:15px;
display:inline-block;
background: #efc8cc;
transition:all linear 0.15s;
color:#fff;
font-size: 18px;
border-radius: 18px;
display: block;
color: #403333;
position: relative;
}
.accordion-section p {
font-size: 16px;
margin-top: 12px;
color: #424040;
font-family: "ProximaNovaA-Light";
}
.accordion-section-title.active,
.accordion-section-title:hover {
background-color: #e82b3b;    /* Type */
text-decoration:none;
}
.accordion-section:last-child .accordion-section-title {
border-bottom:none;
}
/*----- Section Content -----*/
.accordion-section-content {
padding: 0 10px 13px;
display:none;
}
ul.nav.navbar-nav.navbar-right li a:after {
transition: transform .3s ease-out,border-color .3s ease-out;
position: absolute;
display: block;
bottom: -6px;
left: 0;
width: 100%;
-ms-transform: scaleX(0);
-webkit-transform: scaleX(0);
transform: scaleX(0);
border-top: 2px solid #f82b3c;
content: '';
padding-bottom: inherit;
}
ul.nav.navbar-nav.navbar-right li a:hover:after{
-ms-transform: scaleX(0.5);
-webkit-transform: scaleX(0.5);
transform: scaleX(0.5);
}
ul.nav.navbar-nav.navbar-right li.active a:after{
-ms-transform: scaleX(0.5);
-webkit-transform: scaleX(0.5);
transform: scaleX(0.5);
}
.navbar-nav>li.active>a{
color: #e82b3b;
}
.new-result p {
font-size: 19px;
color: #424040;
margin-top: 28px;
}
.new-result h2 {
font-size: 34px;
color: #424040;
}
.section-about{
padding: 37px 31px;
background-color: transparent;
position: relative;
z-index: 9;
}
.section-v2__title ~ ul li img:hover {
transform: rotate(360deg);
transition: 0.5s all ease-in;
}
.new-result {
margin-top: 47px;
}
.new-bottom {
margin-top: 68px;
}
.new-bottom h4 {
margin-top: 36px;
font-size: 25px;
color: #e82b3b;
margin-bottom: 23px;
position: relative;
display: inline-block;
}
.new-bottom h4:after {
position: absolute;
display: block;
bottom: -6px;
left: 0;
max-width: 90px;
width: 100%;
width: 100%;
border-top: 2px solid #f82b3c;
content: '';
padding-bottom: inherit;
}
.influencer .col-md-6.col-sm-6.col-xs-6 {
position: relative;
z-index: 0;
}
.background-green {
background-image: url(../images/back-green.png);
padding: 120px 0;
background-repeat: no-repeat;
background-size: cover;
padding: 120px 0 74px 0;
}
.background-blue {
background-image: url(../images/sky-blue.png);
padding: 120px 0;
background-repeat: no-repeat;
background-size: cover;
padding: 120px 0 0 0;
}
.tiwa-works.influencer:after{
display: none;
}
.tiwa-works {
padding: 20px 0 72px;
}
.new-box.influencer.aos-init.aos-animate {
text-align: center;
}
.new-desert {
padding: 51px 0;
}
.new-desert.last {
    padding: 72px 0 0;
}
.contact-us textarea.form-control {
    padding-top: 10px;
}
.col-md-4.col-xs-6.col-sm-6.slideInRight.wow img {
    width: 100%;
}
/*.col-md-4.col-xs-6.col-sm-6.slideInRight.wow:nth-child(odd) img {
opacity: 0.4;
}*/
.col-md-4.col-xs-6.col-sm-6.slideInRight.wow {
    min-height: 246px;
}

.Influencer img {
    box-shadow: 0px 0px 11px -3px #3333339c;
    max-width: 100%;
    object-fit: cover;
    width: 87%;
    margin: 4px auto 28px;
}
.Influencer .gallery_section{
  column-width: 300px;
  column-gap: 5px;
  padding: 5px;
}

.Influencer img:nth-child(5) {
    position: relative;
    top: 20px;
    border: 0px solid red;
}

.Influencer img:nth-child(6) {
    position: relative;
    left: -20px;
}

.Influencer img:nth-child(2), .Influencer img:nth-child(7) {
    opacity: 0.5;
}

.Influencer img:nth-child(7) {
    position: relative;
    left: 0px;
}
select#category_name,select#discover_twiva{
	    background-image: url(../images/phn_arrow.png);
	        background-repeat: no-repeat;
    background-position: 99% 67%;
        color: #a1a6aa;
            background-size: 17px;

}