@font-face {
    font-family: 'Playfair Display', serif;
    src:url('./fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf'),
    url('./fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf'),
    url('./fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf'),
    url('./fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf'),
    url('./fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf'),
    url('./fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src:url('./fonts/SourceSansPro/SourceSansPro-Black.ttf'),
    url('./fonts/SourceSansPro/SourceSansPro-Bold.ttf'),
    url('./fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf'),
    url('./fonts/SourceSansPro/SourceSansPro-Light.ttf'),
    url('./fonts/SourceSansPro/SourceSansPro-Regular.ttf'),
    url('./fonts/SourceSansPro/SourceSansPro-SemiBold.ttf');
}


@font-face {
    font-family: 'Neucha', cursive;
    src: url('./fonts/Neucha/Neucha-Regular.ttf');
}


