#twitter-trend{
    // .form-group{
    //     // input[name="date"]{
    //     //     background-image: url('../../assets/images/icons/white-calendar.svg');
    //     //     background-repeat: no-repeat;
    //     //     background-size: 20px 20px;
    //     //     background-position: right 12px center;
    //     // }
    // }
    .form-control{
        .time-input{
            background: #FFFFFF;
            border: 1px solid #DADADA;
            box-sizing: border-box;
            border-radius: 8px;
            width: 80px;
            height: 26px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #27272A;
            box-shadow: none;
            padding: 6px 6px 6px 18px;
        }

        .meridian{
            li{
                list-style-type: none;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;                
                color: #27272A;
                cursor: pointer;
                &.active{
                    color: #8A0E49;
                }
            }
        }
    }
}

.quantity {
    position: relative;
    .time-text{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
        position: absolute;
        left: -40px;
        top: 1px;
    }
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    border-radius: 4px;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
    margin-right: 8px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border: none;
    // border-left: 1px solid rgba(0, 0, 0, 0.08);
    width: 26px;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-family: "FontAwesome" !important;
    line-height: 1.5;
    padding: 0;
    background: none;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 0 !important;
  }
  
//   .quantity-button:active {
//     // background: #EAEAEA; 
//   }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 0;
    top: -6px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.08);    
    font-family: "FontAwesome";
    border-radius: 0 4px 0 0;
    line-height: 1.6
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: 34px;
    height: 0;
    font-family: "FontAwesome";
    border-radius: 0 0 4px 0;
  }


@media screen and (max-width: 768px){
    #twitter-trend{
        .form-group{
            .form-control{
            background: #FFFFFF;
            display: flex;
            justify-content: space-between;

            .meridian{
                    li{
                        
                        background: #F8F8F8;
                        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.05);
                        padding: 1px 2px;
                        &.active{
                            color: #8A0E49;
                            background: transparent;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}