.feedpost-details-page{
    .bid-invite-section{
        .btn-section{
            button{
                margin: 0;
            }

            .white-btn{
                margin-left: 24px;
            }
        }
    }

    .post-container{
        .post-heading{
            padding: 0px 35px 40px 44px;

            h3{
                font-weight: bold; 
            }
        }
    }
}



.image-container{
    width: 83px;
    height: 83px;
    margin-right: 8px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .remove{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 16px;
        height: 16px;
        background: #ccc;
        cursor: pointer;
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}




@media screen and (max-width: 768px){
    .feedpost-details-page{
        .bid-invite-section{
            .btn-section{
                flex-direction: row;
                button{
                    margin: 0 !important;
                    height: 48px;
                    width: 48%;
                }
            }
        }

        .post-container{
            padding-top: 0;
        }
    }
}