.view-post{
    background-color: #fff;
    margin: 32px 24px 25px 25px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;

    .post-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 150%;
            color: #27272A;
        }
    
        .btn-section{
            display: flex;
            align-items: center;
        }
    }
}

.post-details{
    background: #FFFFFF;
    padding: 16px 24px;
    margin: 16px 24px 0 25px;
    p{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #333333;
        opacity: 0.6;
        margin-bottom: 8px;
        img{
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    h4{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 8px;
    }

    .send-approval{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        h4{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
        }
    }

    .img-lists{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 24px;

        .image-container{
            width: 191px;
            height: 191px;
            margin-right: 16px;
            cursor: pointer;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .file-upload{
            width: 191px;
            height: 191px;
            background: #F8F8F8;
            background-image: url(../../assets/images/icons/input-plus.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            margin-bottom: 0;

            input{
                width: 100%;
                height: 100%;
                display: none;
            }
        }
        .img-list-item{
            width: 191px;
            height: 191px;
            margin-right: 16px;
            cursor: pointer;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .select{
                width: 100%;
                height: 33px;
                background: rgba(255, 255, 255, 0.6);
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #27272A;
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: 0.3s;
            }

            .selected{
                width: 100%;
                height: 33px;
                background: rgba(255, 255, 255, 0.6);
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #27272A;
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
            }

            .image-zoom{
                width: 19px;
                height: 19px;
                position: absolute;
                top: 2px;
                right: 2px;
                opacity: 0;
                z-index: 20;
                img{
                    width: 19px;
                    height: 19px;
                }
            }

            &:hover{
                .select{
                    opacity: 1;
                }
                .image-zoom{
                    opacity: 1;
                }
            }
        }
        .red-border{
            outline: 3px solid #8A0E49;
        }
    }

    .caption-lists{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .caption-list-item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            div{
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                    /* Customize the label (the container) */
                .checkbox-wrapper {
                    display: block;
                    position: relative;
                    padding-left: 18px;
                    padding-top: 5px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                
                /* Hide the browser's default checkbox */
                .checkbox-wrapper input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                
                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    background-color: #fff;
                    border: 1px solid rgba(51,51,51,0.75);
                    box-sizing: border-box;
                }
                
                /* When the checkbox is checked, add a blue background */
                .checkbox-wrapper input:checked ~ .checkmark {
                    background-color: #27AE60;
                    border: 0;
                    border-radius: 2px;
                }
                
                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the checkmark when checked */
                .checkbox-wrapper input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the checkmark/indicator */
                .checkbox-wrapper .checkmark:after {
                    left: 6px;
                    top: 3px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                .caption-label{
                    margin-bottom: 0;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #333333;
                    margin-left: 4px;
                }
            } 

            p{  
                width: fit-content;
                padding: 4px 10px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #333333;
                background: #F8F8F8;
                border-radius: 4px;
                margin-bottom: 0;
                opacity: 1;
            }
        }

    }
}


#approve-modal{
    .modal-dialog{
        max-width: 426px;
        height: 168px;
        .modal-content{
            .modal-header{
                margin-bottom: 32px;
                .modal-title{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #333333;
                }
            }

            .modal-footer{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: nowrap;
            }
        }
    }
}


#image-popup{
    position: relative;
    overflow-x: unset !important;

    /* The Modal (background) */
    .popup {
        display: none;
        position: absolute;
        z-index: 50;
        margin-top: 80px;
        margin-bottom: 100px;
        left: 0;
        top: 0;
        width: 97%;
        height: 989px;
        background-color: #fff;
        padding: 65px 36px 119px 35px;
        margin-left: 24px;

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 65px;
            right: 35px;
            z-index: 20;
            &:hover, &:focus{
                color: #999;
                text-decoration: none;
                cursor: pointer;
            }
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            padding: 0;
            width: 100%;
            height: 100%;
            border: 0;
            
            /* Hide the slides by default */
            .mySlides {
                display: none;
                width: 100%;
                height: 805px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                /* Number text (1/3 etc) */
                .numbertext {
                    color: #f2f2f2;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                }
            }

            /* Next & previous buttons */
            .prev {
                cursor: pointer;
                position: absolute;
                bottom: -40px;
                left: 47%;
                width: 30px;
                height: 30px;
            }


            .next{
                cursor: pointer;
                position: absolute;
                bottom: -40px;
                right: 47%;
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    #image-popup{
        .view-post{
            margin: 16px;
            .post-heading{
                .btn-section{
                    background: #fff;
                    padding: 16px 12px;
                    margin: 0;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    z-index: 20;
                    width: 100%;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    button{
                        width: 48%;
                    }
                    .red-btn{
                        margin: 0;
                        padding: 12px 24px;
                    }
                    .white-btn{
                        margin: 0;
                        padding: 12px 24px;
                    }
                }
            }
        }

        .post-details{
            margin: 16px 16px 100px 16px;
            padding: 16px;
            .img-lists{
                .img-list-item{
                    width: 100px;
                    height: 100px;
                    margin-right: 4px;
                    flex: 0 0 100px;
                }
            }

            .caption-lists{
                flex-direction: column;
                align-items: flex-start;
                .caption-list-item{
                    margin-bottom: 24px;
                }
            }
        }
    }
}
  

