.feedpost-bidding{
    background-color: #fff;
    margin: 32px 24px 25px 24px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;

    .feedpost-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        h1{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #27272A;
        }
    
        .btn-section{
            display: flex;
            align-items: center;
            .ongoing{
                margin-right: 10px;
            }
        }
    }

    h4{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
        margin-bottom: 8px;
    }

    p{
        span{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #27272A;
            opacity: 0.5;
            margin-right: 10px;
        }

        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
    }
    
}

.you-hired{
    background-color: #fff;
    margin: 32px 24px 25px 24px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    margin-bottom: 10px;
    h2{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #333333;
    }
    .img-list{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .img-section{
            display: flex;
            align-items: flex-end;

            .img-wrap{
                width: 65px;
                height: 64px;
                margin-right: 2px;
    
                img{
                    width: 65px;
                    height: 64px;
                    object-fit: cover;
                }
            }

            .more{
                margin-left: 8px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #333333;
                opacity: 0.5;
            }
        }

        .red-btn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 16px;
                height: 16px;
                margin-left: 6px;
            }
        }
    }
}


.influencer-list{
    margin-top: 26px;
    margin-bottom: 19px;
    .nav-tabs{
        border-bottom: 0;
        .nav-item{
            .nav-link{
                border: 0;
                border-radius: 0;
                background-color: transparent;
                padding: 8px 32px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;                
                color: #8A0E49;
                &.active{
                    border-bottom: 2px solid #8A0E49;
                }
            }
        }
    }
}

.tab-content{
    .tab-pane{
        .catalog-page{
            padding-top: 0 !important;
        }
    }
}


@media screen and (max-width: 768px){
    .feedpost-bidding{
        margin: 16px;
        .date-wrapper{
            flex-direction: column;
            align-items: flex-start;
            .date{
                border-right: 0 !important;
            }
        }
    }

    .you-hired{
        margin: 16px;
        .img-list{
            flex-direction: column;
            align-items: flex-start;
            .img-section{
                flex-wrap: wrap;
            }

            .red-btn{
                margin-left: 0;
                margin-top: 16px;
            }
        }
    }

    .influencer-list{
        .nav-tabs{
            .nav-item{
                .nav-link{
                    padding: 8px 10px;
                }
            }
        }

        .red-btn{
            margin: 0;
            padding: 8px 10px;
            font-size: 14px;
        }
    }
}