.catalog-page{
    #admin-table{
        thead{
            .sorting_asc{
                &::before{
                    content: url('../../assets/images/icons/sort-up-arrow.svg');
                }

                &::after{
                    content: url('../../assets/images/icons/sort-down-arrow.svg');
                    right: 0.85em;
                    bottom: 5px;
                    top: unset;
                }
            }
            .sorting_desc{
                &::before{
                    content: url('../../assets/images/icons/sort-up-arrow.svg');
                }

                &::after{
                    content: url('../../assets/images/icons/sort-down-arrow.svg');
                    right: 0.85em;
                    bottom: 5px;
                    top: unset;
                }
                
            }

            .sorting{
                &::before{
                    content: url('../../assets/images/icons/sort-up-arrow.svg');
                }

                &::after{
                    content: url('../../assets/images/icons/sort-down-arrow.svg');
                    right: 0.85em;
                    bottom: 5px;
                    top: unset;
                }
            }
        }
        tbody{
            tr{
                td{
                    .user-image{
                        width: 48px;
                        height: 48px;
                        border-radius: 2px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 2px;
                        }
                    }

                    .user-name{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                        color: #4B5563;    
                    }

                    .user-ratings{
                        display: flex;
                        align-items: center;
                        img{
                            width: 14px;
                            height: 14px;
                            margin-right: 6px;
                        }
                    }

                    .post-rate{
                        font-family: Source Sans Pro;
                        font-style: normal;           
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                        color: #27272A;
                    }

                    .social-media{
                        display: flex;
                        align-items: center;
                        .followers{
                            display: flex;
                            align-items: center;
                            margin-right: 10px;
                            img{
                                width: 14px;
                                height: 14px;
                                margin-right: 8px;
                            }
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 18px;
                                color: #272727;
                                margin: 0;
                            }
                        }
                    }

                    .hire-me-btn{
                        padding: 4px 8px;
                        background: #FFFFFF;
                        border: 1px solid #8A0E49;
                        border-radius: 2px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        color: #8A0E49;
                        height: 29px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px){
    #business-dashboard{
        .right_col{
            .catalog-page{
                .select-top{
                    .search-wrap{
                        .search-panel{
                            max-width: 100% !important;
                        }
                    }
                }
            }
        }
    }
    .dashboard_container{
        .left_col{
            position: fixed;
            left: 0;
            top: 0;
            z-index: 150;
        }
    }
    #influencer-page{
        .influencer-list{
            margin: 16px;
            h4{
                font-size: 16px;
            }
        }
        .catalog-page{
            padding: 16px !important;
            .select-top{
                .search-wrap{
                    flex-direction: column;
                    .search-panel{
                        margin-right: 0 !important;
                        margin-bottom: 16px;
                        max-width: 100% !important;
                    }
                    .button-catalog{
                        justify-content: space-between;
                        .drop-btn{
                            margin-left: 0;
                        }
                    }
                    .btn-filters{
                        flex-direction: column;
                        .drop-btn{
                            width: 100%;
                            margin-bottom: 8px;
                            .select-btn{
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .pagination{
                ul{
                    &.pagination{
                        li{
                            width: 20px !important;
                            height: 20px !important;
                            a{
                                width: 20px !important;
                                height: 20px !important;
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}