.search-wrap{
    .top-filter-section{
        display: flex;
        align-items: center;

        .button-catalog{
            .drop-btn:first-child{
                .select-btn{
                    width: 120px;
                }
            }

            .drop-btn:last-child{
                .select-btn{
                    width: 120px; 
                }
            }
        }
    }

    .influencer-list{
        margin: 0;
    }
}

#decline-modal{
    .modal-content{
        padding: 24px;
        .modal-header{
            margin-bottom: 32px;
            .modal-title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #333333;
            }   
        }

        .modal-body{
            margin-bottom: 0;
            .inlfuencer-lists{
                .list-item{
                    width: 100%;
                    margin-bottom: 24px;
                    .red-btn{
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }

        .modal-footer{
            width: 100%;
            .white-btn{
                width: 100%;
                height: 40px;
                padding: 6px 35px;
            }
        }
        
    }
}

#lowPayModal{
    .modal-dialog{
        max-width: 390px;

        .modal-content{
            .modal-header{
                align-items: center;
                margin-bottom: 32px;
                .close{
                    width: 28px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .modal-body{
                .inlfuencer-lists{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .list-item{
                        width: 100%;
                        .form-group{
                            label{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 150%;
                                letter-spacing: 0.01em;
                                color: #000;
                            }
                            input, textarea{
                                border-radius: 4px;
                            }
                            textarea{
                                resize: none;
                            }
                        }
                    }
                }
            }

            .modal-footer{
                justify-content: center;
            }
        }
    }
}





@media screen and (max-width: 768px){
    .search-wrap{
        .top-filter-section{
            flex-direction: column;

            .search-panel{
                width: 100%;
            }

            .button-catalog{
                flex-direction: column;
                width: 100%;

                .date-picker-btn{
                    width: 100%;
                    margin-bottom: 16px;
                    input{
                        max-width: 100% !important;
                    }
                }

                .drop-btn{
                    width: 100%;
                    margin-bottom: 16px;
                    .select-btn{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}