#send-post, #twitter-trend{
    .view-post{
        padding: 16px 24px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        .post-heading{
            padding-bottom: 32px;
            .dropdown-arrow{
                width: 27px;
                height: 27px;
                border: 0;
                background: transparent;
                img{
                    width: 27px;
                    height: 27px;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
    .post-details{
        margin-bottom: 32px;
        .add-caption{
            margin-bottom: 16px;
        }
        .caption-lists{
            flex-direction: column;
            align-items: flex-start;

            .caption-list-item{
                margin-bottom: 32px;
            }
        }
    }

    .post-container{
        margin-bottom: 16px;
        .post-heading{
            padding-bottom: 32px;
            h3{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                color: #27272A;
            }

            .btn-section{
                width: 27px;
                height: 27px;
                box-shadow: 0px 4px 3px rgb(0 0 0 / 10%);
                border-radius: 50%;
            }
        }
    }
}


#approved-page{
    .view-post{
        padding: 16px 24px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        .post-heading{
            .dropdown-arrow{
                width: 27px;
                height: 27px;
                border: 0;
                background: transparent;
                img{
                    width: 27px;
                    height: 27px;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
    .post-details{
        margin-bottom: 32px;
        .post-approved{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }
        .add-caption{
            margin-bottom: 16px;
        }
        .caption-lists{
            flex-direction: column;
            align-items: flex-start;

            .caption-list-item{
                margin-bottom: 32px;
            }
        }
    }

    .post-container{
        margin-bottom: 16px;
        .post-heading{
            padding-bottom: 32px;
            h3{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                color: #27272A;
            }

            .btn-section{
                width: 27px;
                height: 27px;
                box-shadow: 0px 4px 3px rgb(0 0 0 / 10%);
                border-radius: 50%;
            }
        }
    }
}



@media screen and (max-width: 768px){
    #send-post{
        .post-container{
            display: none;
        }

        .post-details{
            padding: 16px;
            margin-bottom: 100px;
            .send-approval{
                button{
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: 0px;
                    width: 100%;
                    height: 48px;
                    z-index: 20;
                }
            }

            .img-lists{
                .image-container, .img-list-item{
                    width: 100px;
                    height: 100px;
                    margin-right: 8px;
                    margin-bottom: 8px;
                }
                .file-upload{
                    width: 100px;
                    height: 100px;
                    margin-bottom: 8px;
                }
            }

            .caption-lists{
                flex-direction: column !important;
            }
        }
    }

    #approved-page{
        .post-container{
            display: none;
        }
    }
}