.catalog-form {
    background: #fff;
    padding: 45px 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:24px;
    margin-right: 40px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    border-radius: 8px;
    .form-field{
        margin-left: 0px;
        margin-right: 0px;
        flex: 0 0 45%;
    }
    .title-wrapper{
        width: 100%;
        margin-left:8px !important;
        margin-top: 16px !important;
    }
    .form-wrapper-list{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        .form-wrapper-item-1{
            width:45%;
            .form-field{
                max-width:100%;
                margin-bottom:36px;
            }
        }
        .form-wrapper-item-2{
            width:45%;
            margin-left: 16px;
            .form-field-full{
                .browse-box{
                    background: unset !important;
                    height:unset !important;
                    .browse-box-inner{
                        border: 0px;
                        align-items: center;
                        justify-content: center;
                        label{
                            width: 120px;
                            height: 120px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 32px;
                            img{ 
                                width: 120px;
                                height: 120px;
                            }
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                                margin-top: 18px;
                            }
                            .image-size{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 150%;
                                color: #000000;
                                opacity: 0.5;
                                margin: 4px 0px;
                            }
                        }
                    }
                }
            }

            .form-field{
                max-width: 100%;
            }


            .radio-input{
                max-width: 80%;
                .input-list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 16px;
                    li{
                        width:20%;
                        display: flex;
                        align-items: center;
                        input{
                            width: 16px;
                            height: 16px;
                            background: #FFFFFF;
                            border: 1px solid #3F3F46;
                            box-sizing: border-box;
                            cursor: pointer;
                        }
                        label{
                            margin-left: 8px;
                            margin-bottom: 0px;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #3F3F46;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }
    .form-field {
    
        label {
        width: 100%;
    }

    input, select{
        width: 100%;
        padding: 9px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
    }
    .number {
        display: flex;
        align-items: center;

        input{
            width: 50px;
            margin: 0 10px;
            text-align: center;
        }

        span {
            font-size: 20px;
            font-weight: 700;
            margin: 0 5px;
        }
    }
}


.form-field-full {
    flex: 100%;
    max-width: 100%;
    margin: 0 0 15px 0;

    label {
    width: 100%;

    #addbtn{
        background: #333;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 20px;
        margin: 0;
        border: none;
        border-radius: 4px;
    }
}

input, select{
    width: 100%;
    padding: 9px;
}
textarea{
    width: 100%;
    padding: 9px;
    resize: none;
}
.browse-box {
    max-width: 570px;
    width:100%;
    height: 290px;
    background: #F9FAFB !important;
    text-align: center;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 8px;

    .browse-box-inner {
        display: flex;
        height: 90%;
        margin: 10px;
        border: 1px dashed #71717A;
        border-radius: 4px;
        background: #fff;
        width: 100%;
        label{
            cursor: pointer;
            display: grid;
            .featured-image-preview-wrapper{
                position: absolute;
                width: 542px;
                height: 254px;
                overflow: hidden;
                z-index: 0;
                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }
        input{
            background: #fff;
            display: none; 
        }

        .browse-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img{
                width: 29px;
                height: 27px;
                margin: 0 0 10px 0;
            }
            p{
                color: #9CA3AF;
                font-size: 15px;
                margin: 0;
                z-index: 1;
            }
        }
    }
}
}

.browse-items {
    display: flex;
    align-items: center;
    max-width: 570px;
    width: 100%;
    margin: 15px 0 0 0;

    .browse-ss {
        width: 80px;
        margin: 0 11px;
        border-radius: 8px;
        margin-bottom: 0px;
        label{
            cursor: pointer;
            display: grid;
            height: 73px;
            width: 80px;
            background: #F9FAFB;
            border: 1px solid #D1D5DB;
            border-radius: 8px;

            .product-additional-image{
                overflow: hidden;
                position: absolute;
                
                width: 80px;
                height: 73px;

            }
        }
        input{
            display: none;
        }

        @media screen and (max-width: 767px){
            margin: 0 4px;
        }

        img{
            width: 100%;
            height: 73px;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
        
        }
    }

    span{
        width: 40px;
        height: 40px;
        text-align: center;
        background: #e1e1e1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        margin: 0 5px 0 0;

        @media screen and (max-width: 767px){
            height: auto;
        }
    }
}

.common-button {
    margin: 38px 0 0 0;
    .white-bttn{
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #7A0D41;
    }
    .purple-btn{
        background: #7A0D41;
        border-radius: 4px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }

}
}

.add-product-page{
    .save-btn{
        margin: 30px 40px 23px 24px;
        .purple-btn{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            
        }
    }
}


.multi-select-options button {
    background: #F8F8F8;
    border-bottom: solid 1px #A1A1AA;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #A1A1AA;
    width: 100%;
    padding: 9px;
    text-align: left;
}
.multi-select-options .dropdown-menu {
    width: 100%;
    padding: 16px;
}
.multi-select-options .dropdown-menu li {
    padding: 8px 0;
    display: flex;
}
.multi-select-options .dropdown-menu li label {
    text-align: left;
    display: block;
}
.multi-select-options .dropdown-menu li input {
    position: relative;
    width: 20px;
    margin-left: 0;
    margin-right: 8px;
}

.select2-results__option {
    width: 100%;
}

.multi-select-wrapper .select2-search__field {
    margin-top: 0px !important;
}
.multi-select-wrapper .select2-selection--multiple {
    min-height: 39px !important;
    border: none !important;
    border-bottom: solid 1px #A1A1AA !important;
    background: #F8F8F8;
}
.multi-select-wrapper .select2-selection--multiple input {
    padding: 9px 0px 0px 9px !important;
}
.multi-select-wrapper .select2-selection--multiple input::placeholder {
    color: #000;
}
.multi-select-wrapper .select2-selection--multiple input:-moz-placeholder {
    color: #000;
}
.multi-select-wrapper .select2-selection--multiple input:-ms-input-placeholder {
    color: #000;
}
  


////////////////////////////////////////////////////////////////////////////////////////////

//******   Scroll Bar Styling Start ******//

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 32px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E4E4E4;
}

//******   Scroll Bar Styling End ******//

#business-dashboard{
    .right_col{
        overflow-x: scroll;

        &::-webkit-scrollbar {
            height:2px;
            visibility: hidden;
        }
          
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
            visibility: hidden;
        }
           
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.1); 
            border-radius: 32px;
            visibility: hidden;
        }
          
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #E4E4E4;
        }

        .catalog-page{
            padding: 32px 40px 41px 24px;
            .select-top{
                .search-wrap{
                    display: flex;
                    justify-content: space-between;
                    width:100%;
                    .search-panel{
                        margin-top: 0px;
                        margin-right: 8px;
                        max-width: 405px !important;
                        height: 43px;
                        background-color: #fff !important;
                        padding: 0 !important;
                        input::placeholder{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 150%;
                            color: #3F3F46;
                        }
                    }
                }
                .button-catalog{
                    .white-bttn{
                        background: #FFFFFF;
                        border: 1px solid #7A0D41;
                        box-sizing: border-box;
                        border-radius: 4px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: #7A0D41;
                    }
                    .purple-btn{
                        background: #7A0D41;
                        border-radius: 4px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
            }


            .table-responsive{
                #admin-table, #dtOrderExample{
                    margin-bottom: 0 !important;
                    thead{
                        background: #EDEFF5;
                        height: 40px;
                        tr{
                            
                            th{
                                padding:16px;
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 15px;
                                text-transform: uppercase;
                                color: rgba(19,50,86,0.7);
                                border-top: 1px solid rgba(29,59,168,0.1);
                                border-bottom: 1px solid rgba(19,50,86,0.5);
                                border-right: 1px solid rgba(19,50,86,0.1);
                                white-space: nowrap;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                
                                vertical-align: middle;
                                padding:16px;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                color: #4B5563;
                                border-bottom: 1px solid rgba(0,0,0,0.1);
                                white-space: nowrap;

                                &.comp{
                                    color: #8A0E49;
                                }
                                &.title{
                                    font-weight: 400;
                                }
                                &.eshop-active{
                                    color: #27AE60;
                                    p{  
                                        width:fit-content;
                                        background: rgba(39, 174, 96, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #27AE60;
                                        padding: 4px 8px;
                                    }
                                }
                                &.eshop-failed{
                                    p{
                                        width:fit-content;
                                        background: rgba(255, 76, 97, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #EB5757;
                                        padding: 4px 8px;  
                                    }
                                }
                                &.eshop-upcoming{
                                    p{
                                        width:fit-content;
                                        background: rgba(74, 179, 251, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        color: #4AB3FB;
                                        padding: 4px 8px; 
                                    }
                                }
                                &.in-stock{
                                    p{  
                                        width:fit-content;
                                        background: #E0FFE5;
                                        border: 0.5px solid #219653;
                                        border-radius: 1px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #27AE60;
                                        padding: 2px 8px;
                                    }
                                }
                                &.in-process{
                                    p{  
                                        width: fit-content;
                                        background: rgba(255, 184, 0, 0.2);
                                        border-radius: 2px;
                                        padding: 4px 8px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        color: #F2994A;
                                    }
                                }

                                &.ongoing{
                                    p{  
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: rgba(255, 195, 0, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #FFC300;
                                    }
                                }
                                &.completed{
                                    p{  
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: #E0FFE5;
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #27AE60;
                                    }
                                }

                                &.declined{
                                    p{
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: rgba(235, 87, 87, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #EB5757;
                                    }
                                }

                                &.blue-box{
                                    p{  
                                        width: fit-content;
                                        padding: 4px 8px;
                                        background: rgba(74, 179, 251, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: #4AB3FB;
                                    }
                                }
                            }
                            .eshop-link{
                                a{
                                    color: #478ae9;
                                }
                            }
                            .product-view{
                                a{
                                    color: #478ae9;
                                }
                            }
                            .t-rating{
                               img{
                                   vertical-align: text-top;
                                    width: 14px;
                                    height: 14px;
                                    margin-left: 10px;
                               }
                            }
                            .t-action{
                                img{
                                    margin-right: 24px;
                                }
                            }
                            .status-disable{
                                p{
                                    width:fit-content;
                                    background: #E0E0E0;
                                    border-radius: 2px;
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 10px;
                                    line-height: 13px;
                                    display: flex;
                                    align-items: center;
                                    color: #828282;
                                    padding: 4px 8px;
                                }
                            }

                        }
                    }
                }
            }

            .pagination{
                padding: 8px 0;
                background-color: #ffffff;
                .dataTables_paginate {
                    float: unset;
                    a{
                        background: transparent !important;
                    }
                    ul{
                        li{
                            border-radius: 4px;
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;


                            a, span{  
                                width: 32px;
                                height: 32px;
                                display: inline-block;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                            }
                            .page-link{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                                border: 0;
                                border-radius: 4px;

                                &:focus{
                                    box-shadow: none;
                                }
                            }
                            &.active{
                                background: #FBBF24 !important;
                                .page-link{
                                    background: #FBBF24 !important;
                                }
                            } 
                        }
                        #example_next{
                            background: #E4E4E7;
                            // padding: 5px 10px !important;
                            a{
                                padding: 0px !important;
                                width: 32px;
                                height: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}



// Slide Button Start //
.switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 13px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  #a1b8f1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -7px;
    top:-1px;
    background-color: #1A73E9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #fff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

// Slide Button End //



#business-dashboard{
    .right_col{
        .catalog-page{
            .eshop-product{
                width: 100%;
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 16px;
                margin-bottom: 32px;
                p{
                    margin-left:32px;
                    margin-right: 32px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;                    
                    color: #4B5563;
                }
            }
        }
    }
}



//admin-pay-later-request.html
#business-dashboard{
    .right_col{
        .catalog-page{
            .paylater-heading{
                display: flex;
                background-color: #fff;
                margin-bottom: 32px;
                a{
                    padding: 16px 32px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #8A0E49;
                    &.pay-active{
                        border-bottom: 3px solid #FFC300;
                    }
                    &.pay-non-active{
                        color: #828282;
                    }
                }
            }
            #dtOrderExample, #admin-table{
                tbody{
                    tr{
                        td{
                            &.payment-status{
                                display: flex;
                                
                                a{
                                    &.pay-approve{
                                        width:fit-content;
                                        background: rgba(39, 174, 96, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #27AE60;
                                        padding: 4px 8px;
                                        margin-right: 16px;
                                    }
                                    &.pay-cancel{
                                        width:fit-content;
                                        background: rgba(255, 76, 97, 0.1);
                                        border-radius: 2px;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 13px;
                                        display: flex;
                                        align-items: center;
                                        color: #EB5757;
                                        padding: 4px 8px; 
                                    }
                                }
                            }
                        }
                        
                        .doc-link{
                            a{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                text-decoration-line: underline;
                                text-transform: uppercase;
                                color: #2F80ED;
                            }
                        }
                    }
                }
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////


#admin-dashboard{
    .right_col{
        .dashboard-section{
            .card-section{
                
                .card-section-1, .card-section-2{
                    margin-bottom: 16px;
                    .cards{
                        .card-content{
                            padding: 16px;
                            height: auto;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;

                            .card-heading{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 10px;
    
                                h2{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 20px;
                                    letter-spacing: 0.01em;
                                    color: #FFFFFF;
                                }
                                img{
                                    height: 24px;
                                    width: 24px;                                    
                                }
                            }
                            .card-numbers{
                                h1{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 26px;
                                    line-height: 33px;
                                    letter-spacing: 0.01em;
                                    color: #FFFFFF;
                                    margin-bottom: 16px;
                                }
                            }
                            .card-desc{
                                display: flex;
                                img{
                                    margin-right: 7.2px;
                                }
                                p{    
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 18px;
                                    letter-spacing: 0.01em;
                                    color: #FFFFFF;
                                    margin-right: 14px;
                                }
                            }
                        }
                    }
                    #card-1{
                        background: #41007E;
                        box-shadow: 0px 0px 16px 0px #5B50FF33;
                    }
                    #card-2{
                        background: #00AEFF;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                        
                    }
                    #card-3{
                        background: #FFB800;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                    }
                    #card-4{
                        background: #F83687;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                    }
                    #card-5{
                        background: #29BC8A;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                    }
                    #card-6{
                        background: #6F52ED;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                    }
                    #card-7{
                        background: #FF9B00;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                    }
                    #card-8{
                        background: #06C245;
                        box-shadow: 0px 0px 16px rgba(91, 80, 255, 0.2);
                    }
                }
            }

            .revenue-section{
                margin-bottom: 16px;
                .revenue{
                    .graph{
                        background: #fff;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                        padding:16px;
                        height: 100%;
                        .graph-text{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 24px;
                            h1{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                                text-transform: uppercase;                                
                                color: #333333;
                                margin: 24px 0 28px 4px;
                            }
                            .duration{
                                display: flex;
                                margin-right: 16px;
                                border:0;
                                a{
                                    padding:0;
                                    border: 0;
                                    &.active{
                                        color: #7A0D41;
                                        border-bottom: 2px solid #7A0D41;
                                    }
                                }
                                .yearly{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 18px;
                                    text-transform: uppercase;
                                    color: rgba(0,0,0,0.3);
                                    margin-right: 16px;
                                }
                                .monthly{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 18px;
                                    text-transform: uppercase;
                                    color: rgba(0,0,0,0.3);
                                }
                            }
                        }
                    }
                }
                .sales{
                    .pie-chart{
                        background: #fff;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                        padding:16px;
                        h1{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            text-transform: uppercase;
                            color: #333333;
                            margin: 24px 0 0 4px;
                        }
                        .bar{
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 15px;
                                letter-spacing: 0.01em;
                                color: #000000;
                            }
                            .progress{
                                height: 4px;
                                background: #F3F3F9;
                            }
                        }
                    }
                }
            }

            .company-section{
                margin-bottom: 32px;
                .section-1, .section-2{
                    background: #FFFFFF;
                    border-radius: 8px;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    padding-bottom: 13px;
                    h1{
                        background: #FFFFFF;
                        padding: 16px 16px 7px 16px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #333333;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                    }
                    .content-box-wrapper{
                        padding: 16px 12px 0 12px;
                        background: #FFFFFF;
                    }
                    .content{
                        display: flex;
                        background: #FFFFFF;
                        // box-shadow: 0px 4px 6px 0px #0000001A;
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        .image{
                            padding:0px;
                            width: 130px;
                            height: 113px;
                            margin-right: 17px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                         }
                        .desc{
                            display: flex;
                            flex-direction: column;
                            h1{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 150%;
                                color: #4B5563;
                                padding:4px;
                            }
                            h2{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #111827;
                                padding:4px;
                            }
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #16A34A;
                                background: #F0FDF4;
                                border-radius: 2.14892px;
                                padding: 4px 8px;
                                width: fit-content;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}



////////////////////////////////////////////////////////////////////////////////////





.account-info-wrapper{
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 38px 60px;
    margin: 0 40px 76px 24px;
    .user-info-wrapper{
        padding-right: 41px;
        &::before{
            content: " ";
            position: absolute;
            width: 1px;
            height: 415px;
            background-color: #000;
            opacity: 0.1;
            left: 100%;
            top: 30px;
        }
        .user-info{
            .profile-wrapper{
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 50%;
                padding: 14px;
                height: 124px;
                width: 124px;
                display: inline-block;
                margin-bottom: 17px;
                img{
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
            .content-wrapper{
                .company-info{
                    margin-bottom: 24px;
                    a{ 
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        margin-bottom: 7px;
                        text-decoration: underline;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
                
            }
            .contact-wrapper{
                p{
                    margin-bottom: 16px;
                    span, a{
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                        &:first-child{
                            font-weight: 600;
                            opacity: 0.8;
                            margin-right: 32px;
                        }
                    }
                    a{
                        text-decoration: underline;
                    }
                }
            }
            .about-wrapper{
                margin-bottom: 11px;
                
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000000;
                    opacity: 0.8;
                }
            }
        }
    }
    .address-wrapper{
        padding-left: 75px;
        margin-top:64px;
        .address{
            h4{
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 35px;
                margin-top: 81px;
                            }
            .addres-content{
                p{
                    margin-bottom: 15px;
                    display: flex;
                    span, a{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                        opacity: 0.8;
                        &:first-child{
                           font-weight: 600;
                           width: 200px;
                          
                        }
                    }
                    a{
                        text-decoration: underline;
                    }
                }
                .social-connection{
                    margin-top:32px;
                    h2{
                        margin-top: 24px;
                        margin-bottom: 15px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                        opacity: 0.8;
                    }
                    .network-list{
                        .network-list-item{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height:59px;
                            width: 343px;
                            border-radius: 4px;
                            background: #FFFFFF;
                            box-shadow: 0px 10px 15px 0px #0000001A;
                            padding:16px;
                            margin-bottom:8px;
                            div{
                                display: flex;
                                align-items: center;
                                img{
                                    margin-right: 16px;
                                }
                                p{
                                    margin-bottom:0px;
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: #27272A;
                                }
                            }

                            a{
                                color: #2F80ED;
                            }
                        }
                    }
                }
            }
        }
    }
    .edit-btn-wrapper{
        a{
            padding:8px 8px 8px 28px;
            border: 1px solid #7A0D41;
            box-sizing: border-box;
            border-radius: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #7A0D41;
            background-color: #fff;
            background-image:url(.../images/icons/pencil.svg);
            background-repeat: no-repeat;
            background-position: center left 8px;
            display: inline-block;

            
        }
    }
    
}
.account-main-info-wrapper{
    .account-cont{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        h4{
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
        }
    }
    .edit-address{
        h4{
            margin-bottom: 41px;
        }
    }
}


.details-link{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #2F80ED !important;
    opacity: 0.8;
}



///////////////////////////////////////////////////////////////////////////////////////////



.dashboard_container{
    .title-wrapper{
        margin: 32px 40px 15px 24px !important;
        &.address-heading{
            margin: 38px 0px 40px 0px !important;
        }
    }
    .invoice-wrapper{
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(91, 80, 255, 0.1);
        border-radius: 4px;
        padding: 24px;
        margin-bottom: 37px;
        margin: 0 40px 15px 24px !important;
        .invoice-header-wrapper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
            .invoice-detial-wrapper{
                ul{
                    display: -ms-inline-grid;
                    display: -moz-inline-grid;
                    display: inline-grid;
                    li{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 16px;
                        
                        
                        
                    }
                }
            }
            .invoice-print-btn-wrapper{
                .print-btn{
                    background-image: url(.../images/icons/print.svg) !important;
                    margin-right: 24px !important;
                }
                .download-btn{
                    background-image: url(.../images/icons/download.svg) !important;
                }
                button{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    background-position: center left !important;
                    background-repeat: no-repeat !important;
                    padding-left: 20px;

                }
                
            }
        }
       
    }
    .btn-wrapper{
        text-align: right;
        .white-bttn{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            border-radius: 4px;
            padding: 8px 24px;
            margin-right: 8px !important;
            
        }
        .purple-btn{
            max-width: 167px;
            margin-top: 0px;
        }
    }
}

.table-wrapper{
    .table{
        display: inline-table;
        thead{
            background: rgba(245, 245, 245, 0.54);
           
            tr{
               

                th{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 0px;
                    padding: 20px 0px;
                    border: none;
                    &:first-child{
                        font-weight: 600;
                        line-height: 18px;
                        padding-left: 8px;
                    }
                }
            }
        }
        tbody{
            tr{
                background: #FFFFFF;
                border: 1px solid #F2F2F2;
                box-sizing: border-box;
               
                td{
                    padding: 8px;
                    vertical-align: middle;

                }
            }
        }
    }
    .total-amount-wrapper{
        max-width: 250px;
        margin-left: auto;
        padding-right: 70px;
        p{
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 14px;
            display: flex;
            justify-content: space-between;
        }
        .shipping{
            span{
                &:last-child{
                    opacity: 0.4;
                }
            }
        }
    }
    
}
.product-img-nane-wrapper{
    display: flex;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
    .img{
        margin-right: 21px;
        img{
         width: 77px;
        height: 80px;
        border-radius: 2px;
        object-fit: cover;
        }
    }
    .name{
        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            &:last-child{
                opacity: 0.7;
                font-weight: normal;
            }
        }

    }
}

.order-itmes-table-wrapper{
    padding: 0 26px;
   
    .address-wrapper{
        margin-bottom: 27px;
        .address-item{
        padding: 24px;
        background: rgba(245, 245, 245, 0.54);
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 16px;
                &:first-child{
                    opacity: 0.9;
                    font-weight: 500;
                    line-height: 19px;
                }
            }
        }
    }
}

.table-wrapper{
    .order-tracking-wrapper{
        padding-left: 16px;
        .title-wrapper{
            margin:  0 0 10px 0 !important;
            h4{
                font-size: 16px;
            }
        }
    }
    .product-tracker{
        border: none !important;
        td{
            border-top: 0;
        }
    }
}

.order-tracker-item-wrapper{
    #progressbar {
        // margin-bottom: 50px;
        overflow: hidden;
        color: #455A64;
        padding-left: 0px;

        .step0{
            list-style-type: none;
            width: 23%;
            float: left;
            position: relative;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.5;
            &:last-child{
                width: 0%; 
            }
            
        }
        .step0.active{
            font-weight: 600;
            opacity: 1;
        }
       
    }
}


#progressbar li:before {
    
    display: block;
    border-radius: 50%;
    content: " ";
    width: 24px;
    height: 24px;
    background: #C4C4C4;
    border: 1px solid rgba(39, 39, 42, 0.5);
    box-sizing: border-box;
    margin-left: 15px;
    padding-left: 15px;
    margin-bottom: 12px;
}

#progressbar li:after {
    content: '';
    height: 1px;
    background: #C4C4C4;
    position: absolute;
    left: 55px;
    right: 0%;
    top: 12px;
    z-index: 0;
}



#progressbar li.active:before{
    background: #27AE60;
    border: 2px solid #27272A;
    
}



//admin-order-recipt.html
#order-receipt{
    .page-title{
        padding: 14px 24px !important;
    }
    .right_col{
        margin-left: 0px;
    }

    .invoice-wrapper{
        width: 60%;
        margin: 24px auto !important;

        .invoice-print-btn-wrapper{
            button{
                cursor: pointer;
            }
        }
        .total-amount-wrapper{
            margin-left: 67%;
            padding-right: 45px;
        }
        .table{
            tbody{
                tr{ 
                    td:nth-child(odd){
                        padding: 12px !important;
                    }
                    td:nth-child(even){
                        padding: 0 !important;
                    }
                }
            }
        }
    }
}



/////////////////////////////////////////////////////////////////////////////////////////


.product-main{
    display: flex;
    padding: 13px 16px 0 24px;

    .product-detail-cont {
        max-width: 48%;
        flex: 0 0 45%;
        margin-right: 37px;

        .browse-box {
            .slick-slider{
                max-width:555px;
            }
            img {
            width: 555px;
            height: 436px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .browse-items {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 555px;
        width: 100%;
        margin: 15px 0 0 0;
        position: relative;
        
        .slick-prev, .slick-next{
            color: transparent;
            min-width: 48px;
            min-height: 48px;
            border-radius: 50%;
            border: 0;
            background: #E5E7EB;
            cursor: pointer;
        }

        .slick-prev{
            background-image: url("../images/icons/left-arr.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        .slick-next{
            background-image: url("../images/icons/right-arr.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
        
        .browse-ss {
            width: 100px;
            height: 90px;
            margin-right: 10px;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
            }
            a{
                width: 100px;
                height: 90px;
            }
            img{
                width: 100px;
                height: 90px;
                object-fit: cover;
                border-radius: 8px;
                overflow: hidden;
                
            }
    
            @media screen and (max-width: 767px){
                margin: 0 4px;
            }
        }
    
        a{
            width: 48px;
            height: 48px;
            text-align: center;
            background: #e1e1e1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            margin: 0 5px 0 0;
            top:20px;
            img{
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
    
            @media screen and (max-width: 767px){
                height: auto;
            }
        }
    }
    }

    .product-specification{
        max-width: 48%;
        flex: 0 0 48%;

        h2 {
            font-weight: 700;
            font-size: 29px;
            margin: 0 0 15px 0;
            line-height: 38px;
        }

        h3{
            font-size: 20px;
            font-weight: 700;
            margin: 0;

            label{
                font-size: 24px;
            font-weight: 600; 
            width: 100px;
            }

            b{
                font-size: 30px;
            }
        }
        .spec-row{
            display: flex;
            align-items: flex-start;
            margin: 25px 0 0 0;
            .color-lists{
                div{
                    width: 40px;
                    height: 40px;
                    margin: 0 13px 0 0;
                }
            }

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
            div{
                display: flex;
                align-items: flex-start;
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    margin: 0;
                }

                button{
                    margin: 0 0 0 10px;
                    background: #E0FFE5;
                    border: 0.5px solid #219653;
                    border-radius: 1px;
                    color: #27AE60;
                    font-size: 14px;
                    padding: 2px 9px;
                }

                span{
                    font-weight: normal;
                    font-size: 18px;
                    margin: 0 10px 0 0;
                }


                // .color-box{
                //     width: 40px;
                //     height: 40px;
                //     margin: 0 13px 0 0;
                // }

                // .pink-volor {
                //     width: 40px;
                //     height: 40px;
                //     background: #FECACA;
                //     margin: 0 13px 0 0;
                // }
                // .orange-volor {
                //     width: 40px;
                //     height: 40px;
                //     background: #FDBA74;
                //     margin: 0 13px 0 0;
                // }
                // .blue-volor {
                //     width: 40px;
                //     height: 40px;
                //     background: #CCFBF1;
                //     margin: 0 13px 0 0;
                // }
            }
        }

        .prod-desc {
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
        }

        .prod-spec{
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100%;
                font-weight: 600;
            }

            ul{
                margin: 10px 0 0 0;
                li{
                    display: block;
                    width: 100%;
                    margin: 0 0 10px 0;
                    padding: 0 0 0 15px;
                    position: relative;

                    &:before{
                        position: absolute;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        background: #6A6A6A;
                        border-radius: 50%;
                        content: "";
                        top: 8px;
                    }
                }
            }

            .review-author {
                margin: 0 0 6px 0;

                span{
                    display: inline-block;
                    vertical-align: top;
                    width: 16px;
                    height: 16px;
                    margin: -1px 0 0 0;
                }
            }

            .date {
                margin: 0 0 10px 0;
                font-size: 14px;
            
                img {
                margin: 0 10px 0 0;
            }
         }
      }

      .common-button {
        margin: 38px 0 0 0;
        .white-bttn{
            background: #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #7A0D41;
        }
        .purple-btn{
            background: #7A0D41;
            border-radius: 4px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }

    }

   }
}


.switch-check-box-wrapper {
    display: flex;
    margin-top: 41px;
  }
  .switch-check-box-wrapper span {
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
  .switch-check-box-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch-check-box-wrapper .label-switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  .switch-check-box-wrapper .label-switch:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  .switch-check-box-wrapper input:checked + .label-switch {
    background: #2F80ED;
  }
  .switch-check-box-wrapper input:checked + .label-switch:after {
    left: calc(100% - 5px);
    transform: translateX(-250%);
  }


/////////////////////////////////////////////////////////////////////////////////////////////////


.datepicker-wrapper{
    width: 309px;
    height: 43px;
    input{
        max-width: 100%;
        height: 100%;
        margin: 0;
        background: #FFFFFF;
        border: 1px solid #E4E4E7;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.09px;
        color: #111827;
        background-image: url("C:/Users/Sukesh/Documents/APPARRANT/twiva-admin/images/icons/calender-icon.svg");
        background-position: top 50% right 10px;
        background-repeat: no-repeat;
        cursor: pointer;
        text-align: left;
    }
}



//////////////////////////////////////////////////////////////////////////////////////////////////

.dashboard-page{
    .dashboard-card{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 -17px;
        flex-wrap: wrap;
        @media screen and (max-width: 666px){
            margin: 0;
        }
    
        .card{
            background: #FFFFFF;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            flex: 0 0 30%;
            max-width: 30%;
            padding: 20px;
            margin: 0 17px 34px;
    
            @media screen and (max-width: 1024px){
                flex: 0 0 45%;
                max-width: 45%;
            }
            @media screen and (max-width: 666px){
                flex: 0 0 100%;
                max-width: 100%;
                margin:0 0 15px;
            }
    
            h3{
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 10px 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
    
                img {
                    width: 25px;
                    height: 25px;
                    margin: 0 8px 0 0;
                }
            }
    
            h4{
                font-size: 20px;
                font-weight: 600;
    
                small{
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
    
    .catalog-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        .button-catalog{
    display: flex;
    align-items: center;
    button {
        font-size: 16px;
        font-weight: 600;
        max-width: 135px;
        width: max-content;
        margin: 0 0 0 15px;
        padding: 8px 18px !important;
        border: solid 1px #7A0D41 !important;
    
        a{
            color:#fff;
        }
    }
        }
    }
    }





///////////////////////////////////////////////////////////////////////////////////

@import "../modules/variables";


    .dashboard_container{
        width: 100%;
        
        .left_col{
            .scroll-view{
                #sidebar-menu{
                    .menu-close-button{
                        display:none;
                    }
                    .user-profile{
                        display:none;
                    }
                }
            }
        }

        .right_col{
            width: 100%;
            padding: 0 !important;
            .page-title{
                width: 100% !important;
                margin: 0 0 24px;   
                box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);             
                a{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #111827;
                    
                }                
            }
            .dashboard-inner{
                .dashboard-card-outr{
                    margin: 0 !important;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .dashboard-card{
                        max-width: 100%;
                        h3{
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .common-button{
                            .white-bttn{
                                border-radius: 4px;
                            }
                        }
                    }
                    #card-social{
                        background-color: #FFC300;
                        display: flex;
                        img{
                            width: 48px;
                            height: 48px;
                            margin-right: 16px;
                        }
                        .card-flex{
                            flex-direction: column !important;
                            height: 125px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            h3{
                                font-family: Source Sans Pro;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 36px;
                            }
                        }
                        .full-button{
                            padding-left: 64px;
                            a{
                                span{
                                    img{
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-section{
                    max-width: 100%;
                    display: grid !important;
                    .product-box{
                        max-width: 100%;
                        background-color: transparent;
                        box-shadow: none;
                        .product-box-inner{
                            .product-box-content{
                                position: relative;
                                display: flex;
                                background-color: #fff;
                                border-radius: 8px;
                                box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                                img{
                                    width: 50%;
                                    height: auto;
                                }
                                .box-content{
                                    padding: 16px 8px;
                                }
                                .product-rating{
                                    width: 44px;
                                    height: 18px;
                                    background-color: #fff;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    position: absolute;
                                    right:50%;
                                    top:70%;
                                    border-radius: 2.14892px 0px 0px 2.14892px;
                                    .rating-title{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12.8935px;
                                        line-height: 140%;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: -0.053792px;
                                        color: #111827;
                                    }
                                    .rating-star{
                                        img{
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }




@media screen and (max-width: $screen_768px){
    .model-open{
        -ms-overflow-style: scrollbar;
            overflow: hidden;
            height: 100%;
    }
 
        .dashboard_container{
            width: 100%;
            .left_col{
                display:none;
                .scroll-view{
                    #sidebar-menu{
                        transform: translateX(-100%);
                        transition: ease all 0.3s;
                        will-change: transform;
                        width: 80vw;
                        height: 100vh;
                        position: fixed;
                        top:0;
                        left:0;
                        background-color: #fff;
                        z-index: 120;
                        overflow-y: auto;

                        /* width */
                        &::-webkit-scrollbar {
                            width:2px;
                        }
                        
                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #f1f1f1; 
                        }
                        
                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: rgba(0, 0, 0, 0.1); 
                            border-radius: 32px;
                        }
                        
                        /* Handle on hover */
                        &::-webkit-scrollbar-thumb:hover {
                            background: #E4E4E4;
                        }

                        &.show-sidebar{
                            transform: translateX(0);
                            transition: ease all 0.3s;
                        }
                        .menu-close-button{
                            display: inline-block;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            background: transparent;
                            border: none;
                        }
                        .user-profile{
                            display:inline-block;
                            width: 100%;
                            height: 200px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding-left: 64px;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 150%;
                            color: #27272A;
                            img{
                                width: 64px;
                                height: 64px;
                                margin-right: 20px;
                            }
                        }
                        .menu_section{
                            h4{
                                display: none;
                            }
                            .side-menu{
                                li{
                                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
                                    width: 100%;
                                    margin-bottom: 0;
                                    a{  
                                        padding-top: 16px;
                                        padding-bottom: 16px;
                                        margin-bottom:0px;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 150%;
                                        display: flex;
                                        align-items: flex-end;
                                        color: #27272A;
                                        img{
                                            margin-left: 32px !important;
                                            margin-right: 40px !important;
                                        }
                                        span{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
}




.catalog-container {
    h3 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}

p{
    font-size: 16px;  
}
}

.catalog-page{
    .select-top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 0 32px 0;

        h3{
            font-size: 20px;
            color:#000;
            font-weight: 600;
        }

        .button-catalog {
            display: flex;
            align-items: center;



            button{
                padding: 9px 20px;
                // max-width: 160px;
                margin: 0 0 0 15px !important;
                width: auto;

                img{
                    width: 24px;
                    margin: -2px 3px 0 0;
                    height: 24px;
                }

                a{
                    color:#fff;
                }
            }

           input[type="date"] {
                padding: 2px 10px;
                margin: 0 0 0 15px;
                background: #fff;
                color: #333;
            }

            
        }
    }

    

    table {
        tr {
        background: #EDEFF5;
    }
    td{
        background: #fff;
        border-left: 0 !important;
        border-right: 0 !important;
        &:first-child{
            img{
                width: 48px;
                height: 48px;
                object-fit: cover;
                overflow: hidden;
                border-radius: 4px;
            }
        }

       
    }
    .green-txt{
        vertical-align: middle;
        button{
            cursor: pointer;
        }
    }
}

#transaction{
    .search-wrap{
        justify-content: flex-start !important;
        .button-catalog{
            .drop-btn{
                margin-right: 8px;
                margin-left: 0;
            }
        }
    }
}
.select-top {

.search-panel {
    flex: 0 0 45%;
    border-radius: 4px;
    input {
    background-color: #fff;
    background-image: url('../../assets/images/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left 15px center;
    max-width: 100%;
    height: 100%;
    color: #333;
    margin: 0;
    text-align: left;
    padding-left: 44px;
}
}

&.select-search{
    align-items: center;

    select{
        margin: 0 0 0 15px;
        background-color: #fff;
        color: #333;
    }
}
}
}

.earning-wrapper{
    .total-earning-wrapper{
        h4{
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 120%;
            color: #7A0D41;
            span{
                color: #000;
                font-size: 14px;
            }
        }
    }
}


.catalog-page{
    #feedpost{
        .button-catalog{
            width: 100%;
            justify-content: space-between;
            .drop-btn-wrapper{
                display: flex;
                align-items: center;
            }
        }
    }
}






