.about-us-banner{
    height: 365px;

    .banner-content{
        height: 100%;
        .faq-text{
            padding-top: 117px;
        }

        .faq-img{
            padding-top: 16px;
            width: 424px;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.about-page{
    margin-top: 102px;
    margin-bottom: 286px;
    padding-left: 140px;
    padding-right:140px;

    .main-content-wrapper{
        .description-list{
            width: 100%;
            margin-bottom: 80px;
            .list-item{
                list-style-type: none;
                display: flex;
                align-items: center;
                img{
                    width: 10px;
                    height: 11px;
                    margin-right: 11px;
                }
                p{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: #272727;
                    margin-bottom: 0;
                }
            }
        }

        .purpose{
            margin-bottom: 80px;
            h1{
                font-weight: normal;
                font-size: 48px;
                line-height: 60px;
                color: #272727;
                margin-bottom: 24px;
            }
            p{
                font-size: 20px;
                line-height: 25px;
                color: #272727;
                margin-bottom: 0;
            }
        }

        .values{
            h1{
                font-weight: normal;
                font-size: 48px;
                line-height: 60px;
                color: #272727;
                margin-bottom: 24px;
            }

            .value-lists{
                display: flex;
                align-items: center;
                .list-item{
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    margin-right: 80px;
                    img{
                        width: 50px;
                        height: 50px;
                        margin-right: 24px;
                    }
                    p{
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 25px;
                        color: #272727;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $screen_768px){
    .about-us-banner{
        height: 300px;
        .banner-content{
            .faq-text{
                padding-top: 110px;
            }
            .faq-img{
                margin-right: 0;
            }
        }
    }

    .about-page{
        margin-top: 60px;
        padding: 32px;
        margin-bottom: 100px;
        .main-content-wrapper{
            .description-list{
                .list-item{
                    align-items: flex-start;
                    margin-bottom: 16px;
                    img{
                        margin-top: 8px;
                    }
                    p{
                        font-size: 18px;
                        text-align: justify;
                    }
                }
            }
            .purpose{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 18px;
                    text-align: justify;
                }
            }
            .values{
                h1{
                    font-size: 40px;
                }
                .value-lists{
                    flex-direction: column;
                    align-items: flex-start;
                    .list-item{
                        margin-bottom: 16px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $screen_768px){
    .about-us-banner{
        .banner-content{
            .faq-img{
                margin-right: 0;
            }
        }
    }
}