.contact-page{
    .main-content-wrapper{
        padding: 0 100px 100px;
        margin-top: -200px;
        form{
            padding: 32px;
            width: 60%;
            margin: auto;
            background: #fff;
            box-shadow: 0px 4px 4px 0px #ccc;
            border-radius: 4px;

            .form-group{
                margin-bottom: 32px;
                label{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 25px;
                    color: #272727;
                }

                input, textarea{
                    background: #FFFFFF;
                    border: 1px solid rgba(138,14,73,0.1);
                    box-sizing: border-box;
                    border-radius: 4px;
                }

                input:focus, textarea:focus{
                    box-shadow: none;
                }

                input::placeholder{
                    font-family: Source Sans Pro !important;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #929292 !important;
                }

                textarea{
                    resize: none;
                }
            }

            .submit-btn{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .contact-btn{
                border: none;
                border-radius: 8px !important;
            }
        }
    }

    .whatsapp-link{
        position: absolute;
        right: 18%;
        top: 210px;

        a{  
            text-decoration: none;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #272727;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 60px;
                height: 60px;
            }
            p{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #272727;
            }
        }
    }
}


@media screen and (max-width: 768px){
    .contact-page{
        .main-content-wrapper{
            padding: 32px;
            form{
                width: 100%;
            }
        }

        .whatsapp-link{
            position: fixed;
            bottom: 10px;
            right: 20px;
            top: unset;
        }
    }
}   