.faq-banner{
    width: 100%;
    height: 340px;
    background-color: #790E41;
    margin-top: 84px;

    .banner-content{
        display: flex;
        justify-content: space-between;
        .faq-text{
            padding-top: 90px;
        }
        h1{
            font-family: $playfair-display;
            font-weight: 400;
            font-size: 64px;
            line-height: 85px;
            color: #FFFFFF;
        }

        .faq-img{
            margin-right: 150px;
        }
    }
}


.faq-page{
    .main-content-wrapper{
        margin-top: 105px;
        padding-bottom: 237px;
        .navbar{
            justify-content: center;
        }
        .nav{
            flex-wrap: nowrap;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 72px;
            .nav-item{
                height: auto;
                .nav-link{
                    height: 100%;
                    padding: 16px 28px;
                    font-weight: 600;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.6);
                    background: none;
                    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.1);
                    border-radius: 0;
                    &.active{
                        color: #8A0E49;
                        box-shadow: inset 0px -4px 0px #8A0E49, inset -1px 0px 0px rgba(0, 0, 0, 0.1);
                    }
                }

                &:first-child{
                    .nav-link{
                        border-radius: 10px 0 0 10px;
                    }
                }

                &:last-child{
                    .nav-link{
                        border-radius: 0 10px 10px 0;
                        box-shadow: none;
                        &.active{
                            color: #8A0E49;
                            box-shadow: inset 0px -4px 0px #8A0E49, inset -1px 0px 0px rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }

        .tab-content{
            .accordion{
                width: 60%;
                margin: auto;
                .card{
                    margin-bottom: 32px;
                    border: 0;
                    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
                    border-radius: 8px;
                    .card-header{
                        padding: 12px 16px;
                        background-color: #FFFFFF;
                        border-bottom: 0;
                        &.active{
                            background-color: $primary-color;
                            h2{
                                button{
                                    color: #fff;
                                    .plus{
                                        display: none;
                                    }
                                    .minus{
                                        display: block;
                                    }
                                }
                            }
                        }
                        
                        h2{
                            padding: 0;
                            margin: 0;
                            font-size: 0;
                            button{
                                padding: 0;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 25px;
                                color: #8A0E49;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                position: relative;
                                &:focus{
                                    box-shadow: none;
                                }

                                span{
                                    position: absolute;
                                    right: 0;
                                }
                                .plus{
                                    display: block;
                                }
                                .minus{
                                    display: none;
                                }
                            }
                        }
                    }

                    .card-body{
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        color: #272727;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $screen_768px){
    .faq-banner{
        .banner-content{
            .faq-text{
                // padding-top: 40px;
                h1{
                    font-size: 40px;
                    line-height: 60px;
                }
            }
            .faq-img{
                margin-right: 75px;
            }
        }
    }

    .faq-page{
        .main-content-wrapper{
            margin-top: 60px;
            padding-bottom: 100px;
            .navbar{
                .nav-pills{
                    .nav-item{
                        .nav-link{
                            padding: 12px;
                        }
                    }
                }
            }
            .tab-content{
                .tab-pane{
                    .accordion{
                        width: 100%;
                        .card{
                            .card-header{
                                padding: 10px;
                                h2{
                                    button{
                                        font-size: 13px;
                                        text-align: left;
                                    }
                                }
                            }
                            .card-body{
                                font-size: 13px;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $screen_568px){
    .faq-banner{
        .banner-content{
            .faq-img{
                display: none;
            }
        }
    }
}