//Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap'); 

//Noto Serif
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');


.header-section {
    background: $primary-color;
    padding: 12px 20px;
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 150;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-toggler{
        display: none;
        padding: 0;
        margin: 0;
        width: 38px;
        height: 38px;
        img{
            width: 38px;
            height: 38px;
        }
    }

    .logo{
        width: 123px;
        height: 43px;
        margin-left: 13px;
        img{
            width: 123px;
            height: 43px;
        }
    }

    .top_nav{
        height: 100%;
        .navbar-nav{
            display: block;
            li{
                margin-right: 20px;
                a{
                    padding: 0;
                }
            }
            .user-profile{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;                
                color: #FFFFFF !important;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    text-decoration: none;
                }

                .profile-img{
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                    border-radius: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
            .dropdown{
                .dropdown-toggle{
                    &::after{
                        display: none;
                    }
                }
            }
            .down-arrow{
                width: 16px;
                height: 16px;
                margin-left: 8px;
            }
        }
    }
    

    .top_nav {
        .dropdown-menu  {
            margin-left: auto;
            margin-right: 0px;
            right: 4px;
            margin-top: 14px;
            padding: 16px;
            background: #FFFFFF;
            border-radius: 8px;
            width: 286px !important;
            border: none;
            height: 159px;
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
        
            .header-company-name-wrapper{
                .company-name{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #000000;
                    margin-bottom: 4px;
                }
                .email{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000000;
                    opacity: 0.6;
                    margin-bottom: 24px;
                }
            }

            .logout{
                width: 100%;
            }
            #logout-btn{
                padding: 10px 100px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF !important;
                background: #7A0D41;
                border-radius: 4px;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}




#hire-me-page-wrapper{
    width: 80%;
    margin: 50px auto 60px auto;

    .post-heading{
        padding: 0px 32px 45px 32px;
    }
    .post-input-container{
        padding: 0 32px 0px 32px;

        .c-text{
            height: auto !important;
            resize: none;
        }
    }

    .btn-wrapper{
        .red-btn{
            display: unset;
            width: auto;
        }
    }
}

.post-container{
    width: 80%;
    margin: 50px auto 60px auto;
    padding-top: 24px;
    background: #FFFFFF;

    &.custom-style{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin: 32px 24px 156px 24px;
    }
    .post-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 32px 40px 32px;
        h3{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
        }
    }


    .post-input-container{
        padding: 0 32px 0px 44px;
        .row{
            justify-content: space-between;
            .col-sm-6, .col-lg-6{
                flex: 0 0 47%;
            }
        }
        .input-section{
            .form-group{
                margin-bottom: 41px;
                label{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: #27272A;
                    span{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #27272A;
                        opacity: 0.7;
                    }
                }
                .form-control{
                    background: #F8F8F8;
                    padding: 8px;
                    height: 40px;
                    border: 0;
                    border-bottom: 1px solid #A1A1AA;

                    &.custom-h{
                        height: 75px;
                    }
                    &.custom-form{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start !important;
                        background: #fff ;
                    }
                }
            }
        }
    }

    .btn-wrapper{
        text-align: right;
        .red-btn{
            margin-right: 32px;
            margin-bottom: 32px;
        }
    }
}


#service-page{
    padding-top: 64px;
    .form-group{
        margin-bottom: 41px;
        label{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: #27272A;
        }
        .form-control{
            background: #F8F8F8;
            padding: 8px;
            height: 40px;
            border: 0;
            border-bottom: 1px solid #A1A1AA;
            border-radius: 0;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #27272A;
    
            &:focus{
                box-shadow: none;
            }
    
            &.custom-h{
                height: 112px;
            }
        }
        textarea{
            resize: none;
        }
    }

    .breadcrumb-wrapper{
        padding: 16px;
        margin: 0;
        width: 100%;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        .breadcrumb{
            padding: 0;
            margin: 0;
            background-color: #FFFFFF;
            li{
                a{  
                    &.breadcrumb-heading{
                        font-family: Noto Serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 150%;
                        color: #27272A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    img{
                        width: 20px;
                        height: 20px;
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                    &.active{
                        color: #71717A;
                    }
    
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .mobile-breadcrumb-wrapper{
        padding: 16px;
        margin: 0;
        width: 100%;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        height: 56px;
        display: none;
        align-items: center;
        .mobile-breadcrumb{
            padding: 0;
            margin: 0;
            background-color: #FFFFFF;
            list-style-type: none;
            li{
                a{  
                    &.breadcrumb-heading{
                        font-family: Noto Serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 150%;
                        color: #27272A;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    
                    img{
                        width: 32px;
                        height: 32px;
                        margin-right: 8px;
                    }
                    &.active{
                        color: #71717A;
                    }
    
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px){
    #hire-me-page-wrapper{
        margin: 16px;
        padding-top: 0;
        .post-input-container{
            padding: 16px;
        }
    }
}