.privacy-page{
    padding: 100px;

    p{
        text-align: justify;
    }

    p{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #272727;
    }

    h3{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 60px;
        color: #272727;
    }
}