//Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap'); 

//Noto Serif
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: $source-sans-pro !important; 
    background-color: #FFFFFF;
}

.p-t{
    padding-top: 64px;
}

.f-p{
    padding: 48px 178px 0 177px;
}

.tab-p{
    padding: 0 377px;
}

a{
    &:hover{
        text-decoration: none;
    }
}

header {
    background: $primary-color;
    padding: 12px 20px;
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 150;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-toggler{
        display: none;
        padding: 0;
        margin: 0;
        width: 38px;
        height: 38px;
        img{
            width: 38px;
            height: 38px;
        }
    }

    .logo{
        width: 123px;
        height: 43px;
        margin-left: 13px;
        img{
            width: 123px;
            height: 43px;
        }
    }

    .top_nav{
        height: 100%;
        .navbar-nav{
            display: block;
            li{
                margin-right: 20px;
                a{
                    padding: 0;
                }
            }
            .user-profile{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;                
                color: #FFFFFF !important;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    text-decoration: none;
                }

                .profile-img{
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                    border-radius: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
            .dropdown{
                .dropdown-toggle{
                    &::after{
                        display: none;
                    }
                }
            }
            .down-arrow{
                width: 16px;
                height: 16px;
                margin-left: 8px;
            }
        }
    }
    

    .top_nav {
        .dropdown-menu  {
            margin-left: auto;
            margin-right: 0px;
            right: 4px;
            margin-top: 14px;
            padding: 16px;
            background: #FFFFFF;
            border-radius: 8px;
            width: 286px !important;
            border: none;
            height: 159px;
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
        
            .header-company-name-wrapper{
                .company-name{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #000000;
                    margin-bottom: 4px;
                }
                .email{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000000;
                    opacity: 0.6;
                    margin-bottom: 24px;
                }
            }

            .logout{
                width: 100%;
            }
            #logout-btn{
                padding: 10px 100px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF !important;
                background: #7A0D41;
                border-radius: 4px;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.breadcrumb-wrapper{
    padding: 16px;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    .breadcrumb{
        padding: 0;
        margin: 0;
        background-color: #FFFFFF;
        li{
            a{  
                &.breadcrumb-heading{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 150%;
                    color: #27272A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                img{
                    width: 20px;
                    height: 20px;
                    margin-left: 8px;
                    margin-right: 8px;
                }
                &.active{
                    color: #71717A;
                }

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.mobile-breadcrumb-wrapper{
    padding: 16px;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    height: 56px;
    display: none;
    align-items: center;
    .mobile-breadcrumb{
        padding: 0;
        margin: 0;
        background-color: #FFFFFF;
        list-style-type: none;
        li{
            a{  
                &.breadcrumb-heading{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 150%;
                    color: #27272A;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                
                img{
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }
                &.active{
                    color: #71717A;
                }

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}




.footer-wrapper{
    width: 100%;
    background-color: #FFFFFF;
    

    .footer-section{
        padding-bottom: 29px;
        border-bottom: 1px solid rgba(51,51,51, 0.2);
        display: flex;
        justify-content: space-between;
        .footer-lists{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .footer-list-heading{
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #333333;
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                img{
                    width: 38px;
                    height: 43px;
                    margin-right: 8px;
                }
            }
            .footer-list-item{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                margin: 8px 0px;

                &:hover{
                    text-decoration: none;
                }

                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
            }

            .input-group{
                width: 392px;
                height: 52px;
                .form-control{
                    height: 100%;
                    background: #FFFFFF;
                    border: 1px solid #8A0E49;
                    box-sizing: border-box;
                    border-radius: 30px 0px 0px 30px;
                    padding-left: 24px;
                    &::placeholder{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #929292;
                        margin: 0px 10px;
                    }
                }

                .input-group-append{
                    width: 132px;
                    height: 52px;
                    background: #8A0E49;
                    border-radius: 0px 30px 30px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .btn{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FFFFFF;
                        
                    }
                }
            }
        }
    }

    .copyright-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 36px 178px 35px 177px;
        .copyright-heading{
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #333333;
                mix-blend-mode: normal;
                opacity: 0.5;
                margin-bottom: 0;
            }
        }

        .social-icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 173px;
            margin-bottom: 0;
            .icon-list-item{
                list-style-type: none;
                width: 37px;
                height: 37px;
                img{
                    width: 37px;
                    height: 37px;
                    object-fit: cover;
                }
            }
        }
    }
}


.red-btn{
    padding: 12px 32px;
    background: #8A0E49;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 24px;
    border: 0;
    &:hover{
        text-decoration: none;
        color: #fff;
        background: #8A0E49;
    }
    &:visited{
        color: #fff;
    }
    &:focus{
        color: #fff;
        outline: none;
    }
}

.white-btn{
    border: 1px solid #8A0E49;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 32px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #8A0E49;
    background-color: #fff;
    
    &:hover{
        text-decoration: none;
        color: #fff;
        background-color: $primary-color;
        border: 1px solid #8A0E49;
    }
    // &:visited{
    //     color: #8A0E49;
    // }
    // &:focus{
    //     color: #8A0E49;
    //     outline: none;
    // }
}


.green-hightlight{
    padding: 8px 10px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #27AE60;
    background: #E0FFE5;
    border-radius: 4px;
    margin-bottom: 30px;
}


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}







@media screen and (max-width: 768px){


    header{
        .navbar-toggler{
            display: block;
        }

        .logo{
            margin-left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .top_nav{
            display: none;
        }
    }

    .mobile-breadcrumb-wrapper{
        display: flex;
    }

    .f-p{
        padding: 32px;
    }
    .footer-wrapper{
        .footer-section{
            flex-direction: column;
            border-bottom: 0;
            .footer-lists{
                margin-bottom: 32px;
                .input-group{
                    width: 100%;
                }
            }
        }

        .copyright-section{
            padding: 0 32px 32px 32px;
            flex-direction: column-reverse;
            align-items: flex-start;
            .social-icons{
                margin-bottom: 32px;
            }
        }
    }
    
}


.blog-details-container{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 16px 15px 32px 15px;
    p{
        padding: 16px;
    }
}