*{
font-family: 'Source Sans Pro', sans-serif;
color: #27272A;
font-size: 14px;

}
div,h1,h2,h3,h4,h5,h6,p,a,span{
    margin: 0px;
}

.button-sec {
    button {
        border: none;
        background: #8a0e49;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
        a {
    background: #8a0e49;
    color: #fff;
    display: inline-block;
   
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
    }

    &.right-align-btn{
        text-align: right;
    }
}


.welcome-screen {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    .button-sec {
        margin: 75px 0 0 0;
    }
}

.col-md-3.left_col {
    background: #fff;
}

.purple-btn {
    padding: 9px 18px !important;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: none;
    margin: 20px 0 0 0;
    background: #7A0D41;
    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
    border-radius: 4px;

    &:hover{
        opacity: .9;
    }

    &.white-bttn {
        margin: 0 !important;
        border: solid 1px #7A0D41 !important;
        color: #7A0D41 !important;
        background: #fff !important;
    }
}

.white-bttn {
    margin: 0 !important;
    border: solid 1px #7A0D41 !important;
    color: #7A0D41 !important;
    background: #fff !important;
}
.b-none{
    border: none !important;
}

.table-responsive .dataTables_length, .table-responsive .dataTables_filter, .table-responsive .dataTables_info, .table-responsive .dataTables_paginate{
    display: none;
}


.search-panel input::-webkit-input-placeholder { /* Edge */
    color: #3F3F46;
  }
  
  .search-panel input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3F3F46;
  }
  
  .search-panel input::placeholder {
    color: #3F3F46;
  }

  td.green-txt button {
    color: #27AE60;
    background: rgba(39, 174, 96, 0.1);
    border-radius: 2px;
    padding: 3px 10px;
    border: none;
}

td .actions button , td .actions a{
    margin: 0 3px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
ul.pagination {
  margin:0;

  li.paginate_button{

  &.active a {
    background: #FBBF24 !important;
    display: inline-block;
    color: #333;
    padding: 5px 10px !important;
}

a{
    color: #333;  
    padding: 5px 12px !important;
}
}
}
}



.form-field{
    max-width: 48%;
    flex: 0 0 48%;
    margin: 0 10px 30px;

    @media screen and (max-width: 1024px){
        max-width: 47%;
        flex: 0 0 47%;
    }

    @media screen and (max-width: 767px){
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0 30px;
    }

    label{
        width: 100%;
        color: #27272A;
        font-size: 14px;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    select{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    textarea{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
        height: 130px;
        resize: none;
    }

}


.form-field-full{
    flex: 100%;
    max-width: 100%;
    margin: 0 0 15px 0;

    label{
        width: 100%;
        color: #27272A;
        font-size: 14px;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    select{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    textarea{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
        height: 90px;
        resize: none;
    }


    &.specification-sec {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        .field-inner {
            width: 80%;
        }
        button{
            background: #333;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 20px;
            margin: 0;
            border: none;
            border-radius: 4px;
        }
    }
}

.common-button{
display: flex;
justify-content: flex-end;

button{
    max-width: 130px;
    width: 100%;
    margin: 0 0 0 15px;
}
}


.red-txt{
    color: #EB5757;
    font-size: 13px !important;
    font-weight: normal;
    border-radius: 2.14892px;
    padding: 3px 10px;
    background: rgba(235, 87, 87, 0.1);
border: 0.5px solid #EB5757;
}

.green-txt{
    color: #27AE60;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(39, 174, 96, 0.1) !important;
    // border: 0.5px solid #27AE60;
    border-radius: 2px;
    text-align: center;
}

.blue-txt{
    color: #4AB3FB;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(74, 179, 251, 0.1);
    border-radius: 2px;
    text-align: center;
}

.orange-txt{
    color: #FFB800;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(255, 184, 0, 0.1);
    border-radius: 2px;
    text-align: center;
}
.container-fluid  > .full-width-back-btn {
    margin-left: -15px;
    margin-right: -15px;
}
.full-width-back-btn{
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    .page-back-btn{
       
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #111827;
        text-decoration: none;
        i{
         margin-right: 8px;   
        }
    }
}
.modal{
    .modal-dialog{
        max-width: 370px;
        .modal-content{
            border: none;
            padding: 18px;
            .modal-header{
                padding: 0px;
                border: none;
                button{
                    opacity: 1;
                    height: 10px;
                    width: 10px;
                    margin: 0px;
                }
              
            }
            .modal-body{
                padding: 0px;
                margin-bottom: 35px;
                .title{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    h4{
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 21px;
                        color: #000000;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                     opacity: 0.5;
                }
            }
            .modal-footer{
                border: none;
                padding: 0px;
                display: flex;
                justify-content: flex-end;
                button{
                    padding: 10px 35px;
                    margin: 0px;
                    border-radius: 4px;
                    
                }
                .close-btn{
                    color: #7A0D41;
                    background-color: transparent;
                }
                .purple-btn{
                    margin-left: 16px;
                    max-width: 118px;
                }
            }
        }
    }
}


