
@font-face {
  font-family: 'Poppins', sans-serif;
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*login css*/

.Logn-logo img {
    width: 76px;
}

header.login_HEADER
{
    box-shadow: 3px 2px 18px 0px rgba(203, 210, 215, 0.4);
    padding: 10px 0px;
}

section.login_FORM {
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 85px 0px 0px;
    height: auto; font-family: 'Poppins', sans-serif;
    background-size: 100%;
}

section.login_FORM h2 {
  font-size: 50px;
  background: -webkit-linear-gradient(#610f41, #c1206c);
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

section.login_FORM input.form-control, section.login_FORM select.form-control {
    border-bottom: 1px solid #b6bfc5;
    height: 55px;
    box-shadow: none;
    border-top: 0px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 37px;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    color: #636c71;
    border-right: 0px;
}

section.login_FORM form {
    width: 410px;
    margin: 60px auto 30px;
}

section.login_FORM form .form-group input.form-control::placeholder {
    color: #99a5ad;    
    font-weight: 300;
    font-size: 18px;
}

section.login_FORM .btn-primary {
    color: #fff;
    background-color: #00b3a7;
    border-color: #00b3a7;
    height: 55px;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
}

section.login_FORM form i.fa {
    font-size: 22px;
    color: #b1bbc1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 0px solid;
    height: 20px;
    line-height: 17px;
}
section.login_FORM form .form-group
{
    position: relative;     margin-bottom: 45px;
    float: left;
    width: 100%;
}

section.login_FORM form i.fa.fa-lock {
    font-size: 27px;
}
section.login_FORM form .form-group.trouble_text {
    font-size: 16px;
    color: #51a2d5;
    text-align: center;
    margin-bottom: 60px;
    display: block;
}

section.login_FORM .form-group p {
    font-size: 22px;
    color: #72848f;
    font-weight: 300;
}

section.login_FORM .form-group p a {
    color: #8a0e49;
    font-weight: 600;
}

section.login_FORM .form-group.signup_a {
    text-align: center;
        margin-bottom: 60px;
}
footer.login_FOOTER {
    height: 14px;
    float: left;
    width: 100%;
    background-color: #8a0e49;
}

section.login_FORM.singup
{
    background-image: url(../images/sign-up-bg.png);
}
.sub-title
{
    font-size: 24px;
    color: #84939b;     
    font-weight: 400;
    margin-top: 14px;
}

section.login_FORM.singup form {
    width: 871px;
    }

    .upload_pic input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100px;
    cursor: pointer;
    opacity: 0;
    z-index: 9;
}
.upload_pic {
    position: relative;
    margin: auto;
    width: 109px;
    height: 109px;
    cursor: pointer;
}
.profile_pic.text-center {
    color: #9fa6aa;
    font-size: 18px;
    font-weight: 400;
}
.profile_pic
{
    position: relative;
}

.profile_pic:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 41%;
    background-color: #e4e7e9;
    left: 0px;
    top: 56px;
    margin: auto;
}

.profile_pic:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 41%;
    background-color: #e4e7e9;
    right: 0px;
    top: 56px;
    margin: auto;
}

input.btn.btn-primary.width-415
{
    width: 415px; margin: auto;
}

section.login_FORM.verify-mail {
    height: 670px;
        background-image: url(../images/vetify-bg.png);
}

.verify-mail p.h3 {
    font-size: 36px;
    color: #3a4145;
    font-weight: 500;
    text-align: center;
    margin: 30px 0px 55px;
}