.service-container{
    width: 100%;
    padding: 60px 135px;
    .add-service{
        padding: 24px 44px;
        background: #FFFFFF;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        .row{
            .col-lg-6{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        
        .service-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;
            h1{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 150%;
                color: #27272A;
                
            }

            .edit-delete-service{
                display: flex;
                align-items: center;
                button{
                    width: 32px;
                    height: 32px;
                    border: 0;
                    margin-left: 16px;
                    background-color: transparent;
                    p{
                        display: none;
                    }
                    &:focus{
                        outline: none;
                    }

                    img{
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
        

        .profile-img-upload{
            margin-bottom: 42px;
            position: relative;
            width: 107px;
            height: 107px;
            .upload-img{
                width: 107px;
                height: 107px;
                border-radius: 50%;
                cursor: pointer;
                .uploader {
                    opacity: 0;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .profileImg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    box-sizing: border-box;
                    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
                }

                .camera-img{
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    right: 0;
                    bottom: 2px;
                    img{
                        width: 36px;
                        height: 36px;
                    }
                }
            } 
        }

        .btn-wrapper{
            text-align: right;
        }
    }
}

.form-group{
    margin-bottom: 41px;

    .error{
        color: red !important;
    }
    label{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #27272A;
    }
    .form-control{
        background: #F8F8F8;
        padding: 8px;
        height: 40px;
        border: 0;
        border-bottom: 1px solid #A1A1AA;
        border-radius: 0;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;

        &:focus{
            box-shadow: none;
        }

        &.custom-h{
            height: 112px;
        }
    }
    textarea{
        resize: none;
    }
}


@media screen and (max-width: $screen_768px){

    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    
    .breadcrumb-wrapper{
        display: none;
    }

    #service-page{
        .service-container{
            padding: 0;
            background: #F7F7F7;
            .add-service{
                box-shadow: none;
                border-radius: 0;
                background: #F7F7F7;
                padding: 24px 16px;
                margin-bottom: 70px;
                .service-heading{
                    margin: 8px 0 16px 0;
                    padding: 0 14px;
                    h1{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 150%;
                        color: #27272A;
                    }

                    .edit-delete-service{
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-evenly;
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        z-index: 10;
                        width: 100%;
                        padding: 16px 12px;
                        background: #fff;
                        button{
                            background: #7A0D41;
                            box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
                            border-radius: 4px;
                            border: 0;
                            color: #FFFFFF;
                            width: 45%;
                            height: 44.8px;
                            margin-left: 0;
                            img{
                                display: none;
                            }
                            p{
                                display: block;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 150%;
                                text-align: center;
                                color: #FFFFFF;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .profile-img-upload{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 18px;
                    .upload-img{
                        position: relative;
                    }
                }

                .input-section{
                    .form-group{
                        .form-control{
                            background: #FFFFFF;
                        }
                    }
                }

                .btn-wrapper{
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                    width: 100%;
                    padding: 16px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    text-align: center;

                    button{
                        width: 45%;
                    }

                    .white-btn{
                        background: #7A0D41;
                        box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
                        border-radius: 4px;
                        border: 0;
                        color: #FFFFFF;
                    }
                    .red-btn{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}