.add-rate-page{
    .input-section{
        .form-group{
            position: relative;
            .input-group{
                #amount-error{
                    position: absolute;
                    left: 0;
                    bottom: -30px;
                }
            }
            .input-group-text{
                // position: absolute;
                // right: 15px;
                // top: 55%;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #27272A;
                background: #F8F8F8;
                border: 0;
                border-bottom: 1px solid #A1A1AA;
                border-radius: 0;
            }
        }
    }
}