.portfolio-container{
    padding: 69px 293px 0 293px;
    margin-bottom: 125px;
    .portfolio-upload-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        h1{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 64px;
            color: #27272A;
            margin-bottom: 40px;
            margin-top: 24px;
        }

        .profile-img-upload{
            margin-bottom: 40px;
            position: relative;
            width: 381px;
            height: 341px;
            cursor: pointer;
            .upload-img{
                width: 381px;
                height: 341px;
                cursor: pointer;
                background-image: url('../../assets/images/icons/default-large.svg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-sizing: border-box;
                }

                .uploader {
                    opacity: 0;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                }

                .profileImg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-sizing: border-box;
                }
            } 
        }

        .red-btn{
            margin: 0 0 24px 0;
            background: #7A0D41;
            width: 183px;
            height: 48px;
            box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
            border-radius: 4px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}


@media screen and (max-width: $screen_768px){
    .portfolio-container{
        padding: 0;
        .portfolio-upload-section{
            box-shadow: none;   
            padding: 0 28px;

            .input-section{
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: $screen_568px){
    .portfolio-container{
        .portfolio-upload-section{
            h1{
                width: 100%;
                font-size: 24px;
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .profile-img-upload{
                width: 100%;
                border-radius: 8px;
                .upload-img{
                    width: 100%;
                    border-radius: 8px;

                    #image{
                        border-radius: 8px;
                    }
                }
            }

            .red-btn{
                width: 100%;
            }

            .input-section{
                width: 100% !important;
            }
        }
    }

}