.blog-page{
    .blog-container{
        width: 48%;
        height: 341px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 32px;
        // margin: 0 15px 32px 15px;
        p{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #000000;
            padding: 16px 14px;
        }
    
        .red-btn{
            width: 160px;
            height: 48px;
            background: #8A0E49;
            border-radius: 40px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 14px;
            margin-left: 0;
        }

        .remove{
            width: 100%;
            height: 66.43px;
            background: rgba(243, 242, 242, 0.6);
            border-radius: 0px 0px 8px 8px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 150%;
            color: #27272A;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
        }

        &:hover{
            .remove{
                opacity: 1;
                transition: 0.5s;
            }
        }
    }


    .blog-details-container{
        width: 100%;
        height: auto;
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        margin: 0 15px 32px 15px;
        p{
            padding: 16px;
        }
    }
}



@media screen and (max-width: $screen_768px){
    .blog-page{
        .blog-container{
            height: auto;
        }

        .blog-details-container{
            margin: 0 0 32px 0;
        }
    }
}


@media screen and (max-width: $screen_568px){
    .blog-page{
        .blog-container{
            height: auto;
            width: 100%;
        }
        .blog-details-container{
            margin: 0 0 16px 0;
        }
    }
}

