.creators-banner{
    width: 100%;
    height: 354px;
    margin-top: 64px;
    margin-bottom: 48px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .edit-profile{
        position: absolute;
        bottom: 18px;
        right: 95px;
        z-index: 20;
        a{  
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #767676;
            display: flex;
            align-items: center;

            &:hover{
                text-decoration: none;
            }

            img{
                width: 17px;
                height: 17px;
                margin-right: 10px;
            }
        }
    }
}

.creators-profile-page{
    padding-left: 141px;
    padding-right: 140px;
    margin-bottom: 125px;

    .creators-profile-wrapper{
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: -180px;
        .card{
            align-items: center;
            border: 0;
            .profile-img{
                width: 193px;
                height: 193px;
                border: 10px solid #FFFFFF;
                box-sizing: border-box;
                box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                margin-top: 24px;
                margin-bottom: 32px;
                background-color: #fff;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .card-body{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .card-text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .name{
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 30px;
                        text-align: center;
                        color: #000000;
                        margin-bottom: 8px;
                    }
                    .work-profile{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: center;
                        color: #27272A;
                        opacity: 0.5;
                        margin-bottom: 8px;
                    }

                    .work-place{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: center;
                        color: rgba(39,39,42,0.5);
                        margin-bottom: 24px;
                    }
                }

                .social-icons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 32px;
                    width: 100%;
                    margin: 0 auto 32px auto;
                    border-bottom: 1px solid rgba(193, 193, 193, 0.15);
                    a{
                        width: 33px;
                        height: 33px;
                        display: inline-block;
                        margin-right: 16px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .description{
                    width: 100%;
                    margin: 0 auto 24px auto;
                    padding: 0 47px 32px 48px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    color: #27272A;
                    border-bottom: 1px solid rgba(193, 193, 193, 0.15);
                }

                .profile-links{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-bottom: 24px;
                    .red-btn{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #FFFFFF;
                        border-radius: 40px;
                    }
                }

                .services{
                    padding: 0 26px;
                    width: 100%;
                    h2{
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;
                        color: #27272A;
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }
                    .service-list{
                        display: flex;
                        flex-direction: column;
                        .list-item{
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                            margin-bottom: 24px;
                            position: relative;
                            .img-wrap{
                                width: 48px;
                                height: 48px;
                                img{
                                    width: 48px;
                                    height: 48px;
                                    object-fit: cover;
                                }
                            }

                            h1{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                color: #27272A;
                            }
                            
                            p{
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18px;
                                color: #27272A;
                                margin-bottom: 0;
                            }

                            .delete-btn{
                                border: 0;
                                background: transparent;
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                position: absolute;
                                top:0;
                                right: 0;
                                opacity: 0;
                                img{
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;
                                }

                                &:focus{
                                    outline: none;
                                }
                            }

                            &:hover{
                                .delete-btn{
                                    opacity: 1;
                                    transition: 0.3s;
                                }
                            }
                        }

                        .add-service{
                            width: 100%;
                            height: 44px;
                            border: 1px dashed #767676;
                            box-sizing: border-box;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: center;
                            color: #272727;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 24px;
                                height: 24px;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }

       
    }

    .creators-details-wrapper{
        .my-profile{
            margin-bottom: 48px;

            .portfolio{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 48px;
                .title{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 48px;
                    line-height: 64px;
                    color: #27272A;
                }

                .nav{
                    .nav-item{
                        margin-left: 16px;
                        .nav-link{
                            padding: 4px 16px;
                            border-radius: 8px;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #000000;

                            &.active{
                                background-color: $primary-color;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }

            // .tab-content{
            //     .image-upload-section{
            //         display: flex;
            //         flex-wrap: wrap;
            //         align-items: center;
            //         // padding: 0 100px;

            //         .img-item{
            //             width: 141px;
            //             height: 104px;
            //             display: inline-block;
            //             margin: 0 0 24px 24px;
            //             position: relative;
            //             .imageThumb {
            //                 width: 141px;
            //                 height: 104px;
            //                 object-fit: cover;
            //                 cursor: pointer;
            //             }
            //             .remove {
            //                 width: 100%;
            //                 height: 25px;
            //                 background: rgba(255, 255, 255, 0.6);
            //                 text-align: center;
            //                 cursor: pointer;
            //                 font-family: Source Sans Pro;
            //                 font-style: normal;
            //                 font-weight: normal;
            //                 font-size: 14px;
            //                 line-height: 150%;
            //                 color: #27272A;
            //                 position: absolute;
            //                 bottom: 0;
            //                 opacity: 0;
            //                 transition: 0.5s;
            //                 display: flex;
            //                 align-items: center;
            //                 justify-content: center;
            //             }

            //             &:hover{
            //                 .remove{
            //                     opacity: 1;
            //                     transition: 0.5s;
            //                 }
            //             }
            //         }

            //         .upload-field{
            //             width: 141px;
            //             height: 104px;
            //             background: #FFFFFF;
            //             border: 1px dashed #767676;
            //             box-sizing: border-box;
            //             display: flex;
            //             flex-direction: column;
            //             align-items: center;
            //             justify-content: center;
            //             margin-bottom: 0;
            //             cursor: pointer;
            //             margin: 0 0 24px 24px;
            //             input{
            //                 display: none !important;
            //             }

            //             p{
            //                 margin-bottom: 0;
            //             }
            //             input[type="file"]{
            //                 display: block;
            //             }
            //         }
            //     }
            // }
                
            .tab-content{
                .tab-pane{
                    .row{
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-left: unset;
                        margin-right: unset;
                    }
                    .add-image{
                        width: 48%;
                        height: 341px;
                        background: #FFFFFF;
                        border: 1px dashed #767676;
                        // background-image: url('../../assets/images/dotted-img.png');
                        // background-size: contain;
                        // background-position: center;
                        // background-repeat: no-repeat;

                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0;
                        cursor: pointer;
                        border-radius: 8px;
                        // margin: 0 15px;

                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                        color: #272727;
                        margin-bottom: 0;
                        img{
                            width: 24px;
                            height: 24px;
                            margin-bottom: 14px;
                        }
                    }
                }
            }

            .image-container{
                width: 48%;
                height: 341px;
                border-radius: 8px;
                margin-bottom: 32px;
                position: relative;
                // padding: 0 15px;
                .imageThumb {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
                .remove {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 66px;
                    background: rgba(255, 255, 255, 0.6);
                    border-radius: 0px 0px 8px 8px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 150%;
                    color: #27272A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 100;
                    cursor: pointer;
                    opacity: 0;
                }

                &:hover{
                    .remove{
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .image-overlay{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 66px;
                    background: rgba(255, 255, 255, 0.6);
                    border-radius: 0px 0px 8px 8px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 150%;
                    color: #27272A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 100;
                    cursor: pointer;
                    opacity: 0;
                }

                &:hover{
                    .image-overlay{
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
        }

        .rate{
            .title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 64px;
                color: #27272A;
                margin-bottom: 48px;
            }

            .rate-row{
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .add-rate-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #FFFFFF;
                border: 1px dashed #767676;
                // background-image: url('../../assets/images/dotted-img.png');
                // background-size: contain;
                // background-position: center;
                // background-repeat: no-repeat;

                box-sizing: border-box;
                border-radius: 8px;
                height: 450px;
                width: 48%;
                margin-bottom: 32px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #272727;
                img{
                    width: 24px;
                    height: 24px;
                    margin-bottom: 14px;
                }
                
            }

            .product-rate{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                border-radius: 0px 0px 8px 8px;
                height: 450px;
                position: relative;
                width: 48%;
                border-radius: 0px 0px 8px 8px;
                margin-bottom: 32px;
                .product-name{
                    font-weight: normal;
                    font-size: 20px;
                    // line-height: 64px;
                    color: #27272A;
                    text-align: center;
                    margin: 32px 0 16px 0;
                }
                .product-price{
                    font-weight: bold;
                    font-size: 24px;
                    color: #27272A;
                    margin: 0 0 20px 0;
                }
                .product-details{
                    margin-bottom: 16px;
                    width: 100%;
                    padding: 0 21px 0 32px;
                    li{
                        list-style-type: none;
                        display: flex;
                        align-items: baseline; 
                        margin-bottom: 13px;

                        img{
                            width: 14px;
                            height: 16px;
                            margin-right: 17px;
                        }
                        p{
                            font-weight: normal;
                            font-size: 14px;
                            color: #27272A;
                            margin-bottom: 0;
                        }
                    }
                }

                .profile-links{
                    margin-bottom: 24px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    background: #fff;
                    .red-btn{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #FFFFFF;
                        border-radius: 40px;
                    }
                }
            }
        }


    }
}

.upload-field{
    width: 45%;
    height: 341px;
    background: #FFFFFF;
    border: 1px dashed #767676;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 15px;
    input{
        display: none !important;
    }

    img{
        width: 24px;
        height: 24px;
        margin-bottom: 14px;
    }

    p{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #272727;
        margin-bottom: 0;
    }

    input[type="file"]{
        display: block;
    }
}

#delete-image{
    .modal-content{
        background: #FFFFFF;
        box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        .modal-header{
            border: 0;
            align-items: center;
            justify-content: center;
            padding: 24px 32px;
            .modal-title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                color: #333333;
            }
        }

        .modal-footer{
            border: 0;
            padding: 0 32px 24px 32px;
            justify-content: center;
            button{
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

/* The Modal (background) */
.popup {
    display: none;
    position: absolute;
    z-index: 100;
    // margin-top: 80px;
    // margin-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    // height: 989px;
    // background-color: #fff;
    // background: rgba(0, 0, 0, 0.66);
    padding: 150px 175px 119px 175px;
    // margin-left: 24px;

    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 20;
        &:hover, &:focus{
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 0;
        
        /* Hide the slides by default */
        .mySlides {
            display: none;
            width: 100%;
            height: 805px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
        }

        /* Next & previous buttons */
        .prev {
            cursor: pointer;
            position: absolute;
            bottom: -40px;
            left: 47%;
            width: 30px;
            height: 30px;
        }


        .next{
            cursor: pointer;
            position: absolute;
            bottom: -40px;
            right: 47%;
            width: 30px;
            height: 30px;
        }
    }
}

.model-open{
    overflow-y: hidden;
}


.popup-back-drop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.66);
    display: none;
}


@media screen and (max-width: $screen_768px){

    .creators-banner{
        margin-bottom: 0;
        height: 165px;
        .edit-profile{
            right: 50px;
        }
    }
    .creators-profile-page{
        padding: 0;
        .creators-profile-wrapper{
            margin-top: 0;
            box-shadow: none;
            .card{
                .profile-img{
                    margin-top: 40px;
                }

                .card-body{
                    padding-top: 0;

                    .social-icons{
                        border-bottom: 0;
                        a{
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }

                    .description{
                        border-bottom: 0;
                        margin-bottom: 0;
                    }

                    .services{
                        padding: 0;
                    }
                }
            }
        }

        .creators-details-wrapper{
            padding: 0 16px;
            .my-profile{
                .portfolio{
                    .title{
                        font-size: 24px;
                        line-height: unset;
                        margin-bottom: 0;
                    }
                    .nav{
                        .nav-item{
                            margin-left: 0;
                        }
                    }
                }
            }

            .rate{
                .title{
                    font-size: 24px;
                    line-height: unset;
                    margin-bottom: 16px;
                }
            }
        }
    }

    #imgModal{
        display: none !important;
    }

    .popup-back-drop{
        display: none !important;
    }
}




@media screen and (max-width: $screen_568px){

    .creators-banner{
        .edit-profile{
            right: 10px;
            bottom: 10px;
        }
    }
    .creators-profile-page{
        .creators-details-wrapper{
            padding: 0 16px;
            .my-profile{
                .portfolio{
                    .title{
                        font-size: 24px;
                        line-height: unset;
                        margin-bottom: 0;
                    }
                    .nav{
                        .nav-item{
                            margin-left: 0;
                        }
                    }
                }

                .tab-content{
                    .tab-pane{
                        .image-container{
                            width: 100%;
                            margin-bottom: 16px;
                        }
                        .add-image{
                            width: 100%;
                        }
                    }
                }
            }

            .rate{
                .rate-row{
                    .product-rate{
                        width: 100%;
                        margin-bottom: 16px;
                    }
                    .add-rate-card{
                        width: 100%;
                        margin-bottom: 16px; 
                    }
                }
            }            
        }
    }


    #imgModal{
        display: none !important;
        padding: 16px;
        top: 100px;
        width: 100%;
        height: 323px;

        .modal-content{
            .mySlides{
                height: 323px;
            }

            .prev{
                bottom: -55px;
                left: 35%;
            }

            .next{
                bottom: -55px;
                right: 35%;
            }
        }
    }

    .popup-back-drop{
        display: none !important;
    }


    #delete-image{
        .modal-content{
            .modal-header{
                padding: 16px;
                .modal-title{
                    font-size: 16px;
                }
            }

            .modal-footer{
                padding: 16px;
                display: flex;
                justify-content: center;
                .red-btn{
                    margin-left: 0;
                }
            }
        }
    }

    
}