.browse-image{
    width: 100%;
    padding: 18px 135px 30px 135px;
    .cover-img-upload{
        position: relative;
        width: 100%;
        height: 227px;
        background: rgba(228,228,231,0.5);
        padding: 16px;
        .upload-img{
            width: 100%;
            height: 100%;
            // background: rgba(228,228,231,0.5);
            margin: 0;
            border: 2px dashed rgba(0,0,0,0.1);
            box-sizing: border-box;
            border-radius: 4px;
            position: relative;
            .cover-uploader {
                opacity: 0;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
            }

            .profileImg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .drag-drop{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 35%;
                left: 45%;
                z-index: -1;
                img{
                    width: 22px;
                    height: 18.5px;
                    margin-bottom: 6.5px;
                }
                p{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10.4042px;
                    line-height: 135%;
                    letter-spacing: -0.12485px;
                    color: #9CA3AF;
                }

                .add-cover{
                    display: none;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
                    img{
                        width: 24px;
                        height: 25px;
                        margin-right: 4px;
                        margin-bottom: 0;
                    }
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: #9CA3AF;
                }
            }

            .change-cover{
                width: 200px;
                height: 36px;
                background: #FFFFFF;
                border-radius: 8px;
                padding: 6px 16px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #8A0E49;
                position: absolute;
                right: 16px;
                bottom: 16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                img{
                    width: 18px;
                    height: 18px;
                    margin-right: 6px;
                }
            }
        } 
    }
}

.edit-profile{
    padding-top: 0;

    .profile-img-upload{
        position: unset !important;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;

        .upload-img{
            position: relative;
        }
    }
}



@media screen and (max-width: $screen_768px){
    .browse-image{
        background: #F7F7F7;
        padding: 46px 16px 27px 16px;

        .cover-img-upload{
            .upload-img{
                .drag-drop{
                    z-index: 1;
                    top: 40%;
                    left: 40%;
                    img, p{
                        display: none;
                    }
                    .add-cover{
                        display: block;
                        img{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $screen_568px){
    .browse-image{
        .cover-img-upload{
            .upload-img{
                .drag-drop{
                    z-index: 1;
                    top: 40%;
                    left: 30%;
                }
            }
        }
    }
}