#hire-me-page-wrapper{
    width: 80%;
    margin: 50px auto 60px auto;

    .post-heading{
        padding: 0px 32px 45px 32px;
    }
    .post-input-container{
        padding: 0 32px 0px 32px;

        .c-text{
            height: auto !important;
            resize: none;
        }
    }
}

.post-container{
    width: 80%;
    margin: 50px auto 60px auto;
    padding-top: 24px;
    background: #FFFFFF;

    &.custom-style{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin: 32px 24px 156px 24px;
    }
    .post-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 32px 40px 32px;
        h3{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
        }
    }


    .post-input-container{
        padding: 0 32px 0px 44px;
        .row{
            justify-content: space-between;
            .col-sm-6, .col-lg-6{
                flex: 0 0 47%;
            }
        }
        .input-section{
            .form-group{
                margin-bottom: 41px;
                label{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: #27272A;
                    span{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #27272A;
                        opacity: 0.7;
                    }
                }
                .form-control{
                    background: #F8F8F8;
                    padding: 8px;
                    height: 40px;
                    border: 0;
                    border-bottom: 1px solid #A1A1AA;

                    &.custom-h{
                        height: 75px;
                    }
                    &.custom-form{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start !important;
                        background: #fff ;
                    }
                }
            }
        }
    }

    .btn-wrapper{
        text-align: right;
        .red-btn{
            margin-right: 32px;
            margin-bottom: 32px;
        }
    }
}


@media screen and (max-width: 768px){
    #hire-me-page-wrapper{
        width: 90%;
        margin: 16px auto;
        padding-top: 0;

        .post-heading{
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 16px;
        }
        .post-input-container{
            padding: 16px;
        }

        .post-heading + .post-input-container{
            .row{
                flex-direction: column;
            }
        }

        .btn-wrapper{
            padding: 16px;
            .red-btn{
                width: 100%;
                margin: 0;
            }
        }
    }
}