.back-button{
    margin-top: -6px;
    button{
        background: transparent;
        border: 0;
        margin: 0;
        font-family: Noto Serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        
        img{
            margin-right: 8px;
            width: 24px;
            height: 24px;
        }

        &:focus{
            outline: 0;
            border: 0;
        }  
    }
}

#mobile-btn{
    display: none;
}

.login {
    background: #7a0e42;
    min-height: 100vh;
    padding-top: 40px;

    .login-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 0 0;
        flex-wrap: wrap;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            min-height: 100vh;
            justify-content: center;
            min-height: calc(100vh - 120px);
            min-height: -webkit-calc(100vh - 120px);
        }
        .login-left {
            flex: 0 0 50%;
            max-width: 50%;
            text-align: center;
            overflow: hidden;
            height: calc(100vh - 120px);
            margin-top: 25px;
            background: url(../images/login-img.svg), url(../images/icons/circle.svg);
            background-size:300px, 440px;
            background-repeat: no-repeat, no-repeat;
            background-attachment: unset;
            background-position: center center;


            @media screen and (max-width: 1024px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media screen and (max-width:800px) {
                flex: 0 0 100%;
                max-width: 100%;
                order: 2;
                display: none;
            }
            img {
                width: auto;
                max-height: 100vh;
                height: 100%;
                @media screen and (max-width: 1024px) {
                    // width: 100%;
                    // height: auto;
                }
            }

        }
        .login-right {
            width: 100%;
            text-align: center;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 120px);
            min-height: -webkit-calc(100vh - 120px);
            display: flex;
            flex-direction: column;
            flex: 0 0 50%;
            max-width: 50%;
            @media screen and (max-width: 800px) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                margin: 10px 0 0 0;
            }
            .logo {
                text-align: center;
                width: 100%;
                height: 119px;
                margin: 0 0 50px 0;
                img {
                    width: 146px;
                    height: 119px;
                    @media screen and (max-width: 767px) {
                    width: 106px;
                    height: 85px;
                }
            }
            }
            .login-section {
                background:rgba(255, 255, 255, .99);
                padding: 40px 80px; 
                border-radius: 8px;
                margin: 5px auto 0;
                min-height: 400px;
                width: 480px;
                @media screen and (max-width: 800px) {
                    margin: 35px auto 30px;
                    width: 100%;
                    max-width: 430px;
                }

                @media screen and (max-width: 767px) {
                    margin: 15px auto 10px;
                }

                h3 {
                    font-size: 32px;
                    font-weight: 600;
                    margin: 0 0 5px 0;
                    text-align: left;
                    &.left-align {
                        text-align: left;
                        font-size: 24px;
                        line-height: 34px;
                    }
                }

                p{
                    text-align: left;
                    font-size: 18px;
                    color: #6B7280;
                    font-weight: 400;
                }
                button {
                    padding: 15px 18px !important;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    padding: 10px;
                    font-weight: 600;
                    max-width: 100%;
                    width: 100%;
                    border: none;
                    margin: 30px 0 13px 0;
                    background: #7A0D41;
                    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
                    border-radius: 4px;

                    &:hover{
                        opacity: .9;
                    }

                    &.white-bttn {
                        margin: 0 !important;
                        border: solid 1px #7A0D41 ;
                        color: #7A0D41 ;
                        background: transparent ;
                    }
                }
                span {
                    margin: 15px 0 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                        background: #fcfcfc;
                        /* max-width: 150px; */
                        width: 100%;
                        display: inline-block;
                        padding: 12px 10px;
                        border-radius: 25px;
                        border: solid 1px #D6D8E7;
                        &:first-child {
                            margin: 0 15px 0 0;
                        }
                        @media screen and (max-width: 580px) {  
                            max-width: 110px;
                        }
                    }
                }
                .no-account {
                    // margin: 30px 0 0 0;
                    font-size: 15px;
                    a {
                        color: #7A0D41;
                        font-weight: 600;
                    }
                }
                .login-input {
                    margin: 35px 0 15px 0;
                    input {
                        padding: 18px 14px;
                        border-radius: 15px;
                        width: 100%;
                        max-width: 95%;
                        flex: 0 0 95%;
                        &::placeholder {
                            font-size: 14px;
                            color: #a1a1a1;
                        }
                        
                    }
                    select {
                        padding: 3px 14px;
                        border-radius: 15px;
                        width: 100%;
                        // border: solid 1px #d2d2d2;
                        // margin-bottom: 15px;
                        max-width: 100%;
                        flex: 0 0 100%;
                        border: none;
                        background: transparent;
                    }
                   
                    .input-field {
                        border: solid 1px transparent;
                        &:focus,
                        &:active,
                        &:focus-within {
                            background: #fff !important;
                            border-bottom: solid 1px  #7A0D41; 

                        }
                    }
                   
                }
            }
             ::-webkit-scrollbar {
                width: 10px;
            }
            /* Track */
             ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 5px;
            }
            /* Handle */
             ::-webkit-scrollbar-thumb {
                background: #d1d1d1;
                border-radius: 5px;
            }
            /* Handle on hover */
             ::-webkit-scrollbar-thumb:hover {
                background: #d1d1d1;
            }
          
            .input-field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                margin: 0 0 30px 0;
                position: relative;

                h5{
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 4px;
                }
                input, select {
                    width: 100%;
                    padding: 5px;
                    border-bottom: solid 1px #A1A1AA;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    background: transparent;

                    &:focus{
                        border-bottom: solid 1px  #7A0D41; 
                        outline: none;
                    }
                }

                .error{
                    color: red !important;
                }

                .closed-eye{
                    width: 24px;
                    height: 24px;
                    background-image: url("../images/icons/closed-eye.svg");
                    background-position: center !important;
                    background-repeat: no-repeat;
                    background-size: 24px;
                    position: absolute;
                    right: 10px;
                    top: 40%;
                    cursor: pointer;
                    z-index: 50;
                }

                .open-eye{
                    width: 24px;
                    height: 24px;
                    background-image: url("../images/icons/open-eye.svg");
                    background-position: center !important;
                    background-repeat: no-repeat;
                    background-size: 24px;
                    position: absolute;
                    right: 10px;
                    top: 40%;
                    cursor: pointer;
                    display: none;
                    z-index: 50;
                }

                
            }
            label {
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #27272A;
                margin-bottom: 0;
            }
        }
   
    }
    .forgot-pass {
        text-align: right;
        margin: 8px 0 0 0;

        a{
            // font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #7A0D41;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .footer-login {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 5px 15px;

        @media screen and (max-width: 767px){
            flex-wrap: wrap;
            justify-content: center;
        }

        a{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.09px;
            color: #FFFFFF;
        }
    }

    .back-link {
        text-align: left;
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;

        a{
            color: #fff;
            font-weight: 600;
            font-size: 24px;
            display: flex;
            align-items: center;
            padding: 20px 30px 0 30px;
        }

        .fas::before {
            color: #fff;
            margin: 0 10px 0 0;
            display: inline-block;
        }
    }
}


@media screen and (max-width: $screen_768px){

    .login-form{
        .login-error{
            margin-top: -40px;
        }
    }  
    
    .back-button{
        width: 100%;
        height: 48px;
        button{
            height: 100%;
            font-family: Noto Serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #3F3F46;
        }
    }

    #desktop-btn{
        display: none;
    }

    #mobile-btn{
        display: flex;
    }

    .login{
        padding-top:0;
        background: none;
        .input-field{
            height: 40px;
        }
        input{
            background-color: #fff !important;
        }
        .back-link{
            background: #FFFFFF;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
            a{
                font-family: Noto Serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #3F3F46;
                padding: 20px 30px 10px 30px;
            }
        }
        .container{
            max-width: 100%;
            padding: 0;
            margin: 0;
            height: 100vh;
            overflow-y:hidden;
            .login-inner{
                height:100%;
                .login-right{
                    margin:0;
                    height: 100%;
                    .login-section{
                        max-width: 100%;
                        height:100%;
                        margin:0;
                        border-radius: 0;
                        background: #F8F8F8;
                        padding: 24px;
                        .logo{
                            img{
                                width: 120px;
                                height: 123.24px;
                            }
                        }
                        .forgot-pass{
                            margin-top: 50px;
                        }
                        .input-field{
                            margin-bottom: 48px;
                            input{ 
                                height: 40px !important;
                                padding: 8px;
                            }
                        }
                    }
                }
            }
        }
        .footer-login{ 
            display: none;
        }
    }
}

button:focus{
    outline: 0 !important;
}
