#delete-service{
    .modal-content{
        background: #FFFFFF;
        box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        .modal-header{
            border: 0;
            align-items: center;
            justify-content: center;
            padding: 24px 32px;
            .modal-title{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                color: #333333;
            }
        }

        .modal-footer{
            border: 0;
            padding: 0 32px 24px 32px;
            justify-content: center;
            button{
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: $screen_768px){
    #delete-service{
        .modal-content{
            .modal-header{
                padding: 16px;

                .modal-title{
                    font-size: 16px;
                }
            }

            .modal-footer{
                padding: 16px;
            }
        }
    }
}