.signup-container{
    padding: 0 118px;
    margin-bottom: 45px;
    margin-top: 22px;
    .login-inner{
        .login-right{
            max-width: 100%;
            flex: 0 0 100%;

            .login-section{
                width: 100%;
                padding-left: 215px;
                padding-right: 215px;
                padding-top: 34px;

                .input-field{
                    input[type='number']{
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        }
                    }
                }

                .logo{
                    margin-bottom: 22px;
                }

                .btn-wrapper{
                    text-align: left;
                    #submitbtn{
                        width: 351px;
                        height: 48px;
                        padding: 0 !important;
                    }
                }
            }
        }
    }

    .input-group{
        .contact{
            display: flex;
            position: relative;
            .input-group-prepend{
                width: 50%;
            }
            input[type='number']{
                padding-left: 16px;
            }

            #phone-error{
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
    }

    .form-group, .input-field{
        margin-bottom: 41px;
        label{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: #27272A;
        }
        .form-control{
            background: #F8F8F8;
            padding: 8px;
            height: 40px;
            border: 0;
            border-bottom: 1px solid #A1A1AA;
            border-radius: 0;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #27272A;
    
            &:focus{
                box-shadow: none;
            }
    
            &.custom-h{
                height: 112px;
            }
        }
        textarea{
            resize: none;
        }
    }
}

.select-input{
    select{
        height: 35px;
    }
}


@media screen and (max-width: $screen_768px){
    .signup-container{
        background: #F7F7F7;
        margin-top: 0;
        padding: 0;
        .login-inner{
            .login-right{
                margin: 0;
                .login-section{
                    padding: 0 24px;
                    max-width: 100%;
                    margin: 0;
                    background: #F7F7F7;
                    margin-bottom: 50px;
                    .logo{
                        margin-top: 60px;
                        margin-bottom: 60px;
                        img{
                            width: 120px;
                            height: 123.24px;
                        }
                    }
                    .input-field{
                        height: auto;
                        margin-top: 0;
                        margin-bottom: 40px;
                        label{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: #27272A;
                        }

                        input{
                            height: 40px;
                            padding: 8px;
                        }
                        select{
                            background: #fff;
                        }

                        .contact{
                            width: 100%;
                            // .input-group-prepend{
                            //     width: 20%;
                            // }
                        }
                    }

                    .btn-wrapper{
                        position: fixed;
                        bottom: 0;
                        background: #fff;
                        left: 0;
                        width: 100%;
                        padding: 16px;
                        text-align: center;
                        #submitbtn{
                            margin: 0;
                            height: auto;
                            padding: 10px !important;
                        }
                    }
                }
            }
        }
    }
}