body {
	font-family: 'Poppins Medium';
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6,ul,p {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Poppins Medium';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
	font-family: 'Poppins Light';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
	font-family: 'Poppins Regular';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'Poppins SemiBold';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Poppins-SemiBold.ttf);
}
/*************** header start **************/
header {
	background-color: #fff;
	-webkit-box-shadow: 7px 0px 9px rgb(203,210,215);
	   -moz-box-shadow: 7px 0px 9px rgb(203,210,215);
	     -o-box-shadow: 7px 0px 9px rgb(203,210,215);
            box-shadow: 7px 0px 9px rgb(203,210,215);
}
.header_logo {
	text-align: center;
}
.header_logo img {
	width: 50px;
    padding: 9px 0;
}
/*************** header end **************/
/*************** section start **************/
.sec_banner {
	background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    /*height: 100vh;*/
    background-size: cover;
    margin-top: 7px;
    padding: 110px 0px 0px;
}
.hire_me_bg {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 55%;
    margin: auto;
    -webkit-box-shadow: 1px 0px 8px rgb(203,210,215);
	   -moz-box-shadow: 1px 0px 8px rgb(203,210,215);
	     -o-box-shadow: 1px 0px 8px rgb(203,210,215);
            box-shadow: 1px 0px 8px rgb(203,210,215);
}
.hire_me_heading {
	background-color: #8a0e49;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 25px;
}
.hire_me_heading h3 {
	color: #fff;
	font-family: 'Poppins Regular';
}
.hire_form_fields {
	position: relative;
}
.hire_form_fields label,
.hire_form_fields .to,
.hire_form_fields .subject {
	position: absolute;
    top: 14px;
    color: #99a5ad;
    left: 25px;
}
.hire_form_fields .to {
	top: 64px;
}
.hire_form_fields .subject {
	top: 116px;
}
.hire_form_fields input,
.hire_form_fields .to_input,
.hire_form_fields .sub_input {
    padding: 25px 78px;
	border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #b6bfc5;
}
.hire_form_fields .to_input {
	padding: 25px 56px;
}
.hire_form_fields .sub_input {
	padding: 25px 98px;
}
.hire_form_fields input:focus {
	box-shadow: none;
	border-bottom: 1px solid #b6bfc5;
}
.hire_form_fields textarea {
	padding: 12px 27px;
	width: 100%;
	font-family: 'Poppins Light';
	resize: none;
	border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #f5f5f5;
}
.hire_form_fields textarea:focus {
	box-shadow: none;
	border-bottom: 1px solid #b6bfc5;
}
.hire_form_fields textarea::-webkit-input-placeholder {
	color: #99a5ad;
}
.send_info {
	padding: 20px 30px;
}
.send_info button {
	background-color: #00b3a7;
    letter-spacing: 2px;
    font-family: 'Poppins SemiBold';
    border-color: #00b3a7;
    padding: 7px 30px;
    -webkit-box-shadow: 1px 0px 3px rgb(0,179,167);
	   -moz-box-shadow: 1px 0px 3px rgb(0,179,167);
	     -o-box-shadow: 1px 0px 3px rgb(0,179,167);
            box-shadow: 1px 0px 3px rgb(0,179,167);
}
.send_info button:hover {
	background-color: #028c83;
	border-color: #028c83;
}
.send_info button.btn-success:focus,
.send_info button.btn-success:not(:disabled):not(.disabled):active:focus {
	background-color: #00b3a7;
	border-color: #00b3a7;
	box-shadow: none;
}
.send_info img {
	margin: 0 16px;
	cursor: pointer;
}
.send_info img:not(:nth-child(10n)) {
	margin-right: 0;
}
.send_info img:hover {
	filter: invert(100%)
}
/*************** section end **************/
/*************** footer start **************/
footer {
	border: 5px solid #8a0e49;
}
/*************** footer end **************/

/*************** Media Quires **************/
@media (max-width: 767px) {
	.send_info {
		flex-wrap: wrap;
	}
	.hire_me_bg {
		width: 93%;
	}
}
@media (max-width: 575px) {
	.send_info button {
		margin-bottom: 12px;
	}
}