// screen size 1024px
@media screen and (max-width: 1024px) 
        {
        .nav-p, .main-p, .content-p, .footer-banner, .f-p, .footer-wrapper .copyright-section, .creatives-page .performance-wrapper, 
         .blog-detail-wrapper .main-content-wrapper, .blog-page-container .main-content-wrapper, .creators-profile-page, .privacy-page{
            padding-left: 16px;
            padding-right: 16px;
        }
        .b-p{
            padding-left: 16px;
            .red-btn{
                margin-left: 0px;
            }
        }
        .performance-wrapper{
            .content-box{
                h2{
                    
                font-size: 20px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .main-content-wrapper {
            .main-heading{
                padding: 0px 16px;
            }
            .main-tab-content {
                .nav{
                    .nav-item{
                        .nav-link {
                            padding: 16px;
                        }
                    } 
                } 
            }
        }

        .footer-banner {
            height: auto;
            .banner-container {
                height: auto;
                .banner-text{
                    margin-right: 0px;
                    margin-left: 16px;
                }
                .banner-img {
                    height: auto;
                    img{
                        object-fit: contain;
                    }
                }
            }
        }
        .influencer-page .main-content-wrapper .featured-influencers .influencer-heading h1{
            font-size: 54px;
        }
        .influencer-page .main-content-wrapper .main-tab-content .navbar{
            padding: 0px 16px;
        }
        .creative-banner .banner-content .banner-img{
            width: auto;
            height: auto;
            img{
                width: 450px;
            }
        }
        .creatives-page .why-join-heading{
            padding: 30px 16px;
        }

        
            .primary-banner.eshop-banner .banner-content .banner-img{
                img{
                    width: 500px;
                }
            }
        
        .eshop-page .main-content-wrapper .main-heading h1{
            font-size: 50px;
            line-height: 75px;
            margin: 0px 0 2px 0;
        }
        .eshop-page .main-content-wrapper .main-heading p{
            font-size: 18px;
            line-height: 100%;
        }
        .eshop-page .main-content-wrapper .main-heading {
            padding: 0;
            margin: 50px 0 0px 0;
        }

        .about-us-banner .banner-content .faq-img{
            margin-right: 0px;
        }
        .pricing-page{
            margin-top: 0px;
            margin-bottom: 30px;
            .main-content-wrapper{
                padding-left: 16px;
                padding-right: 16px;
                .choose-plan .tab-content .tab-pane .plan-container .plan-desc li{
                    align-items: baseline;
                }
            }
        }
        .blog-page-container .main-content-wrapper{
            padding-top: 50px;
            padding-bottom: 50px;
            .blog-content {
                h2{
                    margin-bottom: 8px;
                }
                p{
                    margin-bottom: 16px;
                }
            }
        }
        .privacy-page{
            padding-top: 40px;
            .main-content-wrapper{
                p{
                    font-size: 18px;
                    line-height: 140%;

                }
                h3{
                    font-size: 25px;
                    line-height: 40px;
                }
            }
        }
        // screen size 1024px
        
}